/**
 * This file is a container for custom CSS. You can use it to override the default styles of the theme.
 *
 * 1. Copy the file "SAMPLE.custom.css" and rename it to "custom.css".
 *    Otherwise this file will not be loded by Magento.
 * 2. Enable it in the admin panel.
 * 3. Uncomment slected sample styles or add your own CSS to override the default styles of the theme.
 *
 * Please refer to the user guide for more details.
 *
 */
/* Products
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Product labels
-------------------------------------------------------------- */
/*
.sticker.new {
  background-color:#555;
  color:#fff;
}
.sticker.sale {
  background-color:orange;
  color:#fff;
}
*/
/* Stock indicator on product page (configurable products):
icon background color
-------------------------------------------------------------- */
/*
a.availability-only span.icon { background-color:orange; }
*/
/* Miscellaneous
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Drop-down caret */
/*
.caret {
  opacity:1;
  filter:alpha(opacity=100);
}
*/

button.button span {
    background-color: #80AB3F;
}
.header-text a span.icon {
    display: none;
}
#nav,
.vertnav-top {
    border-bottom: 0px solid transparent;
}
#nav > li > a,
#mobnav-trigger {
    font-size: 15pt;
    font-weight: 600 !important;
}
.header-white-container {
    display: none;
}
#nav > li {
    box-shadow: none;
    padding-top: 5px;
}
#nav > li:hover {
    background: #587926;
}
/*#nav > li > a{ line-height:28px;}*/

.search-wrapper-centered .form-search .input-text {
    background: url("../images/backgound.png");
}
.form-search .input-text {
    border-color: rgba(39, 39, 39, 0.54) !important;
    color: #fff !important;
}
.form-search .input-text {
    -webkit-box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.54);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.54) inset;
}
#mobnav-trigger:hover {
    background: #ff9500;
    color: #FFF;
}
.form-search .button {
    background-color: transparent !important;
}
/*.header-white-container{ background-color:#fff;margin-top:-22px;position:relative;z-index:999;}*/

#mobnav-trigger:hover .trigger-icon {
    color: #FFF;
}
#mobnav-trigger.active {
    background: #ff9500;
    color: #FFF;
}
#mobnav-trigger.active .trigger-icon .line {
    background-color: #FFF;
}
#mobnav-trigger .trigger-icon .line {
    background-color: #FFF;
}
#mobnav-trigger:hover .trigger-icon .line {
    background-color: #FFF;
}
.header-top .grid-full {} #mini-cart span.icon {
    /*background-color: #FFFFFF !important;*/
    /* border: 1px solid #F29400 !important;*/

    display: block;
}
div.icon,
span.icon {
    background-color: #999;
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 0 !important;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 3px;
}
.top-links span.icon {
    background-color: #FFFFFF !important;
    /* border: 1px solid #F29400 !important;*/

    display: block;
    border-radius: 0;
}
.header-primary-container {} .header-container4 {} .dropdown-toggle.cover > div {
    cursor: default;
    text-align: center;
}
.dropdown-toggle .icon.close-to-text {
    margin-right: 0;
}
.feature-icon-hover {
    font-weight: bold;
    font-size: 12px;
}
.links > li > a:hover {
    color: #FF9500 !important;
}
.block-payment-banners {
    border: 1px solid #bababa;
}
.horizontal-section {
    display: none;
}
.pager .pages li a:hover {
    background-color: unset !important;
    color: #f29400 !important;
}
.sorter .view-mode span.grid,
.sorter .view-mode span.list,
.pager .pages li.current {
    background-color: #FFF;
}
.header .links-wrapper-separators-left .links > li {
    margin-left: 0 !important;
}
.header .links-wrapper-separators-left .links > li a {
    padding: 0 !important;
}
.header .links-wrapper-separators-left .links > li.first {
    font-weight: bold;
}
.header .links-wrapper-separators-left .links > li.last {
    margin-right: 8px !important
}
/*.level0.nav-12,
#nav .level0.nav-12 ul.level1,
#nav .level0.nav-12 > .level0-wrapper {
    background-color: #c5191a;
}
.level0.nav-11,
#nav .level0.nav-11 ul.level1,
#nav .level0.nav-11 > .level0-wrapper {
    background-color: #e6590b;
}
.level0.nav-10,
#nav .level0.nav-10 ul.level1,
#nav .level0.nav-10 > .level0-wrapper {
    background-color: #e0c035;
}
.level0.nav-9,
#nav .level0.nav-9 ul.level1,
#nav .level0.nav-9 > .level0-wrapper {
    background-color: #00993c;
}
.level0.nav-8,
#nav .level0.nav-8 ul.level1,
#nav .level0.nav-8 > .level0-wrapper {
    background-color: #009de1;
}
.level0.nav-7,
#nav .level0.nav-7 ul.level1,
#nav .level0.nav-7 > .level0-wrapper {
    background-color: #064b8b;
}*/

.phone-text {
    color: #808080;
    font-size: 14px;
}
.shipping-text {
    float: right;
    color: #808080;
    font-size: 12px;
    line-height: 0.8em;
}
.bigsale {
    text-align: left;
}
.bigsale ul li {
    padding: 4px 15px 4px 1px;
    float: left;
    /*background: url("../images/list-style.png") no-repeat 13px 4px;*/
}
ul.header-image-top {
    float: right;
    margin-right: 50px;
}
.links-wrapper-separators-left .links > li > a {
    background-image: none;
}
#mini-cart {
    position: relative;
    z-index: 999;
}
.links > li,
.links > li > a {
    line-height: 1.2em;
}
.header-top,
.header .dropdown {
    line-height: 1.2em;
}
.dropdown-toggle .cart-label {
    display: block;
    color: #fff;
    margin-top: -1px;
    width:112px;
}
.price {
    color: #fff;
}
.view-cart-link a {
    color: #81B03C;
}
#mini-cart .dropdown-toggle .subtotal {
    font-weight: normal;
}
#mini-cart .checkout-cart {
    display: block;
    width: 125px;
    font-weight: normal;
}
#mini-cart .view-cart-link {
    display: block;
}
#mini-cart .view-cart-link a {
    font-weight: normal;
}
#mini-cart .view-cart-link a:hover {
    text-decoration: underline;
}
.dropdown-toggle .icon.first {
    margin-left: -15px;
    float: left;
}
.user-menu.clearer.v-grid.grid12-3 {
    width: 15%;
}
.label.amount {
    font-weight: normal;
}
.header-top p {
    line-height: 2em;
    font-size: 14px;
    text-align: center;
}
.empty .price {
    font-weight: normal;
}
.the-slideshow {
    margin: -57px auto 0;
}
.nav-container {
    margin-top: 0px;
}
.footer-top {
    background: url(../images/bg_footer.png) repeat-y left top !important;
    height: 40px;
}
.footer-container .custom-bullet {
    line-height: 25px;
}
.collapsible .block-title {
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 0;
}
.collapsible .block-content {
    line-height: 25px;
}
.footer-copyright a {
    display: none;
}
.footer-primary .section {
    padding-bottom: 0;
}
body.cms-index-index .main,
body.cms-index-defaultindex .main {
    padding-bottom: 0;
}
.cms-home .price-box .left-price-block{ display: none; }
.cms-home .price-box .old-price,
.cms-home .price-box .save-price {
    visibility: hidden;
}
.cms-home .price-box .price {
    text-align: right;
    /*color: #090909 !important;*/
    font-size: 26pt;
    font-weight: 600;
    display: block;
    line-height: 40px;
}
.img-box-main {
    background: #e6e6e6;
    padding: 0;
}
.product-name a {
    font-size: 12pt;
    /*color: #090909 !important;*/
    font-weight: 700;
}
.block-box {
    margin-bottom: 15px;
    margin-top: 10px;
}
.block-box .block-title {
    line-height: 35px;
    background: #81b03c;
    /*! margin: 20px 0px; */
    text-align: center;
}
.block-box:hover > .block-title {
    background: #949494;
}
.block-box .block-title strong {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #FFF;
}
.block-box .block-title strong span {font-size: 16px;}
.block-box .block-content {

}
.block-box .block-content .price {
    font-size: 32px;
    line-height: 25px;
    font-weight: 300;
    color: #FFF;
    padding: 0 5px 10px 10px;
}
.block-box .block-content button {
    background-color: #81b03c;
    border: 0;
    display: block;
    width: 100%;
    padding: 3px 0;
    cursor: pointer;
}
.block-box .block-content button:hover {
    background-color: #043767;
}
.block-box .block-content button span {
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    color: #FFF
}
.block-box .block-content p.price {
    padding: 0
}
.hardcover {
    background-color: #064b8c;
}
.ebook {
    /*background-color: #019ee3;*/
}
.ebook button {
}
.ebook button:hover {
}
.tabs-panels {
    box-shadow: 0 0 15px 0 #ddd;
}
.products-grid .item .tax-details {
    display: none;
    text-align: left;
}
.short-description ul {} .short-description ul li {
    padding-left: 22px;
    background: url("../images/list-style.png") no-repeat 0 6px;
    margin-left: 7px;
}
/*-- CUSTOM --*/

#mini-cart {
    z-index: 1000;
}
.header-container4 {
    z-index: 2001;
    position: relative;
}
.header-main {
    height: 105px;
}
#shopping-cart-table tbody td {
    vertical-align: middle;
}
.old-price .price-label,
.old-price .price {
    font: 100 16px 'Verdana';
    line-height: 18px;
    color: #888;
}
.checkout-steps {
    text-align: center;
}
.checkout-steps li {
    display: inline-block;
    margin: 0 4px;
    width: 290px;
    line-height: 18px;
    padding: 8px 0;
    border: 1px solid #cdcdcd;
    background: #fff;
}
.checkout-steps li span {
    font: 600 14px 'open sans';
    color: #808080;
}
.checkout-steps li.active {
    background: #f2f2f2;
}
.checkout-steps li.active span {
    padding-right: 25px;
    background: url("../images/check-step.png") no-repeat right center;
}
.ui-tooltip h4{
     text-align: left;
}
.ui-tooltip ul{
     text-align: left;
}
.ui-tooltip li{
    text-align: left;
    list-style-type: circle;
    margin-left: 15px;
}
.product-view .product-shop .product-name.quickview {
    display: none;
}
.product-view .product-shop .old-price .price,
.product-view .product-shop .save-price .price {
    color: #000;
    padding-left: 0;
    padding-right: 0;
    font-size:13px !important;
}
.product-view .product-shop .price-box {
    padding: 40px 10px 15px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.product-view .child-grouped .price-box {
    padding: 50px 10px 0px 10px;
}
.product-view .product-shop .cart-button-container{
    margin-top: 30px;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-left: 15px;
}
.product-view .product-shop.product-shop-ngrouped .cart-button-container{
    margin: 25px 0px 0px 0px;
}
.product-view .left-price-block{
    float: left;
    width: 35%;
    border-right: 1px groove rgba(95, 95, 88, 0.22);
    box-shadow: 3px 0px 1px 0px rgba(221, 221, 221, 0.31);
    padding-right: 5px;
}
.product-view .product-shop .left-price-block{
    width: 45%;
}

.child-grouped .save-price .price-label, .child-grouped .save-price .price{
    color: #81b03c!important;
}
.child-grouped .price-box .left-price-block{
    border-right: none;
    box-shadow: none;
}
.child-grouped .price-box {
    position: relative;
    text-align: left;
}
.child-grouped .left-price-block {
    width: 100%;
    text-align: left;
    position: absolute;
    top: 10px;
}
.child-grouped .special-price {
    width: 100%;
    text-align: left;
}
.child-grouped .special-price .price {
    font-size: 46px!important;
}
.child-grouped .special-price .font-big{
    font-size: 28px!important;
}
.child-grouped .special-price .font-small {
    font-size: 16px!important;
}
.child-grouped .special-price .font-medium {
    font-size: 28px!important;
    font-weight: 600;
}

.product-view .pdp-agreements{
    clear: both;
    padding-top:5px;
}
.product-view .product-shop .block-box.ebook .left-price-block,
.product-view .product-shop .ebook + .block-box.hardcover .left-price-block{
    float: none;
    width: 100%;
    text-align: center;
}
.product-view .product-shop .block-box{
    float: left;
    width: 47%;
    border: 2px solid #dedede;
    margin-right: 3px;
    }
.product-shop-ngrouped .block-box.ebook{
    float: none !important;
    width: 100% !important;
    border: none !important;
}
.product-view .product-shop .ebook + .block-box.hardcover{
    /*! float: right; */
}
.product-shop-ngrouped .price-box,
.product-shop-ngrouped  .ebook + .block-box.hardcover .price-box {
    padding: 53px 0 20px;
    margin-bottom: 20px;
    margin-right: -10px;
    background: #fff url(../images/bg-price.png) no-repeat right bottom;
    text-align: right;
}
.product-view .product-shop .block-box.ebook .price-box .special-price,
.product-view .product-shop .ebook + .block-box.hardcover .price-box .special-price{
    padding: 25px 0 0;
}
.product-view .product-shop .block-box.ebook .block-title,
.product-view .product-shop .ebook + .block-box.hardcover .block-title{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*! padding: 0 0 15px; */
}
.product-view .product-shop .block-box.ebook .block-title strong,
.product-view .product-shop .ebook + .block-box.hardcover .block-title strong{
    display: block;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    padding: 7px 0;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #9b9b9b;
}
.product-view .product-shop .ebook .old-price .price-label,
.product-view .product-shop .ebook + .block-box.hardcover .old-price .price-label,
.product-view .product-shop .ebook .old-price .price,
.product-view .product-shop .ebook + .block-box.hardcover .old-price .price,
.product-view .product-shop .ebook .save-price .price,
.product-view .product-shop .ebook + .block-box.hardcover .save-price .price,
.product-view .product-shop .ebook .save-price .price-label,
.product-view .product-shop .ebook + .block-box.hardcover .save-price .price-label{
    font-size: 13px!important;
}
.product-view .product-shop .ebook + .block-box.hardcover .block-title strong{
    color: #fff;
}
.product-view .product-shop .ebook + .block-box.hardcover .price-box{
    /*background: none;*/
}
.product-view .product-shop .block-box.ebook .block-content,
.product-view .product-shop .ebook + .block-box.hardcover .block-content{
    /*padding: 0 15px 10px;*/
}
.product-view .product-shop .block-box.ebook .block-content button,
.product-view .product-shop .ebook + .block-box.hardcover .block-content button{
    padding: 3px 0;
}
#product-addtocart-button{padding: 5px 0;}
.fancybox-inner .product-view #product-addtocart-button{padding: 0;}
.product-view .product-shop .price-box .offers{
    float: right;
    width: 50%;
}
.product-view .product-shop .price-box .price-label {
    color: #1d1d1d;
    font-size: 12px !important;
    font-family: 'Verdana';
}
.block-box .block-content .old-price .price-label,
.block-box .block-content .old-price .price{
    font-weight: 300;
    color: #808080;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -1px;
}
.block-box .block-content .save-price .price-label,
.block-box .block-content .save-price .price{
    font-weight: 300;
    color: #808080;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -1px;
}
.block-box .block-content .save-price .price{
    font-weight: 300;
    font-family: 'Verdana';
}
.product-view .product-shop .price-box .special-price .price-label {
    display: none;
}
.product-view .product-shop .price-box .special-price .price {
    font-size: 32px;
    padding: 0;
    font-weight: bold;
}
.product-view .product-shop .price-box .regular-price .price {
    font-size: 35.92pt;
    padding-left: 0;
    font-weight: bold;
}
.product-view .product-shop .price-box .save-price .price {
    font-size: 16px;
}
.product-view .product-secondary-column .inner {
    margin-top: 0
}
.product-view .product-shop .green {
    margin-bottom: 10px;
}
.product-view .product-shop .block-content button.disabled span span {
    color: rgb(129, 129, 129) !important
}
.fancybox-inner .product-view .product-info-column .product-name.quickview {
    display: block;
}
.fancybox-inner .product-view {
    width: 660px;
    display: inline-block;
}
.fancybox-inner .product-view .price-box {
    /* margin-bottom: 51px; */
    padding: 15px 0 20px;
    margin-bottom: 20px;
    /* margin-right: -10px; */
    background: #fff url(../images/bg-price.png) no-repeat right bottom;
    text-align: right;
}
.fancybox-inner .product-view .product-img-column {
    width: 51.57%;
    margin-top: 0;
}
.fancybox-inner .product-view .product-info-column {
    width: 45.43%;
    margin-top: 45px;
    float: right;
    text-align: left;
}
.fancybox-inner .product-view .product-info-column .product-image {
    padding: 30px;
    background: #e6e6e6;
}
.fancybox-inner .product-view .price-box {
    margin-bottom: 40px;
}
.fancybox-inner .product-view .price-box .price {
    font: 600 32px 'open sans';
    color: #1d1d1d;
}
.fancybox-inner .product-view .price-box .old-price .price {
    font-weight: 300;
    color: #808080;
    font-size: 13px;
}
.fancybox-inner .product-view .price-box #save-price.price {
    font-weight: 300;
    color: #808080;
    font-size: 13px;
}
.fancybox-inner .product-view .grouped .price-box {
    padding: 0px 0 20px;
    margin-bottom: 20px;
    margin-right: -10px;
    background: #fff url(../images/bg-price.png) no-repeat right bottom;
    text-align: right;
}
.fancybox-inner .product-view .grouped .price-box .price {
    color: #1d1d1d;
    font-weight: 300;
    padding-left: 0
}
.fancybox-inner .product-view .grouped .price-box .price-label {
    color: #fff;
}
.fancybox-inner .product-view .grouped .price-box .old-price .price {
    font-size: 20px;
    font-weight: 300;
    color: #ddd;
}
.home-products .three-products{
    clear: both;
}
.fancybox-inner .product-view .grouped .price-box .special-price .price {
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15)
}
.fancybox-inner .product-view .grouped .price-box .save-price .price {
    font-size: 18px;
    font-weight: 300;
}
.fancybox-inner .product-view .price-box .old-price .price-label,
.fancybox-inner .product-view .price-box .special-price .price-label {
    display: none;
}
.fancybox-inner .product-view .btn-cart {
    padding: 0px;
}
.fancybox-inner .product-view .grouped .btn-cart {
    padding: 5px 0px;
}
.fancybox-inner .product-view .btn-cart span {
    background: #81b03c;
    font-size: 20px !important;
    line-height: 25px !important;
    font-weight: 400 !important;
}

/*.fancybox-inner .product-view .hardcover {
    background: none;
    display: inline-block;
    width: 60%;
}*/
.fancybox-inner .product-view .grouped.hardcover {
    /*background:#80ab3f;*/
    display: block;
    width: 100%;
}
.fancybox-inner .product-view .product-info-column h1{
    font: 600 26px/26px "Open Sans",georgia,serif !important;
}
.fancybox-inner .product-view .hardcover > .btn-cart {
    width: 100%;
    background: #80ab3f;
}
.fancybox-inner .product-view .hardcover > .btn-cart span {
    font: 600 14px 'open sans';
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    line-height: 16px;
    padding: 3px 10px;
    height: auto;
}
.fancybox-inner .product-view .goto-product {
    float: right;
    text-align: right;
    color: #808080;
    text-decoration: underline;
    margin-right: 16px;
}
.catalog-category-view .fancybox-wrap,
.catalogsearch-result-index .fancybox-wrap {
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    max-height: 86%;
    overflow-y: auto;
}
.product-view .product-img-column .slider-arrows3 .owl-controls .owl-buttons div {
    background-size: 34px auto;
}
.product-view .product-img-column .slider-arrows3 .owl-controls .owl-buttons div.owl-prev {
    background-position: 10px 0;
}
.product-view .product-img-column .slider-arrows3 .owl-controls .owl-buttons div.owl-next {
    background-position: -15px 0;
}
.author {
    display: inline-block;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 130px;
}
.author .author-image {
    width: 115px;
    position: absolute;
    top: 0;
    left: 0;
}
.product-view .price-box .old-price,
.product-view .price-box .special-price {
    display: inline-block;
}
.img-box .more-images {} .page-banners {
    display: inline-block;
    width: 100%;
}
.page-banners ul li {
    float: left;
}
#product-tabs .slider-arrows1 .owl-controls .owl-buttons {
    position: static;
}
#product-tabs .slider-arrows1 .owl-controls .owl-buttons div {
    position: absolute;
    width: 30px;
    height: 60px;
    top: 50%;
    margin: -30px 0 0;
    background-size: 70px auto;
    background-position: 0 0;
}
#product-tabs .slider-arrows1 .owl-controls .owl-buttons .owl-next {
    left: auto;
    right: 0;
    background-position: -40px 0;
}
#product-tabs .tabs-panels .std ul li {
    margin-left: 10px;
    padding-left: 22px;
    background: url("../images/list-style.png") no-repeat 0 6px;
}
#product-tabs .tabs-panels .std p span {
    font-size: 15px!important;
}
.product-view .short-description .std ul.dots,
.product-view .box-tabs .std ul.dots,
.product-view .box-tabs .panel#system_require_tab .std ul {
    margin-left: 25px;
}
#product-tabs .tabs-panels .std ul.dots li,
.product-view .box-tabs .panel#system_require_tab .std ul li {
    list-style: disc outside;
    padding: 0;
    margin: 0;
    background: none;
}
/*.block-related .owl-item .product{float: left;width: 25%;padding: 0 10px; box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -ms-box-sizing: border-box;}
.catalog-product-view .block-related .slider-arrows1 .owl-controls .owl-buttons .owl-prev{background-position: 0 0;margin-left: -38px;}
.catalog-product-view .block-related .slider-arrows1 .owl-controls .owl-buttons .owl-prev:hover{background-position: 0 -87px}
.catalog-product-view .block-related .slider-arrows1 .owl-controls .owl-buttons .owl-next{background-position: -60px -3px;margin-right: -38px;}
.catalog-product-view .block-related .slider-arrows1 .owl-controls .owl-buttons .owl-next:hover{background-position:-60px -88px;}
.block.block-related.block-related-thumbnails{padding: 0 20px;}
.catalog-product-view .block-related-thumbnails .product-details{margin-left: 0;}
.catalog-product-view .block-related .product-details h3 a,
.catalog-product-view .block-related .product-details .price-box .price
{color: #808080;font-size: 16px;font-weight: bold;}*/

.catalog-product-view .block-related .owl-buttons {
    right: 0 !important;
}
.cms-home .slider-arrows2 .owl-controls .owl-buttons div {
    height: 80px;
    border-radius: 0;
    -webkit-border-radius: 0;
    background-color: transparent;
}
.cms-home .slider-arrows2 .owl-controls .owl-buttons div:hover {
    background-color: transparent;
}
.cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-prev,
.cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-prev:hover {
    background-position: 0 0;
}
.cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-next,
.cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-next:hover {
    background-position: -60px 0;
}
.main-layout .cart .item-image {
    float: left;
}
.main-layout .cart .cart-table .item-name {
    display: block;
    margin-left: 90px;
}
.main-layout .cart .cart-table .additional-info .text {
    display: block;
    margin: 0 0 4px;
}
.main-layout .cart .item-options dt,
.main-layout .cart .item-options dd {
    font-size: 12px;
}
.itemslider-wrapper > h2 {
    font-size: 18px;
    color: #333;
    font-weight: 700;
}
.form-list .input-box {
    position: relative;
}
.colout-area {
    display: inline-block;
    width: 100%;
}
.colout-area .user-vote {
    float: left;
    width: 50%;
}
.colout-area .user-vote h3 {
    font-size: 24px;
    font-weight: bold;
    color: #4c4c4c;
    padding-bottom: 5px;
    border-bottom: 1px solid #4c4c4c;
}
#user-vote-content .item {
    font-size: 16px;
    color: #4c4c4c;
    line-height: 20px;
}
#user-vote-content .item-title {
    font-size: 18px;
    color: #333;
    padding: 5px 0 15px;
}
#user-vote-content .rate-slogan .rating-box {
    display: inline-block;
    vertical-align: top;
}
#user-vote-content .rate-slogan .slogan {
    display: inline-block;
    vertical-align: top;
    margin: 2px 0 0 5px;
    font-size: 16px;
    color: #4c4c4c;
    line-height: 22px;
}
#user-vote-content .user-date {
    margin: 5px 0 10px;
}
#user-vote-content .verify-text {
    color: #ff9500;
    margin: 15px 0 3px;
}
.colout-area > a {
    float: right;
    width: 47%;
}
/*-- MY ACCOUNT --*/

.account-create .name-firstname #firstname {
    width: 190px;
}
.box-account .box-head {
    border: none;
    margin: 0;
    padding: 30px 0 20px;
}
.box-account .box-head h2 {
    font: 600 36px 'open sans';
    color: #4c4c4c;
}
.box-info form {
    padding: 30px 40px;
    border: 1px solid #cdcdcd;
    display: block;
}
.box-info .fieldset {
    margin-bottom: 0;
}
.box-info .form-list .name-prefix,
.box-info .form-list .customer-name-prefix .name-firstname,
.box-info .form-list .customer-name-middlename .name-firstname,
.box-info .form-list .field {
    width: 100%;
}
.box-info .form-list label {
    font: 600 20px 'open sans';
    line-height: 24px;
    color: #4c4c4c;
    width: 170px;
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.box-info .form-list label.required em {
    display: none;
}
.box-info .form-list .input-box {
    clear: none;
    display: inline-block;
    vertical-align: middle;
}
.box-info .form-list select,
.box-info .form-list input.input-text {
    height: 30px;
    border: 1px solid #cdcdcd;
    padding: 0 10px;
}
.box-info .form-list .customer-dob input.input-text + label {
    display: none;
}
.box-info .form-list input[type=checkbox] + label {
    width: auto;
    font-size: 14px;
}
.box-info .buttons-set {
    margin: 0;
    padding-left: 189px;
}
.box-info .buttons-set p.required {
    display: none;
}
.box-info .buttons-set button {
    width: 450px;
    height: 40px;
    float: none;
}
.box-info .buttons-set button span {
    background: none;
    float: none;
    display: inline;
    font: 600 18px 'open sans';
}
.box-info .col2-set {
    margin-top: 40px;
    display: inline-block;
    width: 100%;
}
.box-info .col2-set .box-title {
    float: left;
    width: 26.12%;
    border: none;
    text-align: center;
}
.box-info .col2-set .box-title h3 {
    float: none;
    font: 600 20px 'open sans';
    color: #4c4c4c;
}
.box-info .col2-set .box-content {
    float: right;
    width: 73.88%;
}
.box-info .col2-set .box-content .col-1,
.box-info .col2-set .box-content .col-2 {
    float: none;
    width: 100%;
    border: none;
    margin-bottom: 50px;
}
.box-info .col2-set .box-content h4 {
    color: #666;
    font-size: 18px;
}
.box-info .col2-set .box-content address {
    font: 300 18px 'open sans';
    color: #808080;
}
.customer-ads-block {
    border: 1px solid #cdcdcd;
    background: #f2f2f2;
    position: relative;
}
.customer-ads-block:before {
    width: 150px;
    height: 150px;
    background: url("../images/vip-ic.png") no-repeat;
    position: absolute;
    top: -16px;
    right: 30px;
    content: "";
}
.customer-ads-block h2 {
    font: 600 28px 'open sans';
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    line-height: 30px;
    padding: 15px 30px;
    background: #87a7c6;
}
.customer-ads-block h3 {
    font: 600 24px 'open sans';
    color: #4d4d4d;
    line-height: 30px;
    padding: 10px 30px;
}
.customer-ads-block ul {
    padding: 0 30px 20px;
}
.customer-ads-block ul li {
    font: 300 18px 'open sans';
    line-height: 22px;
    padding: 13px 0 13px 35px;
    color: #4d4d4d;
    background: url("../images/check-step.png") no-repeat left center;
}
#myproducts .related-products {
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}
#myproducts .download,
#myproducts .date,
#myproducts .autocode {
    text-align: center;
    vertical-align: middle;
}
#myproducts .date span {
    display: block;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 700;
}
#myproducts .related-products img {
    display: block;
    margin: 0 auto 10px;
}
#myproducts .disabled {
    opacity: 0.2
}
.cms-home .std .slider-arrows1 .owl-controls .owl-buttons {
    position: static;
}
.cms-home .std .slider-arrows1 .owl-controls .owl-buttons div {
    top: 24%;
    position: absolute;
}
.cms-home .std .slider-arrows1 .owl-controls .owl-buttons div.owl-next {
    right: 0;
    left: auto;
}
#nav > li {
    position: relative;
}
#nav .level-top .level0-wrapper {
    top: 37px;
}
#nav .level-top .level0-wrapper .level0-wrapper2 {
    padding: 0;
}
#nav .level-top .level0-wrapper .nav-block {
    margin: 0;
}
#nav ul.level0 > li {
    width: 100%;
    float: none;
    padding: 0;
    position: relative;
}
#nav ul.level0 > li.parent {
    padding-right: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#nav ul.level0 > li.parent:before {
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 4px 0 4px 5px;
    content: "";
    height: 0;
    margin: -4px 0 0;
    position: absolute;
    right: 5px;
    top: 50%;
    width: 0;
}
#nav ul.level0 > li > a {
    margin: 0;
    text-align: left;
    padding: 5px 5px 5px 8px;
    color: #fff;
}
#nav ul.level0 > li:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}
#nav ul.level1 {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    padding: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1)
}
#nav li.level1:hover > ul.level1 {
    display: block;
}
#nav ul.level1 li a {
    color: #fff;
}
.block-layered-nav {
    border: 1px solid #d6d6d6;
}
.block-layered-nav .block-title {
    background: #1fbfc5;
    background: -moz-linear-gradient(top, #1fbfc5 0%, #19a1a7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1fbfc5), color-stop(100%, #19a1a7));
    background: -webkit-linear-gradient(top, #1fbfc5 0%, #19a1a7 100%);
    background: -o-linear-gradient(top, #1fbfc5 0%, #19a1a7 100%);
    background: -ms-linear-gradient(top, #1fbfc5 0%, #19a1a7 100%);
    background: linear-gradient(to bottom, #1fbfc5 0%, #19a1a7 100%);
    padding: 3px 20px;
    font: normal 14px Arial;
    color: #fff;
    line-height: 22px;
}
.block-layered-nav .currently {
    background: none;
    margin: 10px 0 0;
}
.block-layered-nav .currently .block-subtitle {
    display: none;
}
.block-layered-nav .currently ol {
    background: none;
    padding: 0 19px;
}
.block-layered-nav .currently ol li {
    display: inline-block;
    padding: 4px 4px 4px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    background: #1dc971;
    background: -moz-linear-gradient(top, #1dc971 0%, #02af56 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1dc971), color-stop(100%, #02af56));
    background: -webkit-linear-gradient(top, #1dc971 0%, #02af56 100%);
    background: -o-linear-gradient(top, #1dc971 0%, #02af56 100%);
    background: -ms-linear-gradient(top, #1dc971 0%, #02af56 100%);
    background: linear-gradient(to bottom, #1dc971 0%, #02af56 100%);
}
.block-layered-nav dl {
    padding: 0 20px;
}
.block-layered-nav dd {
    padding: 0;
}
.block-layered-nav dt {
    padding: 7px 0 5px;
}
.block-layered-nav dd li {
    margin: 0 0 8px;
}
.block-layered-nav dd li,
.block-layered-nav dd li a {
    color: #404040;
}
.block-layered-nav dd li:hover,
.block-layered-nav .currently ol li:hover {
    background-position: 0 0;
}
.block-layered-nav .currently ol li .label {
    display: none;
}
.block-layered-nav .currently ol li span {
    font: normal 12px Arial;
    color: #fff;
    line-height: 16px;
}
.block-layered-nav .currently .btn-remove {
    width: 16px;
    height: 16px;
    background: url("../images/remove-filter.png") no-repeat;
}
.block-layered-nav .actions {
    padding: 5px;
    display: none;
}
#my-orders-table th,
#myproducts th {
    font: 600 20px 'open sans';
    color: #4c4c4c;
    border: none;
}
#my-orders-table td,
#myproducts td {
    font: 300 18px 'open sans';
    color: #808080;
    border: 1px solid #cdcdcd;
    border-left: none;
    border-right: none;
}
#myproducts th:first-child,
#my-orders-table th:first-child {
    padding-left: 20px;
}
#myproducts td:first-child,
#my-orders-table td:first-child {
    border-left: 1px solid #cdcdcd;
    padding-left: 20px;
}
#myproducts td:last-child,
#my-orders-table td:last-child {
    border-right: 1px solid #cdcdcd;
}
#myproducts td.article h4 {
    font-size: 20px;
    font-weight: 600;
    color: #4c4c4c;
}
#myproducts td a,
#my-orders-table td a {
    font-weight: 600;
    text-decoration: underline;
}
.my-account > h2 {
    font: 600 36px 'open sans';
    color: #4c4c4c;
    margin: 25px 0;
}
.page-banners > .item {
    float: left;
    width: 33.33%;
    padding: 80px 15px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
}
.page-banners > #fotografie {
    background: url("../images/fotografie-ic.png") no-repeat center 10px;
}
.page-banners > #druckerei {
    background: url("../images/druckerei-ic.png") no-repeat center 10px;
}
.page-banners > #office_ {
    background: url("../images/office-ic.png") no-repeat center 10px;
}
.page-banners > .item h2 {
    font-weight: 700;
}
.page-banners > .item .content-item {
    font-size: 16px;
    line-height: 20px;
}
@media screen and (max-width: 980px) {
    .fancybox-inner .product-view {
        width: 100%;
        display: inline-block;
    }
}
@media screen and  (min-width: 768px) and (max-width: 980px) {
    .product-view .product-shop .block-box {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .catalog-category-view .fancybox-wrap {
        width: 90%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .fancybox-inner .product-view {
        width: 100%;
    }
    .fancybox-inner .product-view .product-img-column,
    .fancybox-inner .product-view .product-info-column {
        width: 100%;
        float: left;
        margin: 0 0 10px;
    }
    .product-view .product-shop .price-box .special-price .price{
        font-size: 35px!important;
    }
    /*.block-related .owl-item .product{width: 100%}*/
}
.slogan,
.item-title a {
    font-weight: bold;
    color: #808080;
}
.item-title a {
    color: #000;
}
.user-name {
    color: #009de1;
}
.product-shop-ngrouped .product-type-data .price-box {
    display: none;
}
.grid12-2 {
    width: 18%;
}
.products-grid.size-s .preistipp {
    width: 65px;
    height: 65px;
}
.green {
    font-size: 16px;
    font-weight: bold;
    color: green;
}
.link-pdf {
    padding: 15px 0;
}
.link-pdf ul li a {
    color: #088dc5;
    font-size: 16px;
    line-height: 24px;
}
.link-pdf ul li a:hover {
    text-decoration: underline;
}
.link-pdf ul li a:before {
    font-size: 1.3rem;
    content: '»';
    width: 0.75em;
    height: 0.95em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25em;
    margin-top: -0.6em;
    text-align: center;
}
/* Product Press tab*/

.pressContentTable tr {
    display: block;
    margin-bottom: 20px;
}
.pressContentTable tr td {
    padding-left: 15px;
}
.pressContentTable tr td .pressImageTD {
    width: 110px;
}
.pressContentTable tr td .pressDescriptionTD a {
    width: 110px;
}
.paypal-express-review {
    color: #4c4c4c;
}
span.more-info {
    color: #808080;
    display: block;
    font: 100 14px "open sans";
    text-align: right;
}
#express-review-checkout-cart .page-title h2 {
    font: normal 32px 'open sans';
    color: #393939;
}
#express-review-checkout-cart .data-table tr.even {
    background: none;
}
#express-review-checkout-cart .cart-table-wrapper {
    margin: 20px 0 0;
}
#express-review-checkout-cart .cart tr th,
#express-review-checkout-cart .cart tr td {
    padding: 10px;
    border-bottom: 1px solid #cdcdcd;
    box-sizing: content-box;
}
#express-review-checkout-cart .cart tr th {
    padding-top: 0;
    border: 1px solid #fff;
    border-bottom: 1px solid #cdcdcd;
    font: 700 20px 'open sans';
    color: #4c4c4c;
    line-height: 20px;
    vertical-align: top;
}
#express-review-checkout-cart .cart tr th:last-child {
    padding-right: 40px;
}
#express-review-checkout-cart .cart tr td {
    border-right: none;
}
#express-review-checkout-cart .cart .cart-table tr td.last {
    border-right: 1px solid #cdcdcd;
    text-align: right;
    width: 10%;
    padding-right: 40px;
    vertical-align: middle;
}
#express-review-checkout-cart .cart tr td:first-child {
    border-left: 1px solid #cdcdcd;
    padding-left: 40px;
}
#express-review-checkout-cart .cart tr td.col-total {
    vertical-align: top;
}
#express-review-checkout-cart .cart .item-image {
    display: inline-block;
    width: 90px;
    vertical-align: middle;
}
#express-review-checkout-cart .cart .item-name {
    display: inline-block;
    vertical-align: middle;
}
#express-review-checkout-cart .cart td:first-child,
#express-review-checkout-cart .cart .product-name {
    margin-bottom: 10px;
}
#express-review-checkout-cart .cart .item-name a {
    font: 600 20px 'open sans';
    color: #4c4c4c;
}
#express-review-checkout-cart .cart td span.text {
    font-weight: 100;
    font-size: 12px;
    color: #4d4d4d;
    display: block;
}
#express-review-checkout-cart .cart .price {
    font: 600 20px 'open sans';
    color: #808080;
}
#express-review-checkout-cart .cart .discount-form label,
#express-review-checkout-cart .cart tr.last td h2 {
    width: 510px;
    font-size: 20px;
    font-weight: 600;
    color: #4c4c4c;
    margin: 0;
}
#express-review-checkout-cart .cart .discount-form label,
#express-review-checkout-cart .cart .discount-form .input-box {
    display: inline-block;
    vertical-align: middle;
}
#express-review-checkout-cart .cart .discount-form .input-box .validation-advice {
    font-size: 12px;
    font-weight: normal;
    color: red;
}
#express-review-checkout-cart .cart .discount-form .input-text {
    width: 250px;
    height: 35px;
}
#express-review-checkout-cart .cart .discount-form .coupon-note {
    display: block;
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    text-decoration: underline;
    color: #808080;
    margin-top: 2px;
}
#express-review-checkout-cart .cart #discount-amount .price {
    color: #c5191a;
}
#express-review-checkout-cart .cart tbody tr.last td .text {
    font-weight: 100;
    font-size: 16px;
    color: #808080;
    width: 510px;
    display: inline-block;
}
#express-review-checkout-cart .cart tr.last td select {
    width: 250px;
}
#express-review-checkout-cart .cart tfoot td {
    border: none!important;
    text-align: left;
}
#express-review-checkout-cart .cart .btn-remove {
    display: none;
}
#express-review-checkout-cart .cart .btn-update {
    display: inline-block;
    vertical-align: middle;
    float: none;
    font: 300 14px 'open sans';
    color: #808080;
    text-decoration: underline;
    background: none;
    text-indent: 0;
    width: auto;
    height: auto;
    cursor: pointer;
}
#express-review-checkout-cart .cart .cart-right-column {
    width: 100%;
}
#express-review-checkout-cart .cart-collaterals {
    margin-top: 0;
}
#express-review-checkout-cart .cart .totals {
    background: none;
}
#express-review-checkout-cart .cart .totals-inner {
    padding: 0 40px 0 0;
    background: none;
}
#express-review-checkout-cart .cart .totals-inner td,
#express-review-checkout-cart .cart .totals-inner td:first-child {
    border: none;
}
#express-review-checkout-cart .cart .totals td {
    vertical-align: bottom;
    padding: 5px 0 0 40px;
    font-size: 16px;
    font-weight: 100;
    color: #808080;
}
#express-review-checkout-cart .cart .totals td .price {
    font-weight: 100;
    color: #808080;
    font-size: 16px;
}
#express-review-checkout-cart .cart .totals tfoot td strong {
    color: #4c4c4c;
}
#express-review-checkout-cart .cart .totals tfoot td .price {
    color: #4d4d4d;
    font-weight: 700;
}
.paypal-express-review .col-main > .page-title {
    padding: 0 40px;
}
.paypal-express-review .breadcrumbs {
    display: none;
}
.paypal-express-review .checkout-agreements {
    padding: 10px 40px;
}
.paypal-express-review input[type=radio],
.paypal-express-review input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    opacity: 0;
}
.paypal-express-review input[type=radio] + label,
.paypal-express-review input[type=checkbox] + label {
    position: relative;
    padding-left: 31px;
    display: inline-block;
    font: 100 20px 'open sans';
    color: #4d4d4d;
    line-height: 29px;
}
.paypal-express-review input[type="radio"] + label::before,
.paypal-express-review input[type="checkbox"] + label::before {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    left: 0;
    content: "";
    cursor: pointer;
    background-color: #efefef;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .3);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .3);
}
.paypal-express-review input[type=radio]:checked + label:after,
.paypal-express-review input[type=checkbox]:checked + label:after {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 3px;
    content: "";
    background: #009a3c;
}
.paypal-express-review .checkout-agreements .agree .checkout-term,
.paypal-express-review .checkout-agreements .agree .conditions {
    color: #064b8b;
    margin-left: 5px;
    text-decoration: underline;
}
.paypal-express-review .comment-block {
    margin: 30px 0 40px;
    padding: 0 40px;
}
.paypal-express-review .comment-block h3 {
    font-weight: 100;
    font-size: 20px;
    line-height: 29px;
    border: none;
    padding: 0;
    margin-bottom: 10px;
}
.paypal-express-review .comment-block textarea {
    width: 100%;
    height: 110px;
    resize: none;
    -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .3);
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .3);
    padding: 10px;
}
.paypal-express-review #review-please-wait {
    clear: both;
}
.customer-info {
    width: 100%;
    margin-bottom: 40px;
}
.customer-info tr {
    border: 1px solid #cdcdcd;
}
.customer-info td {
    padding: 10px 10px 20px;
    font: normal 14px 'open sans';
    color: #4c4c4c;
}
.customer-info td:first-child {
    text-transform: uppercase;
    color: #808080;
}
.customer-info td span {
    display: block;
}
.customer-info td span.button {
    cursor: pointer;
    text-decoration: underline;
}
.review-info {
    padding: 0 30px;
}
.review-info .customer-info tr {
    border: none;
}
.review-info .customer-info td {
    padding: 10px;
    font: 300 18px 'open sans';
    text-transform: none;
}
.review-info .customer-info td span {
    color: #808080;
}
.review-info .customer-info td span.button {
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    width: 250px;
    display: block;
    background-color: #f2f2f2;
    height: 40px;
    text-align: center;
    padding: 10px 0;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
}
.review-info .customer-info td span.button:hover {
    background: #eee;
}
.review-info .customer-info td:first-child {
    color: #4c4c4c;
    font-size: 20px;
    font-weight: 600;
    width: 10%;
}
.review-info .customer-info td:last-child {
    width: 10%;
}
.review-info .cart-table td:last-child {
    text-align: right;
    padding-right: 40px;
    border-right: 1px solid #cdcdcd;
}
#order_review_form .checkout-agreements {
    padding: 30px 40px 0;
}
#order_review_form .checkout-agreements .agree input[type=checkbox] + label,
#order_review_form .checkout-agreements .agree .checkout-term {
    font-weight: 100;
}
#order_review_form .checkout-agreements li {
    margin-bottom: 10px;
}
#order_review_form .checkout-agreements .agree,
#order_review_form .checkout-agreements .agree a {
    font-weight: 100;
    color: #4d4d4d;
    font-size: 20px;
    line-height: 29px;
}
#order_review_form .checkout-agreements .agree .checkout-term,
#order_review_form .checkout-agreements .agree .conditions {
    text-decoration: underline;
    margin-left: 5px;
    color: #064b8b;
}
#order_review_form input[type=radio],
#order_review_form input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    opacity: 0;
}
#order_review_form input[type=radio] + label,
#order_review_form input[type=checkbox] + label,
#order_review_form input[type=checkbox] + a.view-agreement {
    position: relative;
    padding-left: 31px;
    display: inline-block;
    font: 600 20px 'open sans';
    color: #4d4d4d;
    line-height: 29px;
}
#order_review_form input[type=radio] + label:before,
#order_review_form input[type=checkbox] + label:before,
#order_review_form input[type=checkbox] + a.view-agreement:before {
    width: 16px;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 7px;
    left: 0;
    content: "";
    cursor: pointer;
    background-color: #efefef;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .3);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .3);
}
#order_review_form input[type=radio]:checked + label:after,
#order_review_form input[type=checkbox]:checked + label:after,
#order_review_form input[type=checkbox]:checked + a.view-agreement:after {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 3px;
    content: "";
    background: #009a3c;
}
#review-buttons-container .btn-checkout {
    float: right;
    clear: both;
    width: 378px;
    height: 40px;
    background: #009a3c!important;
    margin: 20px 0 0;
}
#review-buttons-container .btn-checkout span,
#review-buttons-container .btn-checkout span span {
    background: none!important;
    display: inline;
    font-weight: 600;
    font-size: 18px;
    text-shadow: none;
    background: none;
    height: auto;
    line-height: 40px;
}
#cms-ajax-content {
    text-align: left;
    color: #808080;
}
.customer-account-login .breadcrumbs,
.customer-account-index .breadcrumbs,
.customer-account-create .breadcrumbs {
    display: none;
}
#cboxContent #cboxNext {
    background-size: 36px auto;
    background-position: -16px 0;
    background-color: transparent;
}
#cboxContent #cboxPrevious {
    background-size: 36px auto;
    background-position: 10px 0;
    background-color: transparent;
}
.download-type-free,.download-type-vip,.download-type-login,.download-type-code{position:absolute;top:15px;right:0;width:60px;height: 60px;display: block;background-size: 60px auto;}
.download-type-free{background-image: url("../images/free-ic.png");}
.download-type-vip{background-image: url("../images/vip-ic.png");}
.download-type-login{background-image: url("../images/login-ic.png");}
.download-type-code{background-image: url("../images/code-ic.png");}
.top-category-download {
    padding: 24px 0 24px 46px;
    border: 1px solid #4c4c4c;
    margin: 20px 0 30px;
}
.top-category-download h2 {
    font-weight: 600;
    font-size: 22px;
    color: #4c4c4c;
}
.top-category-download ul {
    display: inline-block;
    width: 100%;
}
.top-category-download ul li {
    float: left;
    width: 24.25%;
    padding: 5px 0 5px 1%;
}
.top-category-download ul li:nth-child(4n+1) {
    padding-left: 0;
    clear: left;
}
.top-category-download ul li a {
    font-size: 14px;
    font-weight: 600;
    color: #4c4c4c;
    line-height: 18px;
    position: relative;
    padding-left: 16px;
}
.top-category-download ul li a:before {
    width: 0;
    height: 0;
    border-width: 7px 0 7px 6px;
    border-style: solid;
    border-color: transparent transparent transparent #084b8f;
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
}
.top-category-download ul li a:hover {
    text-decoration: underline;
}
.popup-download {
    padding: 20px 10px 30px;
}
.popup-download h2 {
    font-size: 22px;
    font-weight: 600;
    color: #4d4d4d;
    text-align: left;
}
.popup-download .list-download {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.popup-download .sub-download-box {
    display: inline-block;
    vertical-align: top;
    width: 164px;
    padding: 0 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.popup-download .sub-download-box p {
    font-size: 14px;
    font-weight: 300;
    color: #808080;
    line-height: 18px;
}
.popup-download .icon-download {
    height: 60px;
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 0;
    text-indent: -999em;
    margin-bottom: 8px;
}
.popup-download .free-download-icon {
    background-image: url("../images/free-ic.png");
}
.popup-download .login-download-icon {
    background-image: url("../images/login-ic.png");
}
.popup-download .vip-download-icon {
    background-image: url("../images/vip-ic2.png");
}
.popup-download .code-download-icon {
    background-image: url("../images/code-ic.png");
    cursor: pointer;
}
.popup-download .download-link a {
    font-weight: 600;
    color: #4c4c4c;
    text-decoration: underline;
}
.popup-download .form-code-download {
    clear: both;
    padding-top: 20px;
    float: right;
    width: 25%;
}
.popup-download .form-code-download input.input-text {
    width: 100%;
    margin-bottom: 10px;
}
.filesize-box,
.betriebssystem-box,
.total-downloaded {
    padding-top: 10px;
}
.filesize-box p,
.betriebssystem-box p,
.total-downloaded p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #808080;
}
.filesize-box p:first-child,
.betriebssystem-box p:first-child,
.total-downloaded p:first-child {
    font-weight: 700;
    margin-bottom: 5px;
}
.total-downloaded + .btn-cart {
    margin-top: 10px;
    width: 100%;
}
.total-downloaded + .btn-cart span {
    background: #009a3c;
    text-transform: none;
    font-size: 14px;
}
.total-download-info span {
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
    font-size: 20px;
    font-weight: 300;
    padding: 6px 5px;
}
.box-additional .item .price-box .old-price .price-label,
.box-additional .item .price-box .special-price .price-label {
    display: none;
}

.category-products-grid .item{
    padding: 0;
    border: none;
}

/*----- RESPONSIVE
-------------------------------------------------*/
@media screen and (min-width: 768px) {
    .product-view .product-img-column{
        width: 70.4%;
    }
    .product-view .product-shop{
        float: right;
        width: 27.55%;
    }
    .catalogsearch-result-index .itemgrid-4col .item,
    .catalogsearch-result-index .itemgrid-4col .item:nth-child(4n+2){
        width: 32.5%;
        margin-left: 1.25%;
        padding-bottom: 15px;
    }
    .catalogsearch-result-index .itemgrid-4col .item:nth-child(3n){
        margin-left: 0;
        clear: both;
    }
    .catalogsearch-result-index .itemgrid-4col .item:first-child,
    .catalogsearch-result-index .itemgrid-4col .item:nth-child(2){
        width: 49.5%;
        margin-left: 0;
        padding-bottom: 60px;
    }
    .catalogsearch-result-index .category-products .price-box{
        width: 90px;
    }
    .catalogsearch-result-index .category-products .name-rating{
        padding-right: 100px;
    }
    .catalogsearch-result-index .products-grid .price-box .regular-price .price{
        font-size: 26px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .product-view .product-shop .block-content button span{
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .col1-layout .col-main {
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 959px) {
    #mini-cart {
        max-height: 5em;
        margin: -8px 0 12px;
    }
    #mini-cart .dropdown-toggle.cover > div {
        text-align: right;
    }
    #mini-cart span.icon {
        display: inline-block;
        margin: 0;
    }
    .top-links {
        text-align: right;
    }
    .top-links span.icon {
        display: inline-block;
    }
    .top-links .links > li {
        float: right;
    }
    .cms-home .std .slider-arrows1 .owl-controls .owl-buttons div.owl-prev {
        margin-left: -15px;
    }
    .cms-home .std .slider-arrows1 .owl-controls .owl-buttons div.owl-next {
        margin-right: -15px;
    }
    #nav > li {
        width: auto;
    }
    #nav > li > a,
    #mobnav-trigger {
        font-size: 18px;
        font-weight: 600 !important;
    }
    #my-orders-table td,
    #myproducts td {
        font-size: 14px;
    }
    .catalog-product-view .col-main .share_toolbox {
        margin: 0;
    }
    .header .user-menu {
        width: 13%;
    }
}
@media screen and (max-width: 900px) {
    #nav > li > a,
    #mobnav-trigger {
        font-size: 15px;
    }
}
@media screen and (max-width: 850px) {
    #nav > li > a,
    #mobnav-trigger {
        font-size: 14px;
    }
}
@media screen and (max-width: 800px) {
    #nav > li > a,
    #mobnav-trigger {
        font-size: 13px;
    }
}
@media screen and (max-width: 767px) {
    .header-text{
        display: none;
    }
    .bigsale {
        text-align: center;
        display: none;
    }
    .gen-tabs .acctab:hover, .gen-tabs .acctab:focus, .gen-tabs .acctab.current {
        background-color: #81B03C !important;
        color: #F1F1F1 !important;
    }
    .product-view .product-shop .price-box .regular-price .price {
        font-size: 26.92pt;
    }
    .bigsale ul li {
        display: inline-block;
        vertical-align: top;
        padding: 5px 5px 5px 36px;
        margin: 0;
    }
    .header-main {
        height: auto;
    }
    #mini-cart {
        margin: 0 15px 0 0;
        max-height: none;
    }
    .top-links {
        vertical-align: top;
    }
    .header-top {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .header-top p {
        font-size: 10px;
        line-height: 14px;
    }
    .phone-text {
        display: block;
        text-align: center;
    }
    .user-menu {
        margin-bottom: 0;
        text-align: right;
    }
    .cms-home .slider-arrows2 .owl-controls .owl-buttons div {
        width: 25px;
        height: 40px;
        background-size: 50px auto;
        opacity: 1;
    }
    .cms-home .slider-arrows2 .owl-controls .owl-buttons div.owl-prev {
        left: 5px;
        top: 50%;
        margin: -20px 0 0;
        right: auto;
        bottom: auto;
    }
    .cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-next,
    .cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-next:hover {
        background-position: -30px 0;
        right: 0;
        top: 50%;
        left: auto;
        bottom: auto;
        margin: -20px 0 0;
    }
    .page-banners > .item {
        width: 100%;
        padding: 80px 0 20px;
    }
    .cms-home .std .slider-arrows1 .owl-controls .owl-buttons div {
        width: 25px;
        height: 40px;
        background-size: 50px auto;
    }
    .cms-home .std .slider-arrows1 .owl-controls .owl-buttons div.owl-prev {
        left: 0;
        top: 27%;
        right: auto;
        bottom: auto;
        margin: 0;
    }
    .cms-home .std .slider-arrows1 .owl-controls .owl-buttons div.owl-next {
        right: 0;
        top: 27%;
        bottom: auto;
        left: auto;
        margin: 0;
        background-position: -30px 0;
    }
    .colout-area .user-vote,
    .colout-area > a {
        width: 100%;
        float: none;
        padding: 0 0 30px;
    }
    .catalog-product-view .col-main .share_toolbox {
        margin: 10px 0 20px;
    }
    .product-view .box-reviews .form-add .data-table th,
    .product-view .box-reviews .form-add .data-table td {
        padding: 6px 3px;
        font-size: 12px;
        font-weight: normal;
    }
    .paypal-express-review .col-main > .page-title,
    .paypal-express-review .checkout-agreements,
    .paypal-express-review .comment-block,
    .review-info {
        padding-left: 0;
        padding-right: 0;
    }
    .review-info .customer-info td {
        display: block;
    }
    #express-review-checkout-cart .cart tr td:first-child {
        padding-left: 0;
        text-align: left!important;
    }
    #express-review-checkout-cart .cart .cart-table tr td.last {
        padding-right: 0;
        width: 100%;
    }
    #express-review-checkout-cart .cart tfoot td {
        text-align: left!important;
    }
    #express-review-checkout-cart .cart .totals-inner {
        padding-right: 0;
    }
    #review-buttons-container .btn-checkout {
        width: 100%;
    }
    .box-info form {
        padding: 20px 10px;
    }
    .my-account .form-list label,
    .box-info .form-list label {
        display: block;
        margin: 3px 0;
        font-size: 16px;
    }
    .my-account .form-list input[type="checkbox"] + label,
    .box-info .form-list input[type="checkbox"] + label {
        display: inline-block;
    }
    .box-info .buttons-set {
        padding: 0;
    }
    .box-info .buttons-set button {
        width: 100%;
    }
    .box-info .col2-set .box-title,
    .box-info .col2-set .box-content {
        width: 100%;
        float: none;
        text-align: left;
    }
    .buttons-set .back-link {
        margin-top: -5px;
    }
    .header-white-container {
        display: none;
    }
    .the-slideshow {
        margin: 0;
    }
    #mobnav-trigger {
        display: inline-block;
        padding: 5px 10px;
        background: #666;
    }
    #nav,
    .vertnav-top {
        border: none;
    }
    .accordion .opener {
        width: 40px;
        height: 38px;
    }
    .vertnav-top li{
        margin-bottom: 0;
        border-bottom: 1px solid #fff;
        padding: 10px;
        font-size: 12pt;
        font-weight: 600;
    }
    .vertnav-top li a{
        padding: 10px;
    }
    /*.vertnav-top > li:first-child a {
        border-top: 1px solid #fff;
    }*/
    .vertnav-top li:last-child {
        border-bottom:none;
    }
    .vertnav-top > li.first > a {
        margin-top: 0;
    }
    .vertnav-top > li.nav-1 > a {
        background: #c5191a;
    }
    .vertnav-top > li.nav-2 > a {
        background: #e6590b;
    }
    .vertnav-top > li.nav-3 > a {
        background: #e0c035;
    }
    .vertnav-top > li.nav-4 > a {
        background: #00993c;
    }
    .vertnav-top > li.nav-5 > a {
        background: #009de1;
    }
    .vertnav-top > li.nav-6 > a {
        background: #064b8b;
    }
    .vertnav-top.mobile {
        display: none;
        max-height: none;
    }
    #mobnav-trigger {
        display: block!important;
    }
    .box-info .form-list .input-box {
        width: 100%;
    }
    #myproducts td:first-child,
    #my-orders-table td:first-child {
        padding-left: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .data-table .cell-label {
        margin-right: 30px;
    }
    .box-account .box-head h2 {
        font-size: 28px;
        line-height: 30px;
    }
    .dashboard .box-reviews li.item {
        margin-bottom: 20px;
    }
    #myproducts .related-products img {
        margin: 0 0 15px;
    }
    .top-category-download {
        padding: 20px 10px;
    }
    .top-category-download ul li {
        width: 49%;
        padding-left: 2%;
    }
    .top-category-download ul li:nth-child(2n+1) {
        clear: both;
        padding-left: 0;
    }
    .popup-download {
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .popup-download .sub-download-box {
        padding-bottom: 20px;
    }
    .popup-download .form-code-download {
        width: 100%;
    }
    .collapsible .block-title {
        font-size: 16px;
        padding-bottom: 8px;
    }
    .footer-container .custom-bullet {
        font-size: 14px;
        line-height: 30px;
    }
}
@media screen and (max-width: 479px) {
    .top-category-download {
        padding: 20px;
    }
    #mini-cart .checkout-cart {
    width: 100px;
    }
     .checkout-signin{
        max-width: 100% !important;
    }
    .top-category-download h2 {
        font-size: 20px;
    }
    .top-category-download ul li {
        width: 100%;
        padding-left: 0;
    }
    .fancybox-inner .product-view .hardcover {
    background: none;
    display: inline-block;
    width: 100%;
    }
}
/* home page */

.footer-logo {
    float: left;
}
.footer-social {
    float: right;
}
.footer-social ul li {
    float: left;
    padding-left: 8px;
}
/*.footer-inner-bottom {
  clear: both;
}*/

.footer-links-1 {
    clear: both;
}
.footer-container2 {
    width: 96%;
    max-width: 960px;
    margin: auto;
}
.footer-links-1 {
    width: 58%;
    float: left;
    padding-top: 22px;
}
.footer-links-2 {
    width: 42%;
    float: left;
    padding-top: 22px;
}
.footer-links-2 {
    text-align: right;
}
.footer-links-1 a {
    font-size: 13px;
    color: #81b03c;
    font-weight: 600;
}
.footer-links-1 .separator {
    margin: 0 15px;
}
.footer-links-2 a {
    font-size: 15px;
    color: #fff;
    padding: 0 0 0 20px;
    font-weight: 600;
}
.nav-container {
    background: transparent url('../images/bg_menu.png');
    background-repeat: no-repeat;
    height: 50px;
    background-position: 0px -11px;
    background-size: 100%;
}
.header-text .header-text-top {
    text-align: right;
    margin-top: -30px;
    padding-bottom: 10px;
}
.header-text .header-text-top a {
    color: #fff;
    font-size: 12px;
}
.header-text .header-text-top a:hover {
    color: #81B03C;
    text-decoration: underline;
}
.cms-home .grid12-6 a:hover {
    color: #81B03C;
    background: none;
}
.the-slideshow-wrapper-outer {
    clear: both;
    margin-top: 65px;
}
.home-products {
    margin-top: 10px;
}
.home-products .two-products{
    display: block;
}
.home-product {
    background-color: #cccccc;
}
.home-product.product1 {
    width: 49.6%;
    float: left;
    /*background-color: rgba(230, 230, 230, 0.74);*/
}
.home-product.product2 img,
.home-product.product1 img {
    width: 100%;
}
.home-product.product2 {
    float: right;
    width: 49.6%;
    /*background-color: rgba(230, 230, 230, 0.74);*/
}
.name-rating-price {display:table;width: 100%;background-color: #e6e6e6;}
.name-rating-container {
    /*float: left;*/
    /*clear: both;*/
    display: table-cell;
    padding: 10px 2px;
    width: 48%;
}
.price-container {
    /*float: right;*/
    display: table-cell;
    padding: 10px 2px;
    width: 49%;
    text-align: right;
    vertical-align: bottom;
}
.home-products .rating-container .ratings {margin-top:10px;}
.table-display {display: table;}
.table-display .home-product {display: table-cell;}
.price-container .tax-details {display: none;}
.home-product.product4,
.home-product.product3 {
    width: 33%;
    float: left;
    /*background-color: rgba(230, 230, 230, 0.74);*/
    margin: 10px 0px;
}
.home-product.product4 {
    margin-left: 4px;
}
.home-product.product4 img,
.home-product.product3 img,
.home-product.product5 img {
    width: 100%;
}
.home-product.product5 {
    width: 33%;
    float: right;
    /*background-color: rgba(230, 230, 230, 0.74);*/
    margin: 10px 0px;
}
.home-products .price-box .plabel {display:none;}
.icon.i-cart {
    background-image: url("../images/cart.png");
    background-position: 0px 0px;
    background-size: 88%;
}
.header-primary-container {
    background-image: url("../images/bg_header.png");
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    height: 100px;
    /* background-position: 41px 0px; */
    /* background-position: 0px -11px; */

    background-size: 100%;
}
.header-primary {
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0px auto;
}
.footer-container {
    background: transparent url("../images/bg_footer.png");
    padding-top: 42px;
    height: 78px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.form-search .button span {
    background: transparent url("../images/icon_search.png") no-repeat scroll 0px center;
    width: 50px;
    height: 30px;
    opacity: 1;
    margin: 0px;
    background-position: 13px;
}
#nav > li {
    margin-top: -15px;
    float: left;
}
.logo img {
    width: 100%;
}
.footer-logo img {
    width: 80%;
}
.header-image-top img {
    /*width: 90%;*/
}
.footer-social img {
    /*width: 90%;*/
}
@media screen and (max-width: 1200px) {
    .header-primary-container {
        background-image: none;
        background-repeat: repeat-x;
        background-color: #444;
    }
    .nav-container {
        height: 40px;
        background-image: none;
        background-repeat: repeat-x;
        background-color: #80AB3F !important;
    }
    #nav > li {
        margin-top: -12px;
        float: left;
    }
    .footer-container {
        background-image: none;
        height: 150px;
        background-color: #3E3E3E;
    }
    .footer-links-1 a,
    .footer-links-2 a {
        font-size: 12px;
    }
}
@media screen and (width: 1024px) {
    #nav > li > a {
        line-height: 6px;
    }
}
@media screen and (max-width: 760px) {
    .header-text a[title="Newsletter"],
    .header-text a[title="Kontakt"],
    .header-text a[title="Datenschutz"] {
        display: none;
    }
    .header-text a .link {
        display: none;
    }

    .review-info .customer-info td span.button{
        width: 100%;
    }
    .cart .discount-form .input-box {
        width: 100%;
    }
    .main-layout .cart tr.last td select,.main-layout .cart .discount-form .input-text {
        width: 100% !important;
    }

    .header-text a span.icon {
        display: block;
        background-image: url("../images/use.png");
        position: absolute;
        right: 28%;
        background-color: #444;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 24px;
        height: 17px;
    }
    .header .logo-wrapper {
        margin-top: 0px;
    }
    .vertnav-top.mobile {
        background-color: rgb(128, 171, 63);
    }
    #mini-cart span.icon {
        margin-top: -5px;
    }
    .vertnav-top > li > a {
        background: #80AB3F none repeat scroll 0% 0% !important;
    }
    .icon.i-cart {
        background-size: 72% auto;
    }
    .nav.container {
        background-color: #80AB3F;
        position: relative;
    }
    .header-text .separator {
        display: none;
    }
    .header-image-top {
        display: none;
    }
    .nav-container {
        background: none;
    }
    .form-search .button span {
        background: transparent url("../images/icon_search.png") no-repeat scroll 13px center !important;
    }
    .search-wrapper-centered {
        position: absolute;
        top: 96%;
        width: 55% !important;
        right: 6%;
    }
    .form-search .button {
        /*border: 1px solid #759E3A;
        top: -1px;*/
        background:none;
    }
    .home-product.product4,
    .home-product.product3,
    .home-product.product5 {
        width: 100%;
        float: left;
        margin-left: 2px;
    }
    .home-product {margin: 0 0 5px 0 !important;}
    .home-product.product1,.home-product.product2 {
    width: 100%;
    }

    #mini-cart {
        margin: -18px 0px 12px;
    }
    .the-slideshow-wrapper-outer {
        margin-top: 0px;
    }
    .cms-home .price-box .price {
        /*font-size: 14pt;*/
    }
    .product-name a {
        /*font-size: 18px;*/
    }
    .rating-box {
        /*background-size: 75%;*/
    }
    #mobnav-trigger {
        background: #80AB3F;
    }
    .search-wrapper-centered .form-search .input-text {
        background: /*#000/*#7FA845*/;
    }
    .form-search .input-text {
        /*box-shadow: none;
        border: 1px solid #62882C !important;*/
    }
    .empty,
    .view-cart-link {
        display: none;
    }
    .footer-social {
        display: none;
    }
    .footer-links-1 {
        width: 100%;
        text-align: center;
    }
    .footer-links-1 a:nth-child(3) {
        display: none;
    }
    .footer-links-1 .separator {
        display: none;
    }
    .footer-links-1 a {
        padding: 0px 10px;
        font-size: 12px;
    }
    .footer-links-1 a:nth-child(1) {
        border-right: 1px solid #fff;
    }
    .footer-links-2 a {
        padding: 0px 10px;
    }
    .header-container {
        position: relative;
    }
    .logo img {
        width: 80%;
    }
    .header-primary-container {
        height: auto;
    }
    .cart-label {
        display: none !important;
    }
    .footer-container {
        background-image: none;
        height: 100px;
        background-color: #3E3E3E;
        padding-top: 0px;
    }
    .header .logo-wrapper {
        text-align: left;
    }
    .footer-links-2 {
        width: 100%;
        text-align: center;
    }
    .footer-logo {
        display: none;
    }
    .product-view .box-reviews .form-add .form-list input.input-text {
        max-width: 100%;
    }
    #mobnav-trigger:hover {
        background: #81B03C;
        color: #FFF;
    }
    .form-list input.input-text {
        width: 100% !important;
        max-width: 100%;
    }
    .form-list textarea {
        width: 100%;
        height: 10em;
        max-width: 100%;
    }
    .form-list .name-prefix {
        width: 100%;
    }
    .form-list .field {
        float: none;
        width: 100%;
        margin-bottom: 5px;
    }
    .form-list .name-prefix select {
        width: 100%;
    }
    .form-list .customer-name-prefix-middlename-suffix .name-firstname,
    .form-list .customer-name-prefix-middlename .name-firstname {
        width: 100%;
    }
    .account-create .name-firstname #firstname {
        width: 100%;
    }
}
@media screen and (max-width: 360px) {
    .home-product.product5,
    .home-product.product3,
    .home-product.product4,
    .home-product.product2,
    .home-product.product1 {
        width: 100%;
        margin: 10px 0px;
        clear: both;
    }
    .product-name a {
        font-size: 14px;
    }
}

.itemgrid-4col .item{
    width: 24%;
    margin-left: 1.3%;
    padding-top: 10px;
}
.itemgrid-4col .item:nth-child(4n+2){
    margin-left: 0;
}
.products-grid .product-name{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #1d1d1d;
}
.itemgrid-4col .item:nth-child(1),
.itemgrid-4col .item:nth-child(2) {
    width: 49.5%;
    margin-bottom: 10px;
}
.itemgrid-4col .item:nth-child(1) {
    float: left;
    padding-bottom: 60px;
    margin-left: 0;
}
.itemgrid-4col .item:nth-child(2) {
    float: right;
    padding-bottom: 60px;
}
.itemgrid-4col .item:nth-child(3),
.itemgrid-4col .item:nth-child(4),
.itemgrid-4col .item:nth-child(5){
    width: 32.5%;
    float: left;
    margin-left: 1.25%;
}
.itemgrid-4col .item:nth-child(3) {
    clear: both;
    margin-left: 0;
}
.itemgrid-4col .item:nth-child(4n+1) {
    clear: none;
}
.item .actions {
    display: none;
}
.category-products .product-name {
    float: left;
}
.products-grid.size-s .product-name{
    white-space: normal;
    /*max-height: 38px;*/
    overflow: hidden;
    margin: 0 0 3px;
    display: block;
    float: none;
}
.products-grid.size-s .item:hover .product-name{
    overflow: hidden;
}
.products-grid.size-s .product-name a{
    color: #1d1d1d;
}
.category-products .price-box {
    position: absolute;
    width: 49%;
    right: 7px;
    padding: 0;
    margin: 0;
    bottom: 5px;
    letter-spacing: -1px;
}
.category-products .price-box .plabel{
    display: none;
}
.products-grid .price-box .price{
    color: #1d1d1d;
    font-size: 13px;
}
.products-grid .price-box .save-price .price-label, .products-grid .price-box .save-price .price {
    /*font-weight: 600;
    font-size: 13px;*/
}
.products-grid .price-box .regular-price .price{
    font-size: 32px;
    font-weight: bold;
}
.category-products .lieferbar-ab {
    display: none;
}
.category-products .name-rating {
    position: absolute;
    bottom: 5px;
    width: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.products-grid.centered .item .ratings{
    margin: 0;
}
.category-products .toolbar {
    display: none;
}
.page-title.category-title {
    display: none;
}
.page-title.download-category-title {display:block;}
.category-products .product-image-wrapper img {
    width: 100%;
}
.category-products .products-grid li.item {
    background-color: #e6e6e6;
    margin-bottom: 10px!important;
    /*padding: 0;*/
    /*width: 49.6%;*/
}
.list-download-vip .products-grid li.item {
    width: 23%;
    float: left;
    padding: 1% 1%;
    background: #fff;
}
.list-download-vip .hover-effect .item:hover {
    margin-left: -1%;
    margin-right: -1%;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 10;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-color: transparent;
    transition: box-shadow 400ms ease-out;
    -moz-transition: box-shadow 400ms ease-out;
    -webkit-transition: box-shadow 400ms ease-out;
    -o-transition: box-shadow 400ms ease-out;
}
@media only screen and (max-width: 1200px){
    .home-bottom-container .home-bottom{width: 24%;height: 120px;margin-right:10px;}
    .home-bottom.bottom-1, .home-bottom.bottom-2, .home-bottom.bottom-3,.home-bottom.bottom-4{margin-bottom: 10px;}
    .footer-links-1 a, .footer-links-2 a{font-size: 14px}
}
@media screen and (max-width: 1024px) {
    .products-grid .price-box .regular-price .price{
        font-size: 22px;
        line-height: 26px;
    }
}
@media only screen and (max-width: 900px){
    .home-bottom-container .home-bottom {margin-right: 9px;}
}
@media only screen and (max-width: 767px) {
    .footer-links-1 a, .footer-links-2 a{font-size: 13px}
    .itemgrid-4col .item:nth-child(1),
    .itemgrid-4col .item:nth-child(2) {
        width: 100%;
        margin-bottom: 10px;
        clear: both;
    }
    .home-bottom-container{display: none;}
    .itemgrid.itemgrid-adaptive .item {
        width: 100%;
        clear: none !important;
        margin-bottom: 10px;
    }
    .category-products .product-name a {
        font-size: 18px;
    }
    .category-products .products-grid li.item{
        padding-bottom: 60px;
    }
	.itemgrid-4col .item {
		margin-left: 0%;
	}
	.itemgrid-4col .item:nth-child(3), .itemgrid-4col .item:nth-child(4), .itemgrid-4col .item:nth-child(5){ margin-left: 0%;}
}
.gen-tabs .tabs a.current {
    background-color: #81b03c;
    color: #ffffff;
}
.gen-tabs .tabs a {
    display: block;
    padding: 4px 12px;
    text-decoration: none;
    outline: none;
    margin-right: 0px;
    border: 1px #81B03C solid;
}

.gen-tabs .tabs a {
    background-color: #ffffff;
    color: #1d1d1d;
    font-weight: 400;
}
.gen-tabs .tabs a:hover{
    background-color: #81b03c;
}
.gen-tabs-style1 .tabs-panels {
    border-top: 1px solid #81B03C;
}
.tabs-panels {
    box-shadow: 0 0 2px 0 #81b03c;
}
.block-box .block-content button span {
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #FFF;
    text-transform: lowercase;

}
.product-shop-ngrouped .block-box .block-content button span {
    font-size: 20px;
    font-weight: normal;
    font-family: verdana, Arial, sans-serif;
}
.block-box .block-content button:hover {
    background-color: #6C962D;
}
/*.product-view .product-shop .price-box {
    padding: 53px 0 20px;
    margin-bottom: 20px;
    margin-right: -10px;
    background: #fff url(../images/bg-price.png) no-repeat right bottom;
    text-align: right;
}*/
.block-box.hardcover{
    background-color: transparent;
    margin-bottom: 5px;
}
.block-box .block-content .price {
    font-size: 32px;
    line-height: 25px;
    font-weight: 600;
    color: #1d1d1d;
}
.pdp-agreements span{
    text-align: right;
    font-size: 10px;
    line-height: 12px;
}
.pdp-agreements img{
    max-width: 164px;
    height: auto;
}
.share_toolbox.addthis_default_style .st_facebook_large .stLarge{
    background-image: url('../images/icon_face.png') !important;
    background-size: 100%;
}
.share_toolbox.addthis_default_style .st_twitter_large .stLarge{
    background-image: url('../images/tiwter.png') !important;
    background-size: 100%;
}
.share_toolbox.addthis_default_style .st_pinterest_large .stLarge{
    background-image: url('../images/prin.png') !important;
    background-size: 100%;
}
.share_toolbox.addthis_default_style .st_email_large .stLarge{
    background-image: url('../images/yt.png') !important;
    background-size: 100%;
}

.stButton .stLarge:hover{
    background-position: 0px !important;
}
.tax-details,.regular-price span{
   font-size: 12pt;
}
.catalog-product-view  .regular-price span{
   font-size: 23.59pt;
}
.detail_added .buttons a.checkout-btn {
    background: #81b03c;

}
.container1-wrapper{
    margin-top: 15px;
}

#countdown .countdown-amount + .countdown-amount{
    display: none;
}
#countdown{
    padding: 30px 0 5px;
}
#countdown .countdown-amount .dozens,
#countdown .countdown-amount .units{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    padding: 5px 6px;
    display: inline-block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #545557;
    background: -moz-linear-gradient(top,  #545557 0%, #545557 50%, #4b4b4b 51%, #4b4b4b 100%);
    background: -webkit-linear-gradient(top,  #545557 0%,#545557 50%,#4b4b4b 51%,#4b4b4b 100%);
    background: linear-gradient(to bottom,  #545557 0%,#545557 50%,#4b4b4b 51%,#4b4b4b 100%);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    margin-right: 6px;
    vertical-align: middle;
}
#countdown .t-colon{
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    margin: 0 4px 0 -2px;
    color: #4b4b4b;
}
#countdonw-title{
    color: #1d1d1d;
    font-size: 19px;
    font-weight: 300;
    line-height: 24px;
    margin: 5px 0 0;
}
#countdonw-title strong{
    font-weight: 300;
}
.old-price-parent .font-small {
    font-size: 10px !important;
    top: 0px !important;
    position: relative;
    font-weight: bold;
}
.old-price-parent .font-medium {
    font-size: 12px !important;
    font-weight:normal;
}
.old-price-parent .font-big {
    font-size: 12px !important;
    font-weight:bold;
}

.font-small {
    font-size: 18px !important;
    top: -13px !important;
    position: relative;
    font-weight: bold;
}
.font-medium {
    font-size: 35px !important;
    font-weight:normal;
}
.font-big {
    font-size: 35px !important;
    font-weight:bold;
}

.font-small-details {
    font-size: 14px !important;
    top: -13px !important;
    position: relative;
}
.font-medium-details {
    font-size: 24px !important;
    font-weight:normal;
}
.font-big-details {
    font-size: 24px !important;
    font-weight:bold;
}

@media screen and (min-width: 768px) and (max-width: 959px){
    .pdp-agreements img{
        width: 100%;
        max-width: none;
    }
    .pdp-agreements span{
        float: none;
        clear: both;
        width: 100%;
        padding: 10px 0 15px;
        display: block;
    }
    .pdp-agreements span br{
        display: none;
    }
}
.product-shop .block-box{
    float: left;
    border: 2px solid #dedede;
}
.product-shop.product-shop-ngrouped .block-box.hardcover{
    width: 100%;
    float: none;
    border: none;
}
.fancybox-inner .product-view .ebook.grouped {
    width: 100%;
    border: 2px solid #dedede;
    margin: 20px 0px 10px;
    margin-right: 3px;
}
.fancybox-inner .product-view .ebook.grouped ..btn-cart{
    padding: 5px 0px;
}
.fancybox-inner .product-view .grouped.hardcover {
    background: #80ab3f;
    display: block;
    width: 100%;
    border: 2px solid #dedede;
    margin: 20px 0px 10px;
    margin-right: 3px;
}
.fancybox-inner .product-view .grouped .price-box {
    padding: 0px 0 20px;
    margin-bottom: 0px;
    background: #fff ;
    text-align: center;
    width: 100%;
}
.fancybox-inner .product-view .grouped .btn-cart span{
    font-size: 16px !important;
}
.fancybox-inner .product-view .grouped .btn-cart span span {
    padding: 0 !important;
}
.product-shop .font-small-details {
    font-size: 16px !important;
    top: -13px !important;
    position: relative;
}
.product-shop .font-medium-details {
    font-size: 28px !important;
    font-weight:600;
}
.product-shop .font-big-details {
    font-size: 28px !important;
    font-weight:bold;
}
.product-shop.product-shop-ngrouped .font-small-details {
    font-size: 24px !important;
    top: -13px !important;
    position: relative;
}
.product-shop.product-shop-ngrouped .font-medium-details {
    font-size: 35px !important;
    font-weight:normal;
}
.product-shop.product-shop-ngrouped .font-big-details {
    font-size: 35px !important;
    font-weight:bold;
}
.cookieAdvice {
    background: #bebebe;
    padding: 5px 0;
}
.cookieAdvice .posWrapper {
    height: 100%;    
    display: table;
    margin: 0 auto;
}
.cookieAdvice .posWrapper .cookieClose, .cookieAdvice .posWrapper .cookieTxt {
    display: table-cell;
    vertical-align: top;
}
.cookieAdvice a, .cookieAdvice p, .cookieAdvice span {
    color: #fff;
}
.cookieAdvice a {
    text-decoration: underline;
}
.cookieAdvice .posWrapper .cookieTxt {
    text-align: justify;
}
.cookieAdvice .posWrapper .cookieClose {
    width: 110px;
}
.cookieAdvice .closeButton {
    display: block;
    font-size: 20px;
    line-height: 18px;
    float: right;
    color: #404040;
    margin-left: 5px;
    text-decoration: none;
}
.cookieAdvice .cookieClose .right {
    display: block;
    float: right;
    text-decoration: underline;
}
@media only screen and (max-width: 767px) {
    .cookieAdvice .posWrapper { display: table-cell;font-size: 11px; }
    .cookieAdvice .posWrapper .cookieTxt {
        text-align: center;
        width: 100%;
        float: left;
    }
}