/*******Ajax cart style*********
*******************************/
div.ajaxcart {margin-left: auto; margin-right: auto; width: 510px; text-align: left;}

#ajaxcart-load-ajax .ajaxcart-loading span{ color: #636363;}

.ajaxcart-animation-mask {position: fixed; top: 0; left: 0; opacity: 0.3; filter:alpha(opacity=30); z-index: 9999; background: #000; width: 100%; height: 100%;}
#ajaxcart-animation {position: absolute; z-index: 9999; border: 1px solid #a9a9a9;}
div.ajaxcart-animation-active {position: relative; z-index: 9999;}
li.ajaxcart-animation-active {position: relative; z-index: 9999;}
li.ajaxcart-blink a{text-decoration: none;}
.header {z-index: auto;} /* update for header link z-index */

#ajaxcart-content .ajaxcart-preload {
    display: table;
	*display: block;
    padding: 15px 2% 0;
    width: 97%;
}
#ajaxcart-content .ajaxcart-preload a.product-image{float:left;width:auto;height:auto;}
#ajaxcart-content .ajaxcart-preload .product-info {float: left; width:auto;margin-left:20px;}
#ajaxcart-content .ajaxcart-preload .product-info .product-name {font-size: 15px;height: auto!important;}
#ajaxcart-content .ajaxcart-preload .item-product-info {float:left;width:auto;margin-left:20px;}
#ajaxcart-content .ajaxcart-preload .item-product-info .product-name {font-size: 15px;}
#ajaxcart-content .ajaxcart-preload .item-product-info .price {font-weight: bold; font-size: 13px; color: #c76200;}
#ajaxcart-content .ajaxcart-loading {*clear: both; vertical-align:middle; *display: block; *margin: 0 auto; text-align: center; padding: 10px 0px 20px; color:#636363;position: relative; width: 100%; *width: auto;overflow: hidden;}
#ajaxcart-content .ajaxcart-loading img {margin-right: 10px;}

#ajaxcart-content #product-options-wrapper dd select{
	width: 100%;
}
div.ajaxcart-content{
	position:absolute; 
	top: 18%;
	width: 700px;
	background-color:#fff;
	z-index: 9999;
    padding: 0 0 10px;
}
div.ajaxcart-content form#product_addtocart_form{float:left;width:100%;}
#ajaxcart-content .ajaxcart-add-loading {padding-left: 72px; color:#636363;}

.ajaxcart-preload .right{
	float: none!important;
}
div.ajaxcart-overlay{width: 100%; background: #000000; position: fixed; opacity: 0.5; filter:alpha(opacity=50); top: 0; left: 0; z-index: 9999;}

div.ajaxcart-popup-overlay{width: 100%; background: #000000; position: fixed; opacity: 0.2; filter:alpha(opacity=20); top: 0; left: 0; z-index: 9999;}

#ajaxcart-related .product-name {margin-top: 10px; font: normal 13px Arial, Helvetica, sans-serif;line-height: 1;}
#ajaxcart-related .product-name a {color: #808080; font: bold 13px Arial, Helvetica, sans-serif;}

#ajaxcart-content div.ajaxcart-continue{position: relative;margin: 0;}


#ajaxcart-content a.close-popup {
    background: url("../../../images/ajaxcart/close-popup.png") no-repeat scroll 0 0 transparent;
    height: 36px;
    overflow: hidden;
    position: absolute;
    right: -20px;
    text-indent: -999em;
    top: -18px;
    width: 36px;
    z-index: 9999;
}

div.ajaxcart-checkout{float: right;}

button.ajaxcart-btn-continue{border: 1px solid #C4C1BC; background: #CCC; color: #000; font: bold 12px/19px Arial, Helvetica, sans-serif; cursor: pointer;*width: 162px;}

button.ajaxcart-btn-continue span.span{border: 1px; padding: 0 8px 0 8px!important;}


div.ajaxcart-continue .ajaxcart-footer {
    display: none;
}

div.ajaxcart-continue .ajaxcart-actions button{        
} 

div.ajaxcart-continue .ajaxcart-category-products{
    padding: 15px;
    display: inline-block;
    width: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.ajaxcart-continue .ajaxcart-products-grid{}
.ajaxcart-products-grid .price-box{
	padding: 0!important;
}
div.ajaxcart-continue .ajaxcart-products-grid {}
div.ajaxcart-continue .ajaxcart-products-grid li .ajaxcart-actions {    
    position: absolute;
	bottom: 10px;
}
div.ajaxcart-continue .ajaxcart-products-grid li {    
    float: left;
    /* max-height: 144px; */
    padding: 12px 38px 35px 0;    
    width: 128px;
}

div.ajaxcart-continue .special-price .price {
    color: #7f7f7f;
    font-size: 16px;
    font-weight: normal;
}

div.ajaxcart-continue .old-price .price-label{
}

div.ajaxcart-continue .old-price .price {
}

div.ajaxcart-continue .regular-price .price {
    font-size: 16px;
    font-weight: bold;
    color:#808080;
}

div.ajaxcart-continue .special-price .price-label {
}

div.ajaxcart-continue .ajaxcart-products-grid .last{
}

div.ajaxcart-continue .ajaxcart-category-products .product-name{
    font-size: 13px;
    font-weight: bold;
}

div.ajaxcart-continue .ajaxcart-category-products .product-name a{
    color: #060606;
}

#ajaxcart-continue-shopping-compare .messages-compare li {
    margin: 0 0 10px;
}

#ajaxcart-continue-shopping-compare .ajaxcart-checkout button.button span {
    background: none repeat scroll 0 0 #618499;
    border-color: #406A83;
}

#ajaxcart-continue-shopping-wishlist .messages-compare li {
    margin: 0 0 10px;
}

#ajaxcart-continue-shopping-wishlist .ajaxcart-checkout button.button span {
    background: none repeat scroll 0 0 #618499;
    border-color: #406A83;
}

#ajaxcart-content .product-options,#ajaxcart-content .btn-cart {
    border-left: 0 none;
    border-right: 0 none;
    margin: 5px auto 0;
    max-width: 510px;
    padding: 10px 2%;
    width: 96%;	
    display: inherit;
}
#ajaxcart-content .btn-cart{padding-left: 0;}
#product_addtocart_form .product-options dt label{
    font-size: 16px;
}
#product_addtocart_form  .product-options ul.options-list .label{
    display: inline-block;
    vertical-align: middle;
}
#product_addtocart_form .product-options ul.options-list input.checkbox{
    display: inline-block;
    float: none;
    vertical-align: middle;
}

#ajaxcart-content .ajaxcart-messages {
	overflow: visible;
    margin: 0;
}
#ajaxcart-content .ajaxcart-messages li {
    margin: 0 0 10px !important;
    padding: 4px 5% !important;
}
#ajaxcart-content .product-options-bottom .price-box{margin-top: 0px;}
#ajaxcart-content .product-options-bottom{
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 0 none;
    border-right: 0 none;
    margin: 5px auto 0;
    max-width: 510px;
    min-width: 250px;
    padding: 5px 0 10px;
    width: 100%;
}
#ajaxcart-content .product-options-bottom .add-to-cart{
	float: right;
	margin-right: 15px;
}
#ajaxcart-content .product-options-bottom .price-box{float: left; margin-left: 15px;}
#ajaxcart-content .product-info .price-box,
#ajaxcart-content .product-options-bottom .price-box{
	padding: 0;
}

#ajaxcart-content .price-box,
#ajaxcart-content .availability{
    margin: 8px 0;
}

#ajaxcart-content .product-info .product-name a {
    color: #464646;
    font-size: 13px;
    text-decoration: none;
}

/*--- CUSTOM ---*/
.detail_added{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    position: relative;
}
.detail_added .detail,
.detail_added .total-infor{
    float: left;
    width: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 30px 30px 20px;
}
.detail_added .detail{
    border-right: 1px solid #cdcdcd;
}
.detail_added .detail .product-image{
    float: left;
    width: 128px;
}
.detail_added .detail .popup-productinfo{
    float: right;
    width: 150px;
    margin-left: 10px;
}
.detail_added .detail .product-name{
    font-size: 16px!important;
    font-weight: bold;
}
.detail_added .detail .product-name a{
    text-decoration: none;
    color: #4d4d4d;
}
.detail_added .title,
.ajaxcart-category-products .title{
    font-size: 16px;
    color: #4d4d4d;
    font-weight: bold;
}
.detail_added .total-infor .title{
    text-decoration: underline;
}
.detail_added .totals{
    font-size: 16px;
    color: #999;
    font-weight: 600;
}
.detail_added .totals .amount{
    float: right;
}
.detail_added .buttons{
    position: absolute;
    width: 50%;
    right: 0;
    bottom: 35px;
    text-align: right;
}
.detail_added .buttons a{
    display: inline-block;
    margin-right: 20px;
    font-weight: 100;
    font-size: 16px;
    vertical-align: middle;
}
.detail_added .buttons a.checkout-btn{
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    text-decoration: none;
    padding: 10px 40px;
    background: #064b8c;
    font-family: tahoma;
}
#owl-demo .item{
    float: left;
    width: 25%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.addition-checkout-buttons{
    display: table;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
}
.addition-checkout-buttons > *{
    display: table-cell;
}
.addition-checkout-buttons .text{
    width: 190px;
    font: 100 16px 'open sans';
    padding-right: 20px;
}
.addition-checkout-buttons .paypal-or{
    margin: 10px 0 0 10px;
    display: inline-block;
    vertical-align: middle;
}
#ajaxcart-content .item .price-box .old-price,
#ajaxcart-content .item .price-box .save-price,
#ajaxcart-content .item .price-box .price-label{
    display: none;
}



/*----- RESPONSIVE
----------------------------------------------------*/
@media screen and (max-width: 767px) {
    div.ajaxcart-content{
        width: 90%;
    }
    .detail_added .detail,
    .detail_added .total-infor{
        width: 100%;
        padding: 20px 10px;
    }
    .detail_added .detail .product-image{
        width: 100%;
        text-align: center;
        float: none;
    }
    .detail_added .detail .popup-productinfo{
        float: none;
        width: 100%;
        margin: 15px 0 0;
    }
    .detail_added .buttons{
        position: static;
        width: 100%;
        margin: 20px 0 0;
    }
    .detail_added .buttons a{
        margin: 0;
    }
    .detail_added .buttons a + a{
        margin: 0 0 0 10px;
    }
    .detail_added .buttons a.checkout-btn{
        padding: 10px 20px;
    }
}




