<?php
/**
 * ajaxcart template
 *
 * @see Magestore_Ajaxcart_Block_Ajaxcart
 */
?>
<?php $_templateFolder = Mage::helper('ajaxcart')->getTemplateFolder() ?>
<?php if ($_templateFolder && file_exists(dirname(__FILE__)."/$_templateFolder/ajaxcart.phtml")): ?>
    <?php include "$_templateFolder/ajaxcart.phtml" ?>
<?php else: ?>

<?php $_helper = Mage::helper('ajaxcart') ?>
<div class="ajaxcart">
<div id="ajaxcart-load-ajax" style="display:none;">
    <div class="ajaxcart-overlay">&nbsp;</div>
    <div class="ajaxcart-loading">
		<img alt="<?php echo $this->__('Loading') ?>..." src="<?php echo $this->getUrlImage( );?>" />
        <span id="add_to_cart"><?php echo $this->__('Loading') ?>...</span>
    </div>
</div>
<div class="ajaxcart-animation-mask" style="display: none;"></div>
<div id="ajaxcart-animation" style="display: none;"></div>
<div id="ajaxcart-pop-up" style="display: none;">
    <div class="ajaxcart-popup-overlay" onclick="closeAjaxPopup();">&nbsp;</div>
    <div>
        <div id="ajaxcart-content" class="ajaxcart-content bbb">
		</div>
    </div>
</div>
<?php if ($this->getIsShowConfirmation()): ?>
    <div id="ajaxcart-continue-shopping" style="display: none;">
	<a href="#" title="<?php echo $this->__('Close') ?>" class="close-popup" onclick="closeAjaxPopup();return false;"><em><?php echo $this->__('Close')?></em></a>
        <div class="ajaxcart-continue">
            <ul class="messages ajaxcart-messages"><li></li></ul>
            <div id="ajaxcart-related"></div>
            <div class="ajaxcart-footer">
                <div class="ajaxcart-checkout">
                    <button type="button" class="button" title="<?php echo $this->__('Checkout') ?>" onclick="ajaxcartProcessCheckout();">
                        <span>
                            <span><?php echo $this->__('Checkout') ?></span>
                        </span>
                    </button>
                </div>
                <div class="ajaxcart-cancel">
                    <button type="button" class="ajaxcart-btn-continue" title="<?php echo $this->__('Continue shopping') ?>" onclick="closeAjaxPopup();">
                        <span class="span">
                            <span><?php echo $this->__('Continue shopping') ?>
                            <?php if ($this->getTimeOut()): ?>
                                (<em id="ajaxcart-coundown"><?php echo $this->getTimeOut() ?></em>)
                            <?php endif ?>
							</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
<?php endif ?>
<?php if ($this->getIsShowConfirmation()): ?>

    <div id="ajaxcart-continue-shopping-wishlist" style="display: none;">
	<a href="#" title="<?php echo $this->__('Close') ?>" class="close-popup" onclick="closeAjaxPopup();return false;"><em><?php echo $this->__('Close')?></em></a>
        <div class="ajaxcart-continue">
            <ul class="messages-wishlist ajaxcart-messages"><li></li></ul>
            <div id="ajaxcart-related-wishlist"></div>
            <div class="ajaxcart-footer">
                <div class="ajaxcart-checkout">
                    <button type="button" class="button" title="<?php echo $this->__('Go to Wishlist') ?>" onclick="ajaxcartProcessWishlist();">
                        <span>
                            <span><?php echo $this->__('Go to Wishlist') ?></span>
                        </span>
                    </button>
                </div>
                <div class="ajaxcart-cancel">
                    <button type="button" class="ajaxcart-btn-continue" title="<?php echo $this->__('Continue shopping') ?>" onclick="closeAjaxPopup();">
                        <span class="span">
                            <span><?php echo $this->__('Continue shopping') ?>
                            <?php /* if ($this->getTimeOut()): ?>
                                (<em id="ajaxcart-coundown"><?php echo $this->getTimeOut() ?></em>)
                            <?php endif */?>
							</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
<?php endif ?>
<?php if ($this->getIsShowConfirmation()): ?>
    <div id="ajaxcart-continue-shopping-compare" style="display: none;">
	<a href="#" title="<?php echo $this->__('Close') ?>" class="close-popup" onclick="closeAjaxPopup();return false;"><em><?php echo $this->__('Close')?></em></a>
        <div class="ajaxcart-continue">
            <ul class="messages-compare ajaxcart-messages"><li></li></ul>
            <div id="ajaxcart-related-compare"></div>
            <div class="ajaxcart-footer">
                <div class="ajaxcart-checkout" id="compare_button">
                    <button type="button" class="button" title="<?php echo $this->__('Compare') ?>" onclick="ajaxcartProcessCompare();">
                        <span>
                            <span><?php echo $this->__('Compare') ?></span>
                        </span>
                    </button>
                </div>
                <div class="ajaxcart-cancel">
                    <button type="button" class="ajaxcart-btn-continue" title="<?php echo $this->__('Continue shopping') ?>" onclick="closeAjaxPopup();">
                        <span class="span">
                            <span><?php echo $this->__('Continue shopping') ?>
                            <?php /*if ($this->getTimeOut()): ?>
                                (<em id="ajaxcart-coundown"><?php echo $this->getTimeOut() ?></em>)
                            <?php endif */?>
							</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
<?php endif ?>

<script type="text/javascript">
    //<![CDATA[
    // Process Checkout by click to Button
    function ajaxcartProcessCheckout() {
        <?php if ($this->getTimeOut()): ?>clearInterval(ajaxcartCountInterval);<?php endif ?>
        window.location.href = '<?php echo $this->getUrl('checkout/onepage/index') ?>';
    }
    // Process Compare by click to Buttion
    function ajaxcartProcessCompare() {
        <?php if ($this->getTimeOut()): ?>clearInterval(ajaxcartCountInterval);<?php endif ?>
        popWin('<?php echo Mage::getUrl('catalog/product_compare') ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes');
        closeAjaxPopup();
    }
    function ajaxcartProcessWishlist(){
        <?php if ($this->getTimeOut()): ?>clearInterval(ajaxcartCountInterval);<?php endif ?>
        window.location.href = '<?php echo $this->getUrl('wishlist/index/index') ?>';
    }

    // Check timeout and close Ajax Popup
<?php if ($this->getTimeOut()): ?>
    var ajaxcartTimes = <?php echo $this->getTimeOut() ?>;
    var ajaxcartCount = 0;
    var ajaxcartCountInterval = 0;
<?php endif ?>

    function closeAjaxPopup() {
    <?php if ($this->getTimeOut()): ?>
        clearInterval(ajaxcartCountInterval);
        $('ajaxcart-content').style.removeProperty ? $('ajaxcart-content').style.removeProperty('top') : $('ajaxcart-content').style.removeAttribute('top');
    <?php endif ?>
        $('ajaxcart-pop-up').hide();
        $('ajaxcart-content').innerHTML = '';
        ajaxcart.cancelRequest();
        if (typeof productAddToCartFormBak != "undefined") {
            productAddToCartForm = productAddToCartFormBak;
        }
    }

    // Hide ajax popup by Timeout
    function ajaxCartHidebyTimout(response){
        if (response && (response.relatedhtml)) {
            <?php if($this->getIsShowConfirmation()):?>
            $('ajaxcart-related').innerHTML = response.relatedhtml;
            <?php endif;?>
        }
    <?php if (!$this->getIsShowConfirmation()): ?>
        closeAjaxPopup();
    <?php elseif ($this->getTimeOut()): ?>
        $('ajaxcart-content').innerHTML = $('ajaxcart-continue-shopping').innerHTML;
        // $('ajaxcart-content').style.top = '45%';
        // $('ajaxcart-content').style.position = 'fixed';
        $('ajaxcart-pop-up').show();
        ajaxcart.updatePopupBox($('ajaxcart-content'));
        ajaxcartCount = ajaxcartTimes-1;
        ajaxcartCountInterval = setInterval(function(){
            if (ajaxcartCount) {
                $('ajaxcart-coundown').innerHTML = ajaxcartCount;
                ajaxcartCount--;
            } else {
                closeAjaxPopup();
            }
        },1000);
    <?php else: ?>
        $('ajaxcart-content').innerHTML = $('ajaxcart-continue-shopping').innerHTML;
        $('ajaxcart-pop-up').show();
        ajaxcart.updatePopupBox($('ajaxcart-content'));
    <?php endif ?>
        jQuery('#ajax_related_products').owlCarousel({
            items: 4,
            responsiveBaseWidth: jQuery('#ajaxcart-content'),
            lazyLoad: true,
            itemsScaleUp:true
        });
        jQuery('#ajaxcart-content .ajaxcart-category-products').css('width','100%');
    }

    function ajaxCartHideComparebyTimout(response){
        if (response && (response.relatedhtml)) {
           <?php if($this->getIsShowConfirmation()):?>$('ajaxcart-related-compare').innerHTML = response.relatedhtml;<?php endif;?>
        }
    <?php if (!$this->getIsShowConfirmation()): ?>
        closeAjaxPopup();
    <?php elseif ($this->getTimeOut()): ?>
        $('ajaxcart-content').innerHTML = $('ajaxcart-continue-shopping-compare').innerHTML;
        // $('ajaxcart-content').style.top = '45%';
        // $('ajaxcart-content').style.position = 'fixed';
        $('ajaxcart-pop-up').show();
        ajaxcart.updatePopupBox($('ajaxcart-content'));
        ajaxcartCount = ajaxcartTimes-1;
        ajaxcartCountInterval = setInterval(function(){
            if (ajaxcartCount) {
                $('ajaxcart-coundown').innerHTML = ajaxcartCount;
                ajaxcartCount--;
            } else {
                closeAjaxPopup();
            }
        },1000);
    <?php else: ?>
        $('ajaxcart-content').innerHTML = $('ajaxcart-continue-shopping-compare').innerHTML;
        $('ajaxcart-pop-up').show();
        ajaxcart.updatePopupBox($('ajaxcart-content'));
    <?php endif ?>
    }

     function ajaxCartHideWishlistbyTimout(response){
        if (response && (response.relatedhtml)) {
            <?php if ($this->getIsShowConfirmation()): ?>$('ajaxcart-related-wishlist').innerHTML = response.relatedhtml;<?php endif;?>
        }
    <?php if (!$this->getIsShowConfirmation()): ?>
        closeAjaxPopup();
    <?php elseif ($this->getTimeOut()): ?>
        $('ajaxcart-content').innerHTML = $('ajaxcart-continue-shopping-wishlist').innerHTML;
        // $('ajaxcart-content').style.top = '45%';
        // $('ajaxcart-content').style.position = 'fixed';
        $('ajaxcart-pop-up').show();
        ajaxcart.updatePopupBox($('ajaxcart-content'));
        ajaxcartCount = ajaxcartTimes-1;
        ajaxcartCountInterval = setInterval(function(){
            if (ajaxcartCount) {
                $('ajaxcart-coundown').innerHTML = ajaxcartCount;
                ajaxcartCount--;
            } else {
                closeAjaxPopup();
            }
        },1000);
    <?php else: ?>
        $('ajaxcart-content').innerHTML = $('ajaxcart-continue-shopping-wishlist').innerHTML;
        $('ajaxcart-pop-up').show();
        ajaxcart.updatePopupBox($('ajaxcart-content'));
    <?php endif ?>
    }

    // Update Action
    Event.observe(window,'load',function(){
        ajaxcart = new Ajaxcart('ajaxcart-load-ajax','ajaxcart-pop-up','ajaxcart-content','ul[class="messages<?php if ($this->getIsShowConfirmation())
    echo ' ajaxcart-messages' ?>"]','<?php echo $_helper->getMiniCartClass() ? $_helper->getMiniCartClass() : 'none' ?>',$$('.header ul.links').first(), <?php echo $this->getIsPreloadAjax() ? 'true' : 'false' ?>);

        compare = new AjaxcartCompare ('ajaxcart-load-ajax','ajaxcart-pop-up','ajaxcart-content','ul[class="messages-compare<?php if ($this->getIsShowConfirmation())
    echo ' ajaxcart-messages' ?>"]','<?php echo $_helper->getMiniCompareClass() ? $_helper->getMiniCompareClass() : 'none' ?>',$$('.header ul.links').first(),'compare', <?php echo $this->getIsPreloadAjax() ? 'true' : 'false' ?>);

        wishlist = new AjaxcartCompare('ajaxcart-load-ajax','ajaxcart-pop-up','ajaxcart-content','ul[class="messages-wishlist<?php if ($this->getIsShowConfirmation())
    echo ' ajaxcart-messages' ?>"]','div[class="block block-wishlist"]',$$('.header ul.links').first(),'wishlist', <?php echo $this->getIsPreloadAjax() ? 'true' : 'false' ?>);

        $$('a.link-wishlist').each(function(el){el.observe('mousedown',function(event){ajaxcartEvent=event.element();})});
        $$('a.link-compare').each(function(el){el.observe('mousedown', function(event){ajaxcartEvent=event.element();})});
        $$('button').each(function(el){el.observe('mousedown', function(event){ajaxcartEvent=event.element();})});
        var overlayHeight = $$('body').first().getHeight() + 'px';
        $$('div.ajaxcart-overlay').first().style.height = overlayHeight;
        $$('div.ajaxcart-popup-overlay').first().style.height = overlayHeight;
    <?php if (!$this->getIsShowConfirmation()): ?>
        if (!$$('ul[class="messages"]').first()){
            var pageTitle = $$('.col-main').first().down('.page-title');
            if (pageTitle){
                var messageTag = document.createElement('ul');
                messageTag.className = 'messages';
                var pageTitleParent = pageTitle.parentNode;
                pageTitleParent.insertBefore(messageTag,pageTitle.next());
            }
        }
    <?php endif ?>
        updateJscartEvent();
        ajaxcart.updateMinicartEvent();
        compare.updateMiniCompareEvent();
        wishlist.updateMiniCompareEvent();
    });

    function ajaxcartUpdateMini(event) {
        var proElement = this.up('li');
        $('ajaxcart-pop-up').show();
        var content = $('ajaxcart-content');
        var pContent = document.createElement('div');
        pContent.className = 'ajaxcart-preload';
        content.appendChild(pContent);
        pContent = content.down('.ajaxcart-preload');

        var productImage = proElement.down('.product-image');
        if (productImage) {
            pContent.appendChild(Element.clone(productImage, 1));
            productImage = pContent.down('img');
            productImage.width = 100;
            productImage.height = 100;
        }
        var productInfo = document.createElement('div');
        productInfo.className = 'item-product-info';
        pContent.appendChild(productInfo);
        var productName = proElement.down('.product-name');
        if (productName) productInfo.appendChild(Element.clone(productName, 1));
        var productPrice = proElement.down('.price');
        if (productPrice) productInfo.appendChild(Element.clone(productPrice, 1));
        pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
        ajaxcart.updatePopupBox(content);
        ajaxcart.addToCartHandle(this.href, '');
        return false;
    }
    function ajaxcartDeleteMini(event) {
        if (!confirm('<?php echo $this->__('Are you sure you would like to remove this item from the shopping cart?') ?>')) {
            return false;
        }
        $('ajaxcart-pop-up').show();
        var proElement = this.up('li');
        var content = $('ajaxcart-content');
        var pContent = document.createElement('div');
        pContent.className = 'ajaxcart-preload';
        content.appendChild(pContent);
        pContent = content.down('.ajaxcart-preload');
        pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
        var productName = proElement.down('.product-name');
        if (productName) {
            var aName = productName.down('a');
            if (aName) {
                var spanEl = pContent.down('.ajaxcart-loading').down('span');
                if (isIE) spanEl.innerText = aName.innerHTML + ' <?php echo $this->__('will be removed from the cart') ?>...';
                else spanEl.innerHTML = aName.innerHTML + ' <?php echo $this->__('will be removed from the cart') ?>...';
            }
        }
        ajaxcart.updatePopupBox(content);
        ajaxcart.addToCartHandle(this.href, '');
        return false;
    }

    // Create Ajax cart Object
    var ajaxcart = null;
    var compare = null;

    var wishlist = null;

        // Process function setLocation
        var ajaxcartEvent = null;
        function setLocation(url){
            if (!ajaxcartEvent || !ajaxcart) {
                window.location.href = url;
                return false;
            }
            <?php if($this->getTimeOut()){ ?>
                clearInterval(ajaxcartCountInterval);
           <?php } ?>
            if (url.search('options=cart') != -1) {
                // Process load option
                var proElement = $(ajaxcartEvent).up('li');
                $('ajaxcart-pop-up').show();
                var content = $('ajaxcart-content');
                var pContent = document.createElement('div');
                pContent.className = 'ajaxcart-preload';

                var productImage = proElement.down('.product-image');
                if (productImage) {
                    pContent.appendChild(Element.clone(productImage, 1));
                }

                var productInfo = document.createElement('div');
                productInfo.className = 'product-info';
                pContent.appendChild(productInfo);
                var productName = proElement.down('.product-name');
                if (productName) productInfo.appendChild(Element.clone(productName, 1));
                var productRate = proElement.down('.ratings');
                if (productRate) productInfo.appendChild(Element.clone(productRate, 1));
                var productPrice = proElement.down('.price-box');
                if (productPrice) productInfo.appendChild(Element.clone(productPrice, 1));

                pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
                content.innerHTML = '';
                content.appendChild(pContent);
                if (productImage) {
                    pContent = content.down('.ajaxcart-preload');
                    productImage = pContent.down('img');
                    productImage.width = 128;
                    productImage.height = 128;
                }
                ajaxcart.updatePopupBox(content);
                ajaxcart.addToCartHandle(url,'');
            } else if (url.search('/checkout/cart/add/') != -1) {
                // Run animation
                var proElement = $(ajaxcartEvent).up('li');
                function showAjaxcartPopup() {
                    var proElement = $(ajaxcartEvent).up('li');
                    $('ajaxcart-pop-up').show();
                    var content = $('ajaxcart-content');
                    var pContent = document.createElement('div');
                    pContent.className = 'ajaxcart-preload';
                    pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
                    var productName = proElement ? proElement.down('.product-name') : false;
                    var aName = false;
                    if (productName) {
                        aName = productName.down('a');
                    }
                    content.innerHTML = '';
                    content.appendChild(pContent);
                    if (aName) {
                        pContent = content.down('.ajaxcart-preload');
                        var spanEl = pContent.down('.ajaxcart-loading').down('span');
                        if (isIE) spanEl.innerText = '<?php echo $this->__('Adding') ?> ' + aName.innerHTML + ' <?php echo $this->__('to cart') ?>...';
                        else spanEl.innerHTML = '<?php echo $this->__('Adding') ?> ' + aName.innerHTML + ' <?php echo $this->__('to cart') ?>...';
                    }
                    ajaxcart.updatePopupBox(content);
                    ajaxcart.allowFinish = true;
                    if (ajaxcart.responseCache) ajaxcart.addToCartFinish(ajaxcart.responseCache);
                }
            <?php if ($_helper->getConfig('allow_animation')): ?>
                <?php if ($_helper->getConfig('animation_target')): ?>
                    var target = $$('.top-link-cart').first();
                    if (target) target = $(target.parentNode);
                <?php else: ?>
                    var target = $$('<?php echo $_helper->getMiniCartClass() ? $_helper->getMiniCartClass() : 'none' ?>').first();
                <?php endif ?>
            if (target && proElement && proElement.down('.product-image')) {
                ajaxcart.allowFinish = false;
                ajaxcart.addToCartHandle(url,'');
                new AjaxcartAnimation('ajaxcart-animation', target, true, proElement.down('.product-image'),<?php echo $this->getAutoScroll() ? 'true' : 'false' ?>, showAjaxcartPopup);
            } else {
                ajaxcart.addToCartHandle(url,'');
                showAjaxcartPopup();
            }
            <?php else: ?>
                ajaxcart.addToCartHandle(url,'');
                showAjaxcartPopup();
            <?php endif ?>
                // Process add to cart
                // ajaxcart.addToCartHandle(url,'');
            } else {
                window.location.href = url;
            }
        }

        // Process function setPLocation
        function setPLocation(url, setFocus){
            if (setFocus){
                window.opener.focus();
                window.close();
            }
            if (!ajaxcartEvent) {
                window.opener.location.href = url;
                return false;
            }

            if (url.search('options=cart') != -1) {
                // Process load option
                var proElement = $(ajaxcartEvent).up('td');
                window.opener.$('ajaxcart-pop-up').show();
                var content = window.opener.$('ajaxcart-content');
                var pContent = document.createElement('div');
                pContent.className = 'ajaxcart-preload';
                content.appendChild(pContent);
                pContent = content.down('.ajaxcart-preload');

                var productImage = proElement.down('.product-image');
                if (productImage) {
                    pContent.appendChild(Element.clone(productImage, 1));
                    productImage = pContent.down('img');
                    productImage.width = 128;
                    productImage.height = 128;
                }

                var productInfo = document.createElement('div');
                productInfo.className = 'product-info';
                pContent.appendChild(productInfo);
                var productName = proElement.down('.product-name');
                if (productName) productInfo.appendChild(Element.clone(productName, 1));
                var productRate = proElement.down('.ratings');
                if (productRate) productInfo.appendChild(Element.clone(productRate, 1));
                var productPrice = proElement.down('.price-box');
                if (productPrice) productInfo.appendChild(Element.clone(productPrice, 1));

                pContent.appendChild(Element.clone(window.opener.$('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
                window.opener.ajaxcart.updatePopupBox(content);
                window.opener.ajaxcart.addToCartHandle(url,'');
            } else if (url.search('/checkout/cart/add/') != -1) {
                window.opener.$('ajaxcart-pop-up').show();
                var proElement = $(ajaxcartEvent).up('td');
                var content = window.opener.$('ajaxcart-content');
                var pContent = document.createElement('div');
                pContent.className = 'ajaxcart-preload';
                content.appendChild(pContent);
                pContent = content.down('.ajaxcart-preload');
                pContent.appendChild(Element.clone(window.opener.$('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
                var productName = proElement.down('.product-name');
                if (productName) {
                    var aName = productName.down('a');
                    if (aName) {
                        var spanEl = pContent.down('.ajaxcart-loading').down('span');
                        if (isIE) spanEl.innerText = '<?php echo $this->__('Adding') ?> ' + aName.innerHTML + ' <?php echo $this->__('to cart') ?>...';
                        else spanEl.innerHTML = '<?php echo $this->__('Adding') ?> ' + aName.innerHTML + ' <?php echo $this->__('to cart') ?>...';
                    }
                }
                window.opener.ajaxcart.updatePopupBox(content);
                // Process add to cart
                window.opener.ajaxcart.addToCartHandle(url,'');
            } else {
                window.opener.location.href = url;
            }
        }

        // Remove some no need element after update content
        function ajaxMoreTemplateJs(){
            if ($('ajaxcart-content').down('.ajaxcart-loading')) $('ajaxcart-content').down('.ajaxcart-loading').hide();
            if ($('ajaxcart-content').down(".paypal-logo")) $('ajaxcart-pop-up').down(".paypal-logo").hide();
            if ($('ajaxcart-content').down(".add-to-links")) $('ajaxcart-pop-up').down(".add-to-links").hide();
            $$('#ajaxcart-content button').each(function(el){el.observe('mousedown', function(event){ajaxcartEvent=event.element();})});
        }
        ajaxcartTemplateJs = ajaxMoreTemplateJs;

        // Event to change anchor element action (href)
        function updateJscartEvent(){
            $$('a[class="link-compare"]').each(function(el){
                if (el.href.search('catalog/product_compare/add') != -1)
                //el.href = "javascript:compare.addToCompareHandle('"+el.href+"','')";
                    el.onclick = ajaxcartUpdateCompareMini;
            });

            $$('a[class="link-wishlist"]').each(function(el){
               if(el.href.search('wishlist/index/add') != -1)
                    el.onclick = ajaxcartUpdateWishlistMini;
            });
        }
        function ajaxcartUpdateCompareMini(event) {
                $('ajaxcart-pop-up').show();
                var content = $('ajaxcart-content');
                var pContent = document.createElement('div');
                pContent.className = 'ajaxcart-preload';
                content.innerHTML = '';
                content.appendChild(pContent);
                pContent = content.down('.ajaxcart-preload');
                try{
                    var proElement = $(ajaxcartEvent).up('li').up('li');
                    var productImage = proElement.down('.product-image');
                    if (productImage) {
                        pContent.appendChild(Element.clone(productImage, 1));
                        productImage = pContent.down('img');
                        productImage.width = 128;
                        productImage.height = 128;
                    }
                }catch(err){
                    try{
                        var productImage = $('image');
                        var imageSrcArray = $('image').src.split('/');
                        for( i = 0; i < imageSrcArray.length; i++){
                            if(imageSrcArray[i] == 'image'){
                                imageSrcArray[i] = 'small_image/135x';
                            }
                        }
                        var srcImage = imageSrcArray[0];
                        for( i = 1; i < imageSrcArray.length; i++){
                            srcImage = srcImage+'/'+ imageSrcArray[i];
                        }
                        var imageTag = document.createElement('img');
                        imageTag.src = srcImage;
                        if (productImage) {
                            pContent.appendChild(Element.clone(imageTag, 1));
                            productImage = pContent.down('img');
                            productImage.width = 128;
                            productImage.height = 128;
                        }
                    }catch(e){}
                }

                var productInfo = document.createElement('div');
                productInfo.className = 'product-info';
                pContent.appendChild(productInfo);
                try{
                    var productName = proElement.down('.product-name');
                    if (productName) productInfo.appendChild(Element.clone(productName, 1));
                    var productRate = proElement.down('.ratings');
                    if (productRate) productInfo.appendChild(Element.clone(productRate, 1));
                    var productPrice = proElement.down('.price-box');
                    if (productPrice) productInfo.appendChild(Element.clone(productPrice, 1));
                }catch(err){
                   var proElement2 = $(ajaxcartEvent).up('li').up('ul').up('div').up('div');
                   var productName = proElement2.down('.product-name');
                    if (productName) productInfo.appendChild(Element.clone(productName, 1));
                    var productRate = proElement2.down('.ratings');
                    if (productRate) productInfo.appendChild(Element.clone(productRate, 1));
                    var productPrice = proElement2.down('.price-box');
                    if (productPrice) productInfo.appendChild(Element.clone(productPrice, 1));
                }
                pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
                var spanEl = pContent.down('.ajaxcart-loading').down('span');
                if (isIE) spanEl.innerText = '<?php echo $this->__('Addding to compare') ?>...';
                else spanEl.innerHTML = '<?php echo $this->__('Adding to compare') ?>...';
            compare.updatePopupBox(content);
            compare.addToCompareHandle(this.href, '');
            return false;
        }

     function ajaxcartDeleteCompareMini(event) {
        if (!confirm('<?php echo $this->__('Are you sure you would like to remove this item from the compare products?') ?>')) {
            return false;
        }
        $('ajaxcart-pop-up').show();
        var proElement = this.up('li');
        var content = $('ajaxcart-content');
        var pContent = document.createElement('div');
        pContent.className = 'ajaxcart-preload';
        content.appendChild(pContent);
        pContent = content.down('.ajaxcart-preload');
        pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
        var productName = proElement.down('.product-name');
        if (productName) {
            var aName = productName.down('a');
            if (aName) {
                var spanEl = pContent.down('.ajaxcart-loading').down('span');
                if (isIE) spanEl.innerText = '<?php echo $this->__('Removing') ?> ' + aName.innerHTML + ' <?php echo $this->__('comparison list') ?>...';
                else spanEl.innerHTML = '<?php echo $this->__('Removing') ?> ' + aName.innerHTML + ' <?php echo $this->__('comparison list') ?>...';
            }
        }
        compare.updatePopupBox(content);
        compare.addToCompareHandle(this.href, '');
        return false;
    }

    function ajaxcartClearCompareMini(event) {
        $('ajaxcart-pop-up').show();
        var proElement = this.up('li');
        var content = $('ajaxcart-content');
        var pContent = document.createElement('div');
        pContent.className = 'ajaxcart-preload';
        content.appendChild(pContent);
        pContent = content.down('.ajaxcart-preload');
        pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
        var spanEl = pContent.down('.ajaxcart-loading').down('span');
        if (isIE) spanEl.innerText = '<?php echo $this->__('Removing all products from comparison list') ?>...';
        else spanEl.innerHTML = '<?php echo $this->__('Removing all products from comparison list') ?>...';
        compare.updatePopupBox(content);
        compare.addToCompareHandle(this.href, '');
        $('compare_button').hide();
        return false;
    }

    function ajaxcartUpdateWishlistMini(){
                $('ajaxcart-pop-up').show();
                var content = $('ajaxcart-content');
                var pContent = document.createElement('div');
                pContent.className = 'ajaxcart-preload';
                content.innerHTML = '';
                content.appendChild(pContent);
                pContent = content.down('.ajaxcart-preload');
                try{
                    var proElement = $(ajaxcartEvent).up('li').up('li');
                    var productImage = proElement.down('.product-image');
                    if (productImage) {
                        pContent.appendChild(Element.clone(productImage, 1));
                        productImage = pContent.down('img');
                        productImage.width = 128;
                        productImage.height = 128;
                    }
                }catch(err){
                    try{
                        var productImage = $('image');
                        var imageSrcArray = $('image').src.split('/');
                        for( i = 0; i < imageSrcArray.length; i++){
                            if(imageSrcArray[i] == 'image'){
                                imageSrcArray[i] = 'small_image/135x';
                            }
                        }
                        var srcImage = imageSrcArray[0];
                        for( i = 1; i < imageSrcArray.length; i++){
                            srcImage = srcImage+'/'+ imageSrcArray[i];
                        }
                        var imageTag = document.createElement('img');
                        imageTag.src = srcImage;
                        if (productImage) {
                        pContent.appendChild(Element.clone(imageTag, 1));
                        productImage = pContent.down('img');
                        productImage.width = 128;
                        productImage.height = 128;
                        }
                    }catch(e){}
                }

                var productInfo = document.createElement('div');
                productInfo.className = 'product-info';
                pContent.appendChild(productInfo);
                try{
                    var productName = proElement.down('.product-name');
                    if (productName) productInfo.appendChild(Element.clone(productName, 1));
                    var productRate = proElement.down('.ratings');
                    if (productRate) productInfo.appendChild(Element.clone(productRate, 1));
                    var productPrice = proElement.down('.price-box');
                    if (productPrice) productInfo.appendChild(Element.clone(productPrice, 1));
                }catch(err){
                   var proElement2 = $(ajaxcartEvent).up('li').up('ul').up('div').up('div');
                   var productName = proElement2.down('.product-name');
                    if (productName) productInfo.appendChild(Element.clone(productName, 1));
                    var productRate = proElement2.down('.ratings');
                    if (productRate) productInfo.appendChild(Element.clone(productRate, 1));
                    var productPrice = proElement2.down('.price-box');
                    if (productPrice) productInfo.appendChild(Element.clone(productPrice, 1));
                }
                pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
                var spanEl = pContent.down('.ajaxcart-loading').down('span');
                if (isIE) spanEl.innerText = '<?php echo $this->__('Addding to wishlist') ?>...';
                else spanEl.innerHTML = '<?php echo $this->__('Adding to wishlist') ?>...';
                wishlist.updatePopupBox(content);
                wishlist.addToCompareHandle(this.href, '');
            return false;
    }

    function ajaxcartDeleteWishlistMini(event) {
        if (!confirm('<?php echo $this->__('Are you sure you would like to remove this item from the wistlist ?') ?>')) {
            return false;
        }
        $('ajaxcart-pop-up').show();
        var proElement = this.up('li');
        var content = $('ajaxcart-content');
        var pContent = document.createElement('div');
        pContent.className = 'ajaxcart-preload';
        content.appendChild(pContent);
        pContent = content.down('.ajaxcart-preload');
        pContent.appendChild(Element.clone($('ajaxcart-load-ajax').down('.ajaxcart-loading'), 1));
        var productName = proElement.down('.product-name');
        if (productName) {
            var aName = productName.down('a');
            if (aName) {
                var spanEl = pContent.down('.ajaxcart-loading').down('span');
                if (isIE) spanEl.innerText = '<?php echo $this->__('Removing') ?> ' + aName.innerHTML + ' <?php echo $this->__('from from wishlist') ?>...';
                else spanEl.innerHTML = '<?php echo $this->__('Removing') ?> ' + aName.innerHTML + ' <?php echo $this->__('from from wishlist') ?>...';
            }
        }
        wishlist.updatePopupBox(content);
        wishlist.addToCompareHandle(this.href, '');
        return false;
    }
    //]]>
</script>

</div>

<?php endif ?>
