<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php
$_helper = $this->helper('catalog/output');
$_coreHelper = $this->helper('core');
$_product = $this->getProduct();
// if($_product->getAttributeText('hidden_offer') == 'Yes')
//   exit;
$theme = $this->helper('ultimo');

//CSS classes based on product type
$productTypeId = $_product->getTypeId();
$productTypeClasses = '';
if ($productTypeId === 'grouped') {
    $productTypeClasses .= ' is-type-grouped';
}
//Product collaterals
$section = array();

//Related products. $section['related'] is set only if related products (or replacement) exist
$replaceRelated = $theme->getCfg('product_page/replace_related');
if ($replaceRelated == 1) //don't replace with static block
{
    if ($tmpHtml = trim($this->getChildHtml('catalog.product.related')))
        $section['related'] = $tmpHtml;
    //$section['related'] = trim($this->getChildHtml('catalog.product.related'));
} elseif ($replaceRelated == 2) //if related is empty, replace with static block
{
    if ($tmpHtml = trim($this->getChildHtml('catalog.product.related')))
        $section['related'] = $tmpHtml;
    else //related empty
        if ($tmpHtml = $this->getChildHtml('block_product_replace_related'))
            $section['related'] = '<div class="block_product_replace_related">' . $tmpHtml . '</div>';
} elseif ($replaceRelated == 3) //replace with static block
{
    if ($tmpHtml = $this->getChildHtml('block_product_replace_related'))
        $section['related'] = '<div class="block_product_replace_related">' . $tmpHtml . '</div>';
}

//Up-sell products. $section['upsell'] is set only if up-sell products (or replacement) exist
$replaceUpsell = $theme->getCfg('product_page/replace_upsell');
if ($replaceUpsell == 1) //don't replace with static block
{
    if ($tmpHtml = trim($this->getChildHtml('upsell_products')))
        $section['upsell'] = $tmpHtml;
    //$section['upsell'] = $this->getChildHtml('upsell_products');
} elseif ($replaceUpsell == 2) //if upsell is empty, replace with static block
{
    if ($tmpHtml = trim($this->getChildHtml('upsell_products')))
        $section['upsell'] = $tmpHtml;
    else //upsell empty
        if ($tmpHtml = $this->getChildHtml('block_product_replace_upsell'))
            $section['upsell'] = '<div class="block_product_replace_upsell">' . $tmpHtml . '</div>';
} elseif ($replaceUpsell == 3) //replace with static block
{
    if ($tmpHtml = $this->getChildHtml('block_product_replace_upsell'))
        $section['upsell'] = '<div class="block_product_replace_upsell">' . $tmpHtml . '</div>';
}


//Assign related products to selected position
if (isset($section['related'])) {
    $relatedPosition = $theme->getCfg('product_page/related_position');
    //TODO:remove: $relatedPosition = 11;
    switch ($relatedPosition) {
        case 10:
            $p['secondaryCol'][0] = $section['related'];
            break;
        case 11:
            $p['secondaryCol'][1] = $section['related'];
            break;
        case 20:
            $p['collatSecondaryCol'] = $section['related'];
            break;
    }
}


//Width (in grid units) of product page sections
$imgColUnits = $theme->getCfg('product_page/image_column');
$primaryColUnits = $theme->getCfg('product_page/primary_column');
$secondaryColUnits = $theme->getCfg('product_page/secondary_column');
$container2ColUnits = $imgColUnits + $primaryColUnits;
$collatPrimaryColUnits = $imgColUnits + $primaryColUnits;
$collatSecondaryColUnits = $secondaryColUnits;

//If no secondary column
if (empty($secondaryColUnits)) {
    $primaryColUnits += 12 - ($imgColUnits + $primaryColUnits);
    $container2ColUnits = $imgColUnits + $primaryColUnits;
    $collatPrimaryColUnits = 9;
    $collatSecondaryColUnits = 3;
}

//If no related products, stretch collateral primary column
if (!isset($section['related'])) {
    $container2ColUnits = 12;
    $collatPrimaryColUnits = 12;
    $collatSecondaryColUnits = 0;
} elseif (!isset($p['secondaryCol'])) {
    $container2ColUnits = 12;
}

//Grid classes
$imgColGridClass = 'grid12-' . $imgColUnits;
$primaryColGridClass = 'grid12-' . $primaryColUnits;
$secondaryColGridClass = 'grid12-' . $secondaryColUnits;
$container2ColGridClass = 'grid12-' . $container2ColUnits;
$collatPrimaryColGridClass = 'grid12-' . $collatPrimaryColUnits;
$collatSecondaryColGridClass = 'grid12-' . $collatSecondaryColUnits;
if (empty($secondaryColUnits)) {
    $secondaryColGridClass = '';
}
?>
<?php
/**
 * Custom
 */
/******************************************************************************/
$buttonTitle = $this->__('Add to cart');
$addToCartClass = 'hardcover';
$product = Mage::getModel('catalog/product')->load($_product->getId());
if ($product->getTypeId() == 'downloadable') {
    $addToCartClass = 'ebook';
    //$buttonTitle = $this->__('Download');
}
/******************************************************************************/
?>

    <script type="text/javascript">
        var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
    </script>

    <div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
    <div class="product-view">
        <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

            <div class="no-display">
                <?php echo $this->getBlockHtml('formkey'); ?>
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>
            <div class="product-img-column grid12-8">
                <?php echo $this->getChildHtml('media') ?>
                <?php //Product labels
                echo $this->helper('ultimo/labels')->getLabels($_product);
                ?>
            </div>
            <div class="product-info-column">
                <div class="product-name">
                    <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                    <h3><?php echo $_helper->productAttribute($_product, $_product->getSubtitle(), 'subtitle') ?></h3>
                </div>
                <?php echo $this->getReviewsSummaryHtml($_product, false, true); //reviews ?>
                <?php if ($_product->getShortDescription()): ?>
                    <div class="short-description">
                        <strong><?php echo $this->__('Highlight'); ?></strong>

                        <div
                            class="std"><?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                        </div>
                    </div>
                <?php endif; ?>
                <?php echo Mage::getBlockSingleton('catalog/product')->getPriceHtml($_product, true) ?>

                <!-- Add to cart button area -->
                <?php if ($product->getTypeId() != 'grouped'): ?>
                    <?php
                    $available_from_date = $_helper->productAttribute($_product, $_product->getAvailableFromDate(), 'available_from_date');
                    if(strtotime($available_from_date) > strtotime(date('Y/m/d'))){
                        $buttonTitle = $this->__('jetzt vorbestellen');
                    }
                    ?>
                    <div class="block-box <?php echo $addToCartClass; ?>">
                        <?php
                //        if ($_product->getTypeId() != 'downloadable') {
                //            $aUrl = Mage::getUrl('checkout/cart/add?product='.$_product->getId().'&qty=1');
                //        }else{
                            $aUrl = $_product->getProductUrl();
                //        }
                        ?>
                        <?php if ($_product->isSaleable()){ ?>
                            <button disabled="disabled" type="button" title="<?php echo $buttonTitle ?>" id="product-addtocart-button" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span></button>
                        <?php }else{ ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php } ?>
                    </div>
                <?php else: ?>
                    <?php $_associatedProducts = $this->getAssociatedProducts(); ?>
                    <?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
                    <?php if ($_hasAssociatedProducts): ?>
                        <?php foreach ($_associatedProducts as $_item): ?>
                            <?php
                            $_buttonTitle = $this->__('Add to cart');
                            $_addToCartClass = 'hardcover';
                            if ($_item->getTypeId() == 'downloadable') {
                                //$_buttonTitle = $this->__('Download');
                                $_addToCartClass = 'ebook';
                            }
                            $_productTypeOptionId = $_helper->productAttribute($_item, $_item->getProductTypes(), 'product_types');
                            ?>
                            <?php
                            $available_from_date = $_helper->productAttribute($_item, $_item->getAvailableFromDate(), 'available_from_date');
                            if(strtotime($available_from_date) > strtotime(date('Y/m/d'))){
                                $_buttonTitle = $this->__('jetzt vorbestellen');
                            }
                            ?>
                            <div class="block-box <?php echo $_addToCartClass; ?> grouped">
                                <div class="block-title">
                                    <strong>
                                        <span>
                                            <?php if($_item->getTypeId() == 'downloadable'):?>
                                                <?php echo $this->__('E-Book'); ?>
                                            <?php else: ?>
                                                <?php echo $this->getOptionValueByAttributeCode('product_types',$_productTypeOptionId)?>
                                            <?php endif; ?>
                                        </span>
                                    </strong>
                                </div>
                                <div class="block-content">
                                    <p class="price">
                                        <?php echo Mage::getBlockSingleton('catalog/product')->getPriceHtml($_item, true) ?>
                                        <?php //echo Mage::helper('core')->currency($_item->getFinalPrice(), true, false); ?>
                                    </p>
                                    <?php
                //                    if ($_item->getTypeId() != 'downloadable') {
                //                        $aUrl = Mage::getUrl('checkout/cart/add?product='.$_item->getId().'&qty=1');
                //                    }else{
                                        $aUrl = $_product->getProductUrl();
                //                    }
                                    ?>
                                    <?php if ($_item->isSaleable()) : ?>
                                        <?php if($_item->getTypeId() == 'downloadable'){?>
                                            <?php $submitUrl = $this->getSubmitUrl($_item) ?>
                                            <?php $_buttonTitle = $this->__('jetzt Downloaden'); ?>
                                            <button disabled="disabled" type="button" title="<?php echo $_buttonTitle ?>" class="button btn-cart" onclick="jQuery('#product_addtocart_form').attr('action','<?php echo $submitUrl;?>');productAddToCartForm.submit(this)"><span><span><?php echo $_buttonTitle ?></span></span></button>
                                        <?php }else{?>
                                            <button disabled="disabled" type="button" title="<?php echo $_buttonTitle ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_item) ?>')"><span><span><?php echo $_buttonTitle ?></span></span></button>
                                        <?php }?>

                                    <?php else: ?>
                                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                    <?php endif; ?>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                <?php endif; ?>
                <div class="goto-product"><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('zum Produkt');?></a></div>
                <!-- Add to cart button area -->

            </div>
        </form>
    </div>
        <script type="text/javascript">
            jQuery('.regular-price .price').each(function () {
                var price = jQuery(this),
                txt = price.text(),
                splt = txt.split(','), 
                spltFirst = splt.pop(),
                spn3 = jQuery('<span/>', {
                        text: spltFirst.substring(2, spltFirst.lastIndexOf('$')),
                                'class': 'font-small'
                }),
                spltSecond = splt.pop(),
                spn1 = jQuery('<span/>', {
                        text: ' €',
                                'class': 'font-medium'
                }),
                spn2 = jQuery('<span/>', {
                        text: spltSecond.substring(spltSecond.lastIndexOf('$') + 1) + ',',
                                'class': 'font-big'
                });
                price.text('');
                price.append(spn2).append(spn3).append(spn1);
            });
            //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button, url) {
                if (this.validator.validate()) {
                    var form = this.form;
                    var oldUrl = form.action;

                    if (url) {
                        form.action = url;
                    }
                    var e = null;
                    try {
                        this.form.submit();
                    } catch (e) {
                    }
                    this.form.action = oldUrl;
                    if (e) {
                        throw e;
                    }

                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);

            productAddToCartForm.submitLight = function(button, url){
                if(this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);

                jQuery('button.btn-cart').each(function(){
                    jQuery(this).removeAttr('disabled');
                });

            //]]>
        </script>