<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('catalog')->__('Count Down') ?></h4>
    </div>
    <fieldset>
        <legend><?php echo Mage::helper('catalog')->__('Count Down') ?></legend>
        <input type="hidden" name="<?php echo $this->getFieldSuffix() ?>[product_type]" value="<?php echo $this->_getProduct()->getTypeId();?>"/>
        <table cellspacing="0" class="form-list" id="table_countdown">
            <tr>
                <td class="label"><label for="countdown_enabled"><?php echo Mage::helper('catalog')->__('Enable Countdown') ?></label></td>
                <td class="value">
                    <select id="countdown_enabled" name="<?php echo $this->getFieldSuffix() ?>[countdown_enabled]" class="select">
                        <option value="1" <?php if ($this->getCountdownStatus() == 1) echo 'selected="selected"'; ?>><?php echo Mage::helper('catalog')->__('Yes') ?></option>
                        <option value="0" <?php if ($this->getCountdownStatus() != 1) echo 'selected="selected"'; ?>><?php echo Mage::helper('catalog')->__('No') ?></option>
                    </select>
                    <input type="hidden" id="countdown_enabled_default" value="<?php echo $this->getAutocodeEnabledValue() ?>" />
                </td>
                <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[GLOBAL]') ?></td>
            </tr>
            <tr>
                <td class="label"><label for="countdown_type"><?php echo Mage::helper('catalog')->__('Count down type') ?></label></td>
                <td class="value">
                    <select name="<?php echo $this->getFieldSuffix() ?>[countdown_type]" id="countdown_type">
                        <option value=""><?php echo Mage::helper('catalog')->__('-- Please select --')?></option>
                        <?php
                        $options = array(
                            1 => Mage::helper('catalog')->__('Evergreen'),
                            2 => Mage::helper('catalog')->__('Date time count down'),
                            3 => Mage::helper('catalog')->__('Quantity count down'),
                        );
                        foreach($options as $key => $value){
                            $select = '';
                            if($this->getCountdownType() == $key){
                                $select = 'selected="selected"';
                            }
                            echo '<option value="'.$key.'" '.$select.'>'.$value.'</option>';
                        }
                        ?>
                    </select>
                </td>
                <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[GLOBAL]') ?></td>
            </tr>
            <tr>
                <td class="label"><label for="countdown_customer_groups"><?php echo Mage::helper('catalog')->__('Allowed customer groups') ?></label></td>
                <td class="value">
                    <select name="<?php echo $this->getFieldSuffix() ?>[countdown_customer_groups][]" id="countdown_customer_groups" class="select multiselect" multiple="multiple">
                        <?php
                        $customerOptions = Mage::getResourceModel('customer/group_collection')->toOptionArray();
                        $groups = $this->getCountdownCustomerGroups();
                        foreach($customerOptions as $option){
                            $_select = '';
                            if(in_array($option['value'],$groups)){
                                $_select = 'selected="selected"';
                            }
                            echo '<option value="'.$option['value'].'" '.$_select.'>'.$option['label'].'</option>';
                        }
                        ?>
                    </select>
                </td>
                <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[GLOBAL]') ?></td>
            </tr>
            <tr>
                <td class="label"><label for="countdown_from"><?php echo Mage::helper('catalog')->__('Count down from') ?></label></td>
                <td class="value">
                    <span>
                        <input type="text" style="width: 120px;" class="input-text" value="<?php echo $this->getCountdownFrom();?>" id="countdown_from" name="<?php echo $this->getFieldSuffix() ?>[countdown_from]"/>
                        <img style="" title="Select Date" id="countdown_from_trig" class="v-middle" alt="" src="<?php echo $this->getSkinUrl("images/grid-cal.gif");?> "/>
                        <script type="text/javascript">
                            //<![CDATA[
                            Calendar.setup({
                                inputField: "countdown_from",
                                ifFormat: "%m/%e/%Y",
                                showsTime: false,
                                button: "countdown_from_trig",
                                align: "Bl",
                                singleClick : true
                            });
                            //]]>
                        </script>
                    </span>
                </td>
                <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[GLOBAL]') ?></td>
            </tr>
            <tr>
                <td class="label"><label for="countdown_to"><?php echo Mage::helper('catalog')->__('Count down to') ?></label></td>
                <td class="value">
                    <span>
                        <input type="text" style="width: 120px;" class="input-text" value="<?php echo $this->getCountdownTo();?>" id="countdown_to" name="<?php echo $this->getFieldSuffix() ?>[countdown_to]"/>
                        <img style="" title="Select Date" id="countdown_to_trig" class="v-middle" alt="" src="<?php echo $this->getSkinUrl("images/grid-cal.gif");?> "/>
                        <script type="text/javascript">
                            //<![CDATA[
                            Calendar.setup({
                                inputField: "countdown_to",
                                ifFormat: "%m/%e/%Y",
                                showsTime: false,
                                button: "countdown_to_trig",
                                align: "Bl",
                                singleClick : true
                            });
                            //]]>
                        </script>
                    </span>
                </td>
                <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[GLOBAL]') ?></td>
            </tr>
            <?php if($this->_getProduct()->getTypeId() != Mage_Catalog_Model_Product_Type::TYPE_GROUPED){?>
                <tr>
                    <td class="label"><label for="countdown_price"><?php echo Mage::helper('catalog')->__('Count Price') ?></label></td>
                    <td class="value">
                        <input type="text" name="<?php echo $this->getFieldSuffix() ?>[countdown_price]" class="required-entry validate-zero-or-greater input-text" id="countdown_price" value="<?php echo $this->getCountdownPrice();?>"/>
                        <p class="note entered"><?php echo $this->__('This value will be saved as %s of this product','<strong>Special price</strong>');?></p>
                    </td>
                    <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[GLOBAL]') ?></td>
                </tr>
            <?php }else{?>
                <tr>
                    <td class="label"><label for="countdown_price"><?php echo Mage::helper('catalog')->__('Count Percent') ?></label></td>
                    <td class="value">
                        <input type="text" name="<?php echo $this->getFieldSuffix() ?>[countdown_price]" id="countdown_price" value="<?php echo $this->getCountdownPrice();?>"/>%
                        <p class="note entered"><?php echo $this->__('This value will affect to %s for all children of this product','<strong>Special price</strong>');?></p>
                    </td>
                    <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[GLOBAL]') ?></td>
                </tr>
            <?php } ?>
            <tr>
                <td class="label"><label id="countdown_qty"><?php echo Mage::helper('catalog')->__('Qty count down') ?></label></td>
                <td class="value">
                    <?php if(!is_array($this->_getStockInfo())):?>
                        <strong><?php echo $this->_getStockInfo();?></strong>
                    <?php else:?>
                        <table cellspacing="0" class="data" width="300">
                            <tr>
                                <th><?php  echo Mage::helper('catalog')->__('Children SKU')?></th>
                                <th><?php  echo Mage::helper('catalog')->__('Qty')?></th>
                            </tr>
                            <?php $count = 1;foreach($this->_getStockInfo() as $k => $v): ?>
                                <tr>
                                    <td><label><?php echo $k ?></label></td>
                                    <td><strong><?php echo $v;?></strong></td>
                                </tr>
                                <?php $count++; endforeach;?>
                        </table>
                    <?php endif;?>
                    <p class="note entered"><?php echo $this->__('Edit by changing %s from tab %s','<strong>Qty</strong>','<strong>Inventory</strong>');?></p>
                </td>
                <td class="value scope-label"><?php echo Mage::helper('adminhtml')->__('[GLOBAL]') ?></td>
            </tr>

        </table>
    </fieldset>
</div>
<script type="text/javascript">
    //<![CDATA[
    function changeCountDownStatus()
    {
        var enabled_value = $('countdown_enabled').value;
        if (enabled_value == 1) {
            Element.show($('countdown_type').parentNode.parentNode);
            Element.show($('countdown_customer_groups').parentNode.parentNode);
            Element.show($('countdown_from').parentNode.parentNode.parentNode);
            Element.show($('countdown_to').parentNode.parentNode.parentNode);
            Element.show($('countdown_price').parentNode.parentNode);
            Element.show($('countdown_qty').parentNode.parentNode);
            $('countdown_price').addClassName('required-entry');
        } else {
            Element.hide($('countdown_type').parentNode.parentNode);
            Element.hide($('countdown_customer_groups').parentNode.parentNode);
            Element.hide($('countdown_from').parentNode.parentNode.parentNode);
            Element.hide($('countdown_to').parentNode.parentNode.parentNode);
            Element.hide($('countdown_price').parentNode.parentNode);
            Element.hide($('countdown_qty').parentNode.parentNode);
            $('countdown_price').removeClassName('required-entry');
        }
    }
    function changeCountdownType()
    {
        var countdown_type = $('countdown_type').value;
        if (countdown_type == 3) {
            Element.hide($('countdown_price').parentNode.parentNode);
            Element.show($('countdown_qty').parentNode.parentNode);
        } else {
            Element.show($('countdown_price').parentNode.parentNode);
            Element.hide($('countdown_qty').parentNode.parentNode);
        }
    }

    Event.observe(window, 'load', function() {
        if ($('countdown_type')) {
            Event.observe($('countdown_type'), 'change', changeCountdownType);
            changeCountdownType();
        }
    });
    Event.observe(window, 'load', function() {
        if ($('countdown_enabled')) {
            //var enabled_default_value = $('autocode_enabled_default').value;
            Event.observe($('countdown_enabled'), 'change', changeCountDownStatus);
            changeCountDownStatus();
        }
    });
    //]]>
</script>