<?php
/* @var $this Mage_Review_Block_Product_View_List */
$_items = $this->getReviewsCollection()->getItems();
$_product = $this->getProduct();
?>
<div id="reviews-summary">
<?php if (count($_items)):?>
    <h2><?php echo $this->__('Kundenrezensionen') ?></h2>
    <div class="std">
        <?php echo $this->getLayout()->createBlock('review/helper')
            ->setTemplate('review/helper/summary_nolinks.phtml')
            ->setProduct($_product)
            ->toHtml(); //reviews ?>
        <div class="vote-summary">
            <?php
            $voteArray = array(
                "5" => 0,
                "4" => 0,
                "3" => 0,
                "2" => 0,
                "1" => 0,
            );
            ?>
            <?php foreach ($_items as $item): ?>
                <?php
                $votes = $item->getRatingVotes();
                $voteValue = $votes->getFirstItem()->getValue();
                $voteArray[$voteValue]++;
                ?>
            <?php endforeach; ?>
            <div class="vote-stars">
                <?php foreach ($voteArray as $k => $v): ?>
                    <?php $widthPercent = $v / (count($_items)) * 100; ?>
                    <p>
                        <span class="star-label"><?php echo $k ?><?php echo $this->__(' Sterne') ?></span>
                        <span class="star-container">
                            <span class="star" style="width: <?php echo $widthPercent ?>%"></span>
                        </span>
                    </p>
                <?php endforeach; ?>
            </div>
            <div class="vote-button">
                <p><?php echo $this->__('Schreiben Sie Ihre Meinung zu diesem Produkt!') ?></p>
                <p><button type="button" class="write-vote"><?php echo $this->__('Rezension verfassen') ?></button></p>
            </div>
        </div>
        <div class="latest-vote">
            <?php
            $latestVote = $this->getReviewsCollection()->getLastItem();
            $title = $latestVote->getTitle();
            $detail = $latestVote->getDetail();
            $ratingValue = $latestVote->getRatingVotes()->getFirstItem()->getValue();
            ?>
            <h3><?php echo $title ?> (<?php echo $ratingValue ?><?php echo $this->__(' Sterne') ?>)</h3>
            <p><?php echo $detail ?></p>
            <a href="#" class="all-votes"><?php echo $this->__('Alle Rezensionen anzeigen') ?></a>
        </div>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        jQuery(function($){$("#goto-reviews, #goto-reviews-form, .write-vote, .all-votes").on('click', function(){
            if($("#product-tabs").hasClass("accor")){$("#product-tabs .tabs-panels").data("tabs").click($(".tabs-panels .acctab").index($("#acctab-tabreviews")))}else{$("#product-tabs .tabs").data("tabs").click($("#tab-tabreviews").index())}})
        });
        //]]>
    </script>
<?php endif;?>
</div>
