<?php if($this->isShowCountdown() && $this->checkCustomerGroupAccess()):?>
    <div id="countdown" class="timer">
    </div>
    <?php $_countdownType = $this->getCountdownType();?>
    <?php if($_countdownType == 3):?>
        <div id="countdonw-title">
            <?php $_stockInfor = $this->getStockInfo();?>
            <?php if(!is_array($_stockInfor)):?>
                <span class="discount-lable"><?php echo $this->__('Quantity left: ');?></span>
                <strong><?php echo $_stockInfor;?></strong>
            <?php else: ?>
                <span class="discount-lable"><?php echo $this->__('Quantity left: ');?></span>
                <table>
                    <?php foreach($_stockInfor as $k => $v):?>
                        <?php
                        $child = Mage::getModel('catalog/product')->load($k);
                        $_productType = $child->getData('product_types');
                        ?>
                        <tr>
                            <td><?php echo $_productType;?></td>
                        </tr>
                        <tr>
                            <td><strong><?php echo $v;?></strong></td>
                        </tr>
                    <?php endforeach?>
                </table>
            <?php endif; ?>
        </div>
    <?php else:?>
    <div id="countdonw-title">
        <?php $_discount = $this->getDiscountInformation();?>
        <?php if(!is_array($_discount)):?>
            <span class="discount-lable"><?php echo $this->__('Bald steigt der Preis!');?></span>
            <strong><?php echo Mage::helper('core')->currency($_discount, true, false);;?></strong>
        <?php else: ?>
            <span class="discount-lable"><?php echo $_discount['label'];?></span>
            <strong><?php echo $_discount['value'];?>%</strong>
        <?php endif; ?>
    </div>
    <script>
        window.onload = countDown(parseInt('<?php echo $this->getTimeLeft();?>'), function(){document.getElementById('countdown').remove()});

        function countDown(seconds, callback) {
            callback = callback || function(){};
            var countdownTimer = setInterval(function(){
                var minutes = 0;
                var hours = 0;
                var days = 0;
                if(seconds > 60)
                    minutes = Math.floor(seconds/60);
                if(minutes > 60)
                    hours = Math.floor(minutes/60)
                if(hours > 24)
                    days = Math.floor(hours/24);
                //var remainingdays = days % 60;
                var remainingHours = hours % 24;
                var remainingMinutes = minutes % 60;
                var remainingSeconds = seconds % 60;

                //Day
                if(days >= 10){
                    var dunits = days % 10;
                    var ddozens = Math.floor(days / 10);
                    days = "<span class='dozens'>"+ddozens+"</span><span class='units'>"+dunits+"</span>";
                }
                else if (days < 10) {
                    days = "<span class='dozens'>0</span><span class='units'>"+days+"</span>";
                }

                //Hour
                if(remainingHours >= 10){
                    var hunits = remainingHours % 10;
                    var hdozens = Math.floor(remainingHours / 10);
                    hours = "<span class='dozens'>"+hdozens+"</span><span class='units'>"+hunits+"</span>";
                }
                else if (remainingHours < 10) {
                    hours = "<span class='dozens'>0</span><span class='units'>"+remainingHours+"</span>";
                }

                //Minute
                if(remainingMinutes >= 10) {
                    var munits = remainingMinutes % 10;
                    var mdozens = Math.floor(remainingMinutes / 10);
                    minutes = "<span class='dozens'>"+mdozens+"</span><span class='units'>"+munits+"</span>";
                }
                else if (remainingMinutes < 10) {
                    minutes = "<span class='dozens'>0</span><span class='units'>"+remainingMinutes+"</span>";
                }

                //Second
                if(remainingSeconds >= 10) {
                    var units = remainingSeconds % 10;
                    var dozens = Math.floor(remainingSeconds / 10);
                    remainingSeconds = "<span class='dozens'>"+dozens+"</span><span class='units'>"+units+"</span>";
                }
                else if (remainingSeconds < 10) {
                    remainingSeconds = "<span class='dozens'>0</span><span class='units'>"+remainingSeconds+"</span>";
                }
                document.getElementById('countdown').innerHTML =
                    "<span id='day-countdown'><span id='day-amount' class='countdown-amount'>" + days + "</span><span id='day-period' class='countdown-amount'><?php echo $this->__('Tage')?></span></span><span class='t-colon'>:</span>" +
                    "<span id='hour-countdown'><span id='hour-amount' class='countdown-amount'>" + hours + "</span><span id='hour-period' class='countdown-amount'><?php echo $this->__('Stunden')?></span></span><span class='t-colon'>:</span>" +
                    "<span id='minute-countdown'><span id='minute-amount' class='countdown-amount'>" + minutes + "</span><span id='minute-period' class='countdown-amount'><?php echo $this->__('Minuten')?></span></span><span class='t-colon'>:</span>" +
                    "<span id='second-countdown'><span id='second-amount' class='countdown-amount'>" + remainingSeconds + "</span><span id='second-period' class='countdown-amount'><?php echo $this->__('Sekunden')?></span></span>";
                seconds-- || (clearInterval(countdownTimer), callback());
            }, 1000);

        }
    </script>
    <?php endif;?>
<?php endif;?>
