<?php
/* @var $this Mage_Catalog_Block_Product_View */
$_product = $this->getProduct();
$productPress = $_product->getProductPress();
if ($productPress) {
    $newsBlock = $this->getLayout()->createBlock('congts_productpress/news')->setProductPress($productPress);
    if (is_object($newsBlock)) {
        $newsData = $newsBlock->getNewsData();
        if ($newsData) {
            $title = $this->__('Press');
            $newsHtml = $newsBlock->setTemplate('product_press/news.phtml')->toHtml();
            ?>
            <h2><?php echo $title ?></h2>
            <div class="std"><?php echo $newsHtml ?></div>
            <?php
        }
    }
}