<!--@subject {{var store.getFrontendName()}}: Informationen zu Bestellung Nr. {{var order.increment_id}} vom {{var order.getCreatedAtFormated()}} wird nun bearbeitet @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Order Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <h1>Hallo {{htmlescape var=$order.getCustomerName()}},</h1>
                        <p>vielen Dank für Ihre Bestellung bei klick-deal und für Ihr Vertrauen.</p>
                        <p>Ihre Bestellung Nr. <span class="no-link">#{{var order.increment_id}}</span> hat den Status <strong>{{var order.getStatusLabel()}}</strong>.</p>

                        {{depend order.getIsDelayOrder()}}
                            <br>
                            <p>Aufgrund der goßen Nachfrage ist das Produkt {{if comment}}{{var comment}}{{/if}} gerade ausverkauft.<br>
                                Wir haben soeben beim Hersteller nachbestellt.<br>
                                Bitte geben Sie uns 5-7 Tage Zeit, bis Ihre Bestellung zu Ihnen auf dem Weg gebracht wird.<br>
                                Sie erhalten eine Versandbestätigung, sobald Ihre Bestellung unser Lager verlässt.</p>
                            <br>
                        {{/depend}}

                        {{depend order.getIsNotDelayOrder()}}
                            {{if comment}}
                                <table cellspacing="0" cellpadding="0" class="message-container">
                                    <tr>
                                        <td>{{var comment}}</td>
                                    </tr>
                                </table>
                            {{/if}}
                        {{/depend}}

                        <p>Sie können den Status Ihrer Bestellung jederzeit in <a href="{{store url="customer/account/"}}">Ihrem Benutzerkonto</a> einsehen.</p>
                        <p>Mit den besten Grüßen<br>
                        Ihr klick-deal Team</p>
                        {{template config_path="design/email/support"}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
