<?php 
$subscriberId = $this->getRequest()->getParam('id');
$subscriberCode = $this->getRequest()->getParam('code');
$isSubscriber = $this->checkSubscriber($subscriberId, $subscriberCode);
if($isSubscriber):
?>
<div class="">
    <div class="page-title">
        <h1><?php echo $this->__('Additional Fields From Country ' . $this->getCountry($this->getIp($subscriberId))) ?></h1>
    </div>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">
        <div class="fieldset">
        	<input type="hidden" name="subscriber_id" value="<?php echo $subscriberId; ?>" />
            <h2 class="legend"><?php echo $this->__('Additional Information') ?></h2>
            <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <label for="fname" class="required"><em>*</em><?php echo $this->__('First Name') ?></label>
                        <div class="input-box">
                            <input type="text" value="<?php echo $this->getFirstname($subscriberId); ?>" name="fname" id="fname" title="<?php echo $this->__('First Name') ?>" class="input-text required-entry" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="lname" class="required"><em>*</em><?php echo $this->__('Last Name') ?></label>
                        <div class="input-box">
                            <input type="text" value="<?php echo $this->getLastname($subscriberId); ?>" name="lname" id="lname" title="<?php echo $this->__('Last Name') ?>" id="confirmation" class="input-text required-entry" />
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="salutation"><?php echo $this->__('Salutation') ?></label>
                        <div class="input-box">
                            <input type="text" name="salutation" id="salutation" title="<?php echo $this->__('Salutation') ?>" id="confirmation" class="input-text" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="language"><?php echo $this->__('Language') ?></label>
                        <div class="input-box">
                            <input type="text" name="language" id="language" title="<?php echo $this->__('Language') ?>" id="confirmation" class="input-text" />
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="zipcode"><?php echo $this->__('ZIP Code') ?></label>
                        <div class="input-box">
                            <input type="text" name="zipcode" id="zipcode" title="<?php echo $this->__('ZIP Code') ?>" id="confirmation" class="input-text validate-zip" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="buttons-set">
            <p class="required"><?php echo $this->__('* Required Fields') ?></p>
            <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>" class="back-link"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
            <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
    //]]>
    </script>
</div>
<?php
else:
	echo "redirect Base Url";
endif;

?>