<div id="block_notice_common_amazon_descriptionTemplates" class="block_notices_module" title="<?php echo Mage::helper('M2ePro/Component_Amazon')->getTitle().' '.Mage::helper('M2ePro')->__('Description Policies'); ?>">
    <?php
        echo Mage::helper('M2ePro')->__('In this Section you can Create, Edit, and Delete Description Policies.  <br/>
        Here you can set Settings of Amazon Product Information such as Title, Images, Description etc. <br/><br/>

        Description Policy is used for two main purposes:
        <ul class="list">
            <li>Adding or improving of Product Information in Amazon Catalog;</li>
            <li>Creation of New ASIN/ISBN in Amazon Catalog.</li>
        </ul>

        <b>Note:</b> you are just one of the suppliers of information at the moment of sending Amazon Product Information. <br/>
        Product Information, which will be shown to Buyers, is automatically chosen by Amazon based on data that were sent by all Sellers. So Product Information you have sent can be not shown to Buyers or it will appear with some time-delay.</br></br>
        More detailed information about ability to work with this Page you can find <a href="%url%" target="_blank">here</a>.',
        Mage::helper('M2ePro/Module_Support')->getDocumentationUrl(Ess_M2ePro_Helper_Component_Amazon::NICK, 'Description+Policy')
        );
    ?>
</div>