<?php
/**
 * Magmodules.eu - http://www.magmodules.eu - info@magmodules.eu
 * =============================================================
 * NOTICE OF LICENSE [Single domain license]
 * This source file is subject to the EULA that is
 * available through the world-wide-web at:
 * http://www.magmodules.eu/license-agreement/
 * =============================================================
 * @category    Magmodules
 * @package     Magmodules_Snippets
 * @author      Magmodules <info@magmodules.eu>
 * @copyright   Copyright (c) 2015 (http://www.magmodules.eu)
 * @license     http://www.magmodules.eu/license-agreement/  
 * =============================================================
 */
?>
<?php if($this->getSnippetsEnabled() && ($_snippets = $this->getSnippets())): ?>	
	<div class="snippets-footer">
		<div itemscope itemtype="http://schema.org/Product">	
			<ul class="snippets-fields">
				<?php if((isset($_snippets['rating']['count'])) && ($_snippets['rating']['percentage'] > 0)) { ?>
					<li><?php echo Mage::helper('snippets')->__('Our %s has been rated %s based on %s individual customer review(s)', '<span itemprop="name">' . $_snippets['name'] . '</span>', '<span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"><span itemprop="ratingValue">' . $_snippets['rating']['avg']  . '</span>/<span itemprop="bestRating">' . $_snippets['rating']['best'] . '</span>', '<span itemprop="' . $_snippets['rating']['type'] . '">' . $_snippets['rating']['count'] . '</span></span>'); ?></li>
				<?php } else { ?>
					<li><span itemprop="name"><?php echo $_snippets['name']; ?></span></li>
				<?php } ?>
				<li>
					<span itemprop="offers" itemscope itemtype="<?php echo $_snippets['offers']['type']; ?>">
						<?php if(isset($_snippets['offers']['price_low'])) { ?>
							<?php echo Mage::helper('snippets')->__('Starting at:'); ?> <span itemprop="lowPrice" content="<?php echo $_snippets['offers']['clean_low']; ?>"><?php echo $_snippets['offers']['price_low']; ?></span>
						<?php } else { ?>
							<?php echo Mage::helper('snippets')->__('Price:'); ?> <span itemprop="price" content="<?php echo $_snippets['offers']['clean']; ?>"><?php echo $_snippets['offers']['price']; ?></span>						
						<?php } ?>					
						<meta itemprop="priceCurrency" content="<?php echo $_snippets['offers']['currency']; ?>" />
						<?php if(isset($_snippets['availability'])) { ?>
							<link itemprop="availability" href="<?php echo $_snippets['availability']['url']; ?>"> - <?php echo $_snippets['availability']['text']; ?>
						<?php } ?>
						<?php if(isset($_snippets['condition'])) { ?>
							<link itemprop="itemCondition" href="<?php echo $_snippets['condition']['url']; ?>">
						<?php } ?>						
					</span>
				</li>
				<?php if(isset($_snippets['extra'])) { ?>
					<?php foreach($_snippets['extra'] as $field) { ?>
						<li><?php echo Mage::helper('snippets')->__($field['label']) . ': ' . $field['value']; ?></li>
					<?php } ?>
				<?php } ?>					
			</ul>			
		</div>
	</div>		
<?php endif; ?>