<?php if ($this->isNewsletterEnabled()): ?>
    <li class="control">		
        <input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if ($this->getCheckByDefault()): ?> checked="checked"<?php endif; ?> class="checkbox" />
        <label class="subscribed" for="is_subscribed"><?php echo $this->__('Yes, I liked the Franzis newsletter.<br /> An unsubscribe at any time possible') ?></label>
    </li>
<?php endif; ?>