<?php
$logoSrc = $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src'));
$logoAlt = Mage::getStoreConfig('design/header/logo_src');
?>
<div class="footer-container">
<div class="footer-container2">
    <div class="footer-primary-container">
		<div class="footer-inner-top">
			<div class="footer-logo">
				<a href="<?php echo $this->getUrl('') ?>" title="<?php echo $logoAlt ?>"><img src="<?php echo $logoSrc ?>" alt="<?php echo $logoAlt ?>" /></a>
			</div>
			<div class="footer-social">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_social')->toHtml(); ?>
			</div>
		</div>
		<div class="footer-inner-bottom">
			<div class="footer-links-1-container">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_links_1')->toHtml(); ?>
			</div>
			<div class="footer-links-2-container">
				<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_links_2')->toHtml(); ?>
			</div>
		</div>
    </div>
    <a id="scroll-to-top" class="ic ic-up" href="#top"></a>
</div> <!-- end: footer-container2 -->
</div> <!-- end: footer-container -->