<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('header-text')->toHtml(); ?>
<?php $sessionCustomer = Mage::getSingleton("customer/session"); ?>
<?php if($sessionCustomer->isLoggedIn()): ?>
    <span class="separator">|</span><a class="my-account-link" title="Abmelden" href="<?php echo Mage::getUrl().'customer/account/logout/';?>"><span class="link"><?php echo $this->__('Abmelden');?></span></a>
<?php endif; ?>