<?php $sessionCustomer = Mage::getSingleton("customer/session"); ?>
<?php if($sessionCustomer->isLoggedIn()): ?>
    <li class="level0 nav-3 level-top mobile-customer-link">
        <a class="level-top" title="Abmelden" href="<?php echo Mage::getUrl().'customer/account/logout/';?>"><?php echo $this->__('Abmelden');?></a>
    </li>
<?php endif; ?>