<?php
    $currentCmsPage= Mage::getBlockSingleton('cms/page')->getPage();
?>
<div class="link-pdf">
    <ul>
        <li><a href="<?php echo $this->getUrl('transfer/transfer/topdf/id/'.$currentCmsPage->getId())?>"><?php echo $this->__('%s als PDF', $currentCmsPage->getTitle())?></a></li>
        <!-- <li><a href="http://get.adobe.com/de/reader/"><?php //echo $this->__('Acrobat Reader herunterladen');?></a></li> -->
    </ul>
</div>