<?php
/**
 * @var $this Jimmy_Custom_Block_Product_Home
 */
?>
<?php
$_productCollection = $this->getAllProducts();
$_helper = $this->helper('catalog/output');
?>
<?php if(count($_productCollection)): ?>
    <div class="home-products">
        <?php $i=0; foreach ($_productCollection as $_product): ?>
            <?php if ($i == 0): ?>
            <div class="two-products table-display">
            <?php endif; ?>
            <div class="home-product product<?php echo ++$i; ?>">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'image') ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'image'), null, true) ?>" /></a>
                <div class="name-rating-price">
                    <div class="name-rating-container">
                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                        <div class="rating-container">
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        </div>
                    </div>
                    <div class="price-container">
                        <?php echo $this->getPriceHtml($_product, true) ?>
                    </div>
                </div>
            </div>
            <?php if ($i == 2): ?>
                </div><div class="three-products table-display">
            <?php endif; ?>
        <?php endforeach ?>
            </div>
    </div>
    <script type="text/javascript">
        jQuery(function() {
            adjustHeight();
        });
        window.onresize = adjustHeight;
        function adjustHeight() {
            if (window.innerWidth > 760) {
                jQuery('.table-display').each(function() {
                    var divHeight = jQuery(this).find('.name-rating-price').height();
                    jQuery(this).find('.name-rating-price').each(function(index, elem) {
                        if (jQuery(elem).height() > divHeight) {
                            divHeight = jQuery(elem).height();
                        }
                    });
                    jQuery(this).find('.name-rating-price').height('auto');
                });
            } else {
                jQuery('.name-rating-price').height('auto');
            }
        }
    </script>
<?php endif; ?>
