<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php
$_helper = $this->helper('catalog/output');
$_coreHelper = $this->helper('core');
$_product = $this->getProduct();
// if($_product->getAttributeText('hidden_offer') == 'Yes')
//   exit;
$theme = $this->helper('ultimo');

//CSS classes based on product type
$productTypeId = $_product->getTypeId();
$productTypeClasses = '';
if ($productTypeId === 'grouped') {
    $productTypeClasses .= ' is-type-grouped';
}

//Width (in grid units) of product page sections
$imgColUnits					= $theme->getCfg('product_page/image_column');
$primaryColUnits				= $theme->getCfg('product_page/primary_column');
$secondaryColUnits				= $theme->getCfg('product_page/secondary_column');
$container2ColUnits				= $imgColUnits + $primaryColUnits;
$collatPrimaryColUnits			= $imgColUnits + $primaryColUnits;
$collatSecondaryColUnits		= $secondaryColUnits;

//If no secondary column
if (empty($secondaryColUnits))
{
    $primaryColUnits			+= 12 - ($imgColUnits + $primaryColUnits);
    $container2ColUnits			= $imgColUnits + $primaryColUnits;
    $collatPrimaryColUnits		= 9;
    $collatSecondaryColUnits	= 3;
}

//If no related products, stretch collateral primary column
if (!isset($section['related']))
{
    $container2ColUnits			= 12;
    $collatPrimaryColUnits		= 12;
    $collatSecondaryColUnits	= 0;
}
elseif (!isset($p['secondaryCol']))
{
    $container2ColUnits 		= 12;
}

//Grid classes
$imgColGridClass				= 'grid12-' . $imgColUnits;
$primaryColGridClass			= 'grid12-' . $primaryColUnits;
$secondaryColGridClass			= 'grid12-' . $secondaryColUnits;
$container2ColGridClass			= 'grid12-' . $container2ColUnits;
$collatPrimaryColGridClass		= 'grid12-' . $collatPrimaryColUnits;
$collatSecondaryColGridClass	= 'grid12-' . $collatSecondaryColUnits;
if (empty($secondaryColUnits))
{
    $secondaryColGridClass	= '';
}
?>
<?php
/**
 * Custom
 */
/******************************************************************************/

$buttonTitle = $this->__('Add to cart');
$addToCartClass = 'hardcover';

$product = Mage::getModel('catalog/product')->load($_product->getId());
if($product->getTypeId() == 'downloadable'){
    $addToCartClass = 'ebook';
    //$buttonTitle = $this->__('Download');
}
/******************************************************************************/
?>
    <script type="text/javascript">
        var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
    </script>

    <div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
    <div class="product-view">
        <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>

            <div class="no-display">
                <?php echo $this->getBlockHtml('formkey'); ?>
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>
            <div class="product-name">
                <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                <h3><?php echo $_helper->productAttribute($_product, $_product->getSubtitle(), 'subtitle') ?></h3>
            </div>

            <div class="product-img-column grid12-8">

                <?php echo $this->getChildHtml('media') ?>
                <?php //Product labels
                echo $this->helper('ultimo/labels')->getLabels($_product);
                ?>
            </div>
            <div class="product-shop grid12-4 <?php if(!$_product->isGrouped()):?> product-shop-ngrouped<?php endif; ?>">
                <div class="clear"></div>

                <div class="product-name quickview">
                    <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                    <h3><?php echo $_helper->productAttribute($_product, $_product->getSubtitle(), 'subtitle') ?></h3>
                </div>

                <?php echo $this->getReviewsSummaryHtml($_product, false, true); //reviews ?>

                <div class="clear"></div>
                <?php $productTypeOptionId = $_helper->productAttribute($_product, $_product->getProductTypes(), 'product_types');?>

                <!-- Add to cart button area -->
                <?php if($product->getTypeId() != 'grouped'):?>
                <div class="block-box <?php echo $addToCartClass;?>">
                    <div class="block-content">
                        <?php echo Mage::getBlockSingleton('catalog/product')->getPriceHtml($_product, true) ?>
                        <div class="cart-button-container-simple">
                        <?php if ($_product->isSaleable()){ ?>
                            <?php if ($_product->getAffiliateBuyLink()): ?>
                                <button disabled="disabled" type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart disabled" onclick="window.open('<?php echo $_product->getAffiliateBuyLink() ?>')"><span><span><?php echo $buttonTitle ?></span></span></button>
                            <?php else: ?>
                                <?php if ($_product->getAmazonBuyLink() && $_product->getAmazonBuyOnly()): ?>
                                    <a title="<?php echo $buttonTitle ?>" href="<?php echo $_product->getAmazonBuyLink() ?>" class="amazon-big" target="_blank">
                                        <img src="<?php echo $this->getSkinUrl('images/amazon-buy-button.png') ?>" alt="Buy at Amazon">
                                    </a>
                                <?php else: ?>
                                <?php if ($_product->getData('product_types')): ?>
                                     <?php $productTypes = nl2br($_product->getResource()->getAttribute('product_types')->getFrontend()->getValue($_product)) ?>
                                <?php endif;?>
                                <?php if($productTypes == 'Download'):?>
                                    <button disabled="disabled" type="button" title="<?php echo $buttonTitle ?>" id="product-addtocart-button" class="button btn-cart disabled" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $this->__('Download'); ?></span></span></button>
                                <?php else:?>
                                    <button disabled="disabled" type="button" title="<?php echo $buttonTitle ?>" id="product-addtocart-button" class="button btn-cart disabled" onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span></button>
                                <?php endif; ?>
                                    <?php if ($_product->getAmazonBuyLink()): ?>
                                        <a title="<?php echo $buttonTitle ?>" href="<?php echo $_product->getAmazonBuyLink() ?>" class="amazon-big" target="_blank">
                                            <img src="<?php echo $this->getSkinUrl('images/amazon-buy-button.png') ?>" alt="Buy at Amazon">
                                        </a>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        <?php }else{ ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php } ?>
                        </div>
                    </div>
                </div>
                <?php else:?>
                    <?php $_associatedProducts = $this->getAssociatedProducts(); ?>
                    <?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
                    <?php if ($_hasAssociatedProducts): ?>
                        <?php foreach ($_associatedProducts as $_item): ?>
                            <?php
                            $_item = Mage::getModel('catalog/product')->load($_item->getId());
                            $_buttonTitle = $this->__('Bestellen');
                            $_addToCartClass = 'hardcover';
                            if($_item->getTypeId() == 'downloadable'){
                                $_buttonTitle = $this->__('Download');
                                $_addToCartClass = 'ebook';
                            }
                            $_productTypeOptionId = $_helper->productAttribute($_item, $_item->getProductTypes(), 'product_types');
                            ?>
                            <div class="block-box <?php echo $_addToCartClass;?> child-<?php echo $_product->getTypeId(); ?>">
                                <div class="block-title">
                                    <strong>
                                        <span>
                                            <?php
                                            $type = $this->getOptionValueByAttributeCode('product_types',$_productTypeOptionId);
                                            if (!$type) {
                                                $attributeSetModel = Mage::getModel("eav/entity_attribute_set");
                                                $attributeSetModel->load($_item->getAttributeSetId());
                                                $type  = $attributeSetModel->getAttributeSetName();
                                            }
                                            echo $type;
                                            ?>
                                        </span>
                                    </strong>
                                </div>
                                <div class="block-content">
                                    <?php echo Mage::getBlockSingleton('catalog/product')->getPriceHtml($_item, true) ?>
                                    <div class="cart-button-container">
                                    <?php $_item = Mage::getModel('catalog/product')->load($_item->getId()); ?>
                                    <?php if ($_item->isSaleable()) : ?>
                                        <?php if ($_item->getAffiliateBuyLink()): ?>
                                            <button disabled="disabled" type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart disabled" onclick="window.open('<?php echo $_item->getAffiliateBuyLink() ?>')"><span><span><?php echo $buttonTitle ?></span></span></button>
                                        <?php else: ?>
                                            <?php if ($_item->getAmazonBuyLink() && $_item->getAmazonBuyOnly()): ?>
                                                <a title="<?php echo $buttonTitle ?>" href="<?php echo $_item->getAmazonBuyLink() ?>" class="amazon-small" target="_blank">
                                                    <img src="<?php echo $this->getSkinUrl('images/amazon-buy-button.png') ?>" alt="Buy at Amazon">
                                                </a>
                                            <?php else: ?>
                                                <?php if($_item->getTypeId() == 'downloadable'){?>
                                                    <?php $submitUrl = $this->getSubmitUrl($_item) ?>
                                                    <button disabled="disabled" type="button" title="<?php echo $_buttonTitle ?>" class="button btn-cart disabled" onclick="jQuery('#product_addtocart_form').attr('action','<?php echo $submitUrl;?>');productAddToCartForm.submit(this)"><span><span><?php echo $_buttonTitle ?></span></span></button>
                                                <?php }else{?>
                                                    <button disabled="disabled" type="button" title="<?php echo $_buttonTitle ?>" class="button btn-cart disabled" onclick="setLocation('<?php echo $this->getAddToCartUrl($_item) ?>')"><span><span><?php echo $_buttonTitle ?></span></span></button>
                                                <?php }?>
                                                <?php if ($_item->getAmazonBuyLink()): ?>
                                                    <a title="<?php echo $buttonTitle ?>" href="<?php echo $_item->getAmazonBuyLink() ?>" class="amazon-small" target="_blank">
                                                        <img src="<?php echo $this->getSkinUrl('images/amazon-buy-button.png') ?>" alt="Buy at Amazon">
                                                    </a>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    <?php else: ?>
                                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                    <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        <?php endforeach;?>
                    <?php endif;?>
                <?php endif;?>
                <!-- Add to cart button area -->

                <div class="pdp-agreements">
                    <a href="#" title=""><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);?>wysiwyg/payment_icons.png" alt=""></a>
                    <span><?php echo $this->__('30 Tage<br>Geld zurück') ?></span>
                </div>

                <!-- Count down area -->
                <?php if($this->getLayout()->createBlock('jimmy_countdown/countDown')):echo $this->getLayout()->createBlock('jimmy_countdown/countDown')->toHtml(); endif;?>
                <!-- End of Count down area -->

                <?php if ($theme->getCfg('product_page/sku')): ?>
                    <div class="sku"><span><?php echo $this->__('SKU'); ?>: </span><?php echo $_product->getSku(); ?></div>
                <?php endif; ?>
                <?php echo $this->getChildHtml('alert_urls'); //alerts ?>
                <?php if ($extrahint_html = $this->getChildHtml('extrahint')): //qty increments ?>
                    <div class="extrahint-wrapper"><?php echo $extrahint_html; ?></div>
                <?php endif; ?>
                <?php echo $this->getTierPriceHtml(); //tier prices ?>


                <?php if ($_product->isSaleable()): ?>
                    <?php //if ($container1_html = $this->getChildChildHtml('container1', '', true, true)): ?>
                        <div class="container1-wrapper">
                            <?php //echo $container1_html; ?>
                            <?php if($_product->getTypeId() == 'simple' || $_product->getTypeId() == 'downloadable'):?>
                                <?php echo $this->getChildHtml('product.info.addtocart.paypal'); ?>
                            <?php endif; ?>
                        </div>
                    <?php //endif; ?>
                <?php endif;?>

                <?php echo $this->getChildHtml('other'); ?>
                <?php if ($tmpHtml = $this->getChildHtml('product_primary_bottom_placeholder')): //Placeholder for extensions ?>
                    <div class="feature-wrapper top-border"><?php echo $tmpHtml; ?></div>
                <?php endif; ?>

                <!-- Sharethis Button BEGIN -->
                <!-- <div class="share_toolbox addthis_default_style ">
                    <span class='st_facebook_large' <?php /* displayText='Facebook' */ ?> ></span>
                    <span class='st_twitter_large' <?php /* displayText='Tweet' */ ?> ></span>
                    <span class='st_pinterest_large' <?php /* displayText='Pinterest' */ ?> ></span>
                    <span class='st_email_large' <?php /* displayText='Email' */ ?> ></span>
                    <script type="text/javascript">var switchTo5x=true;</script>
                    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
                    <script type="text/javascript">stLight.options({publisher: "3515c752-8cb1-43f1-9c34-18ca7b3eb1ee", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
                </div> -->
                <!-- Sharethis Button END -->
            </div>
            <!-- end: product-shop -->

            <?php if ($secondaryColUnits): //(!empty($secondaryColUnits)): ?>
                <div class="product-secondary-column <?php echo $secondaryColGridClass; ?> custom-sidebar-right">
                    <div class="inner">
                        <?php
                        foreach ($_product->getOptions() as $option) {
                            $option_id = $option->getData('option_id');
                            foreach($option->getValues() as $value){
                                if($value->getData('title') == 'test'){
                                    $option_type_id_box = $value->getData('option_type_id');
                                    $option_title_box = $value->getData('title');
                                }
                                if($value->getData('title') == 'Download'){
                                    $option_type_id_downlaod = $value->getData('option_type_id');
                                    $option_title_downlaod = $value->getData('title');
                                }
                            }
                        }
                        ?>
                        <?php if(!$_product->isGrouped()):?>
                            <?php $currency_code = Mage::app()->getStore()->getCurrentCurrencyCode(); ?>
                            <?php $currency_symbol = Mage::app()->getLocale()->currency( $currency_code )->getSymbol(); ?>
                            <div class="community-photo">
                                <div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getData('community_photo')), 'community_photo') ?></div>
                            </div>
                                    <!-- <div class="stock-availibilty">
                                        <?php
                                        if($_product->isSaleable()):
                                            ?>
                                            <span><?php echo $this->__("deliverable"); ?></span>
                                        <?php
                                        else:
                                            ?>
                                            <span><?php echo $this->__("non deliverable"); ?></span>
                                        <?php
                                        endif;
                                        ?>
                                    </div> -->
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                </div>
                <!-- end: product-secondary-column -->
            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                <?php if ($container2_html = $this->getChildChildHtml('container2', '', true, true)): ?>
                    <div class="box-additional grid12-12">
                        <div class="container2-wrapper"><?php echo $container2_html; ?></div>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
        </form>
        <script type="text/javascript">
            //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button, url) {
                if (this.validator.validate()) {
                    var form = this.form;
                    var oldUrl = form.action;

                    if (url) {
                        form.action = url;
                    }
                    var e = null;
                    try {
                        this.form.submit();
                    } catch (e) {
                    }
                    this.form.action = oldUrl;
                    if (e) {
                        throw e;
                    }

                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);

            productAddToCartForm.submitLight = function(button, url){
                if(this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);
            window.onload = function(){
                jQuery('button').each(function(){
                    jQuery(this).removeAttr('disabled');
                    jQuery(this).removeClass('disabled');
                });
            }
            //]]>
        </script>
        <div class="box-additional box-tabs grid12-12">
            <?php
                $_tabs = $this->getChild('info_tabs')->setData('author_ids',$_product->getAuthor());
            ?>
            <?php $info_tabs_html = trim($_tabs->toHtml());
            if ($info_tabs_html) echo $info_tabs_html; ?>
            <?php //Open the "Reviews" tab, when "X Review(s)" or "Be the first to review this product" links are clicked ?>
            <?php echo $this->getChildHtml('product_additional_data') ?>
        </div>
        <!-- end: box-tabs -->

    </div>
    <!-- end: product-view -->