<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="<?php echo $this->getHeaderWidth() ?>"><?php echo $this->getHeaderHtml() ?></td>
            <td class="form-buttons"><?php echo $this->getButtonsHtml() ?></td>
        </tr>
    </table>
</div>
<?php


?>
<div>
    <?php echo $this->getChildHtml('filter.form') ?>
</div>
<div>
    <?php echo $this->getChildHtml('filter.result') ?>
</div>
<script type="text/javascript">
    //<![CDATA[
    function filterFormSubmit() {
        var filters = $$('#filter_form input', '#filter_form select');
        var elements = [];
        for(var i in filters){
            if(filters[i].value && filters[i].value.length && !filters[i].disabled) elements.push(filters[i]);
        }
        var validator  = new Validation('filter_form');
        if (validator.validate()) {
            setLocation('<?php echo $this->getFilterUrl(); ?>filter/'+encode_base64(Form.serializeElements(elements))+'/');
        }
    }
    function filterFormExport() {
        var filters = $$('#filter_form input', '#filter_form select');
        var elements = [];
        for(var i in filters){
            if(filters[i].value && filters[i].value.length && !filters[i].disabled) elements.push(filters[i]);
        }
        var validator  = new Validation('filter_form');
        if (validator.validate()) {
            setLocation('<?php echo $this->getExportCsvUrl(); ?>filter/'+encode_base64(Form.serializeElements(elements))+'/');
        }
    }
    function updateInput() {
        if ($('admin_report_period').getValue() != 'custom') {
            $('admin_report_from').up('tr').hide();
            $('admin_report_to').up('tr').hide();
            $('admin_report_from').removeClassName('required-entry');
            $('admin_report_to').removeClassName('required-entry');

        } else {
            $('admin_report_from').up('tr').show();
            $('admin_report_to').up('tr').show();
            $('admin_report_from').addClassName('required-entry');
            $('admin_report_from').addClassName('required-entry');
        }
    }
    document.observe("dom:loaded", function() {
        // initially hide all containers for tab content
        updateInput();
        $('admin_report_period').observe('change', function(e) {
            updateInput();
        });
    });
    //]]>
</script>
