<?php
$data = $this->getFilterResult();
if (!empty($data)):
    $items = $data['items'];
    $_coreHelper = $this->helper('core');
    $taxGroup = $data['tax_group'];
    ?>
    <div style="margin: 0 auto;padding: 20px;">
        <h1 style="text-align: center;">Bestellungen</h1>
        <p><strong>Land…….:&nbsp;</strong><span><?php echo $data['land'] ?></span></p>
        <p><strong>Zeitraum:&nbsp;</strong><span><?php echo $data['from'] ?> bis <?php echo $data['to'] ?></span></p>
        <p><strong>Produkte:&nbsp;</strong><span><?php echo $data['product_type'] ?></span></p>
    <?php if ($data['land'] != 'Alle'): ?>
        <table width="100%" border="0">
            <thead style="font-weight: bold;">
            <tr>
                <td width="400" style="font-weight: bold;">Produkt</td>
                <td style="font-weight: bold;" width="130">Status</td>
                <td style="font-weight: bold;" width="120">SKU</td>
                <td style="text-align: right;font-weight: bold;" width="30">Stück</td>
                <td style="text-align: right;font-weight: bold;" width="100">Summe netto</td>
                <td style="text-align: right;font-weight: bold;" width="40">Mwst</td>
                <td style="text-align: right;font-weight: bold;" width="80">Mwst.-Betrag</td>
                <td style="text-align: right;font-weight: bold;" width="100">Summe brutto</td>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($items as $item): ?>
                <tr>
                    <td width="400"><?php echo trim($item['name']) ?><?php if ($item['attribute_set_id'] == 9): ?> (E-Book)<?php elseif ($item['attribute_set_id'] == 12): ?> (Download)<?php endif; ?></td>
                    <td width="130"><?php echo $item['status'] ?></td>
                    <td width="120"><?php echo $item['sku'] ?></td>
                    <td style="text-align: right;" width="30"><?php echo (int) $item['qty_ordered'] ?></td>
                    <td style="text-align: right;" width="100"><?php echo number_format($_coreHelper->currency($item['netto_price'], false, false), 2, ',', '.'); ?> EUR</td>
                    <td style="text-align: right;" width="40"><?php echo (int) $item['tax_percent'] ?>%</td>
                    <td style="text-align: right;" width="80"><?php echo number_format($_coreHelper->currency($item['tax_amount'], false, false), 2, ',', '.'); ?> EUR</td>
                    <td style="text-align: right;" width="100"><?php echo number_format($_coreHelper->currency($item['price'] - $item['discount_amount'], false, false), 2, ',', '.'); ?> EUR</td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <p style="clear:both;height:20px"></p>
    <?php else: ?>
        <?php $itemsByCountry = $data['items_by_country']; ?>
        <?php foreach ($itemsByCountry as $countryName => $_items): ?>
            <?php if (empty($_items['tax_group'])) continue; ?>
            <hr/>
            <p><strong><?php echo $countryName ?></strong></p>
            <table width="100%" border="0">
                <thead style="font-weight: bold;">
                <tr>
                    <td width="400" style="font-weight: bold;">Produkt</td>
                    <td style="font-weight: bold;" width="130">Status</td>
                    <td style="font-weight: bold;" width="120">SKU</td>
                    <td style="text-align: right;font-weight: bold;" width="30">Stück</td>
                    <td style="text-align: right;font-weight: bold;" width="100">Summe netto</td>
                    <td style="text-align: right;font-weight: bold;" width="40">Mwst</td>
                    <td style="text-align: right;font-weight: bold;" width="80">Mwst.-Betrag</td>
                    <td style="text-align: right;font-weight: bold;" width="100">Summe brutto</td>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($_items['items'] as $_item): ?>
                    <tr>
                        <td width="400"><?php echo trim($_item['name']) ?><?php if ($_item['attribute_set_id'] == 9): ?> (E-Book)<?php elseif ($_item['attribute_set_id'] == 12): ?> (Download)<?php endif; ?></td>
                        <td width="130"><?php echo $_item['status'] ?></td>
                        <td width="120"><?php echo $_item['sku'] ?></td>
                        <td style="text-align: right;" width="30"><?php echo (int) $_item['qty_ordered'] ?></td>
                        <td style="text-align: right;" width="100"><?php echo number_format($_coreHelper->currency($_item['netto_price'], false, false), 2, ',', '.'); ?> EUR</td>
                        <td style="text-align: right;" width="40"><?php echo (int) $_item['tax_percent'] ?>%</td>
                        <td style="text-align: right;" width="80"><?php echo number_format($_coreHelper->currency($_item['tax_amount'], false, false), 2, ',', '.'); ?> EUR</td>
                        <td style="text-align: right;" width="100"><?php echo number_format($_coreHelper->currency($_item['price'] - $_item['discount_amount'], false, false), 2, ',', '.'); ?> EUR</td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
            <p style="clear:both;height:20px"></p>
            <table>
                <tr>
                    <td width="600" style="text-align:right;font-weight:bold;">Gesamt</td>
                    <td width="490" style="text-align:right">
                        <table width="100%" border="0">
                            <tr>
                                <td></td>
                                <td width="120"></td>
                                <td width="140"></td>
                                <td width="140"></td>
                            </tr>
                            <?php $_taxGroup = $_items['tax_group']; ?>
                            <?php foreach ($_taxGroup as $taxItem): ?>
                                <tr>
                                    <td><?php echo (int) $taxItem['percent'] ?>%</td>
                                    <td width="120" style="text-align: right;"><?php echo (int) $taxItem['qty'] ?></td>
                                    <td width="140" style="text-align: right;"><?php echo number_format($_coreHelper->currency($taxItem['price'], false, false), 2, ',', '.'); ?> EUR</td>
                                    <td width="140" style="text-align: right;"><?php echo number_format($_coreHelper->currency($taxItem['amount'], false, false), 2, ',', '.'); ?> EUR</td>
                                </tr>
                            <?php endforeach; ?>
                            <!-- tr>
                                <td>&nbsp;</td>
                                <td width="80" style="text-align: right;"><?php echo (int) $_items['total_qty'] ?></td>
                                <td width="140" style="text-align: right;"><?php echo number_format($_coreHelper->currency($_items['total_price'], false, false), 2, ',', '.'); ?> EUR</td>
                                <td width="140" style="text-align: right;">&nbsp;</td>
                            </tr -->
                            <tr>
                                <td>&nbsp;</td>
                                <td width="120" style="text-align: right;"><?php echo $this->__('Gesamt+%sEUR(Versand)', number_format($_coreHelper->currency($_items['total_price_shipping'], false, false), 2, ',', '.')); ?></td>
                                <td width="140" style="text-align: right;"><?php echo number_format($_coreHelper->currency($_items['total_price'] + $_items['total_price_shipping'], false, false), 2, ',', '.'); ?> EUR </td>
                                <td width="140" style="text-align: right;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <p style="clear:both"></p>
        <?php endforeach; ?>
        <hr/>
    <?php endif; ?>
        <table>
            <tr>
                <td width="600" style="text-align:right;font-weight:bold;">Gesamt</td>
                <td width="490" style="text-align:right">
                    <table width="100%" border="0">
                        <tr>
                            <td></td>
                            <td width="120"></td>
                            <td width="140"></td>
                            <td width="140"></td>
                        </tr>
                        <?php foreach ($taxGroup as $taxItem): ?>
                            <tr>
                                <td><?php echo (int) $taxItem['percent'] ?>%</td>
                                <td width="120" style="text-align: right;"><?php echo (int) $taxItem['qty'] ?></td>
                                <td width="140" style="text-align: right;"><?php echo number_format($_coreHelper->currency($taxItem['price'], false, false), 2, ',', '.'); ?> EUR</td>
                                <td width="140" style="text-align: right;"><?php echo number_format($_coreHelper->currency($taxItem['amount'], false, false), 2, ',', '.'); ?> EUR</td>
                            </tr>
                        <?php endforeach; ?>
                        <!--tr>
                            <td>&nbsp;</td>
                            <td width="80" style="text-align: right;"><?php echo (int) $data['total_qty'] ?></td>
                            <td width="140" style="text-align: right;"><?php echo number_format($_coreHelper->currency($data['total_price'], false, false), 2, ',', '.'); ?> EUR</td>
                            <td width="140" style="text-align: right;">&nbsp;</td>
                        </tr -->
                        <tr>
                            <td>&nbsp;</td>
                            <td width="120" style="text-align: right;"><?php echo $this->__('Gesamt+%sEUR(Versand)', number_format($_coreHelper->currency($data['total_price_shipping'], false, false), 2, ',', '.')); ?></td>
                            <td width="140" style="text-align: right;"><?php echo number_format($_coreHelper->currency($data['total_price'] + $data['total_price_shipping'], false, false), 2, ',', '.'); ?> EUR</td>
                            <td width="140" style="text-align: right;">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <p style="clear:both"></p>
    </div>
<?php endif; ?>