<?php
$result = $this->getFilterResult();
if (!empty($result)):
    $orders = $result['orders'];
    $_coreHelper = $this->helper('core');
    ?>
    <div style="margin: 0 auto;padding: 20px;">
        <h1 style="text-align: center;">Bestellungen</h1>
        <p><strong>Land…….:&nbsp;</strong><span><?php echo $result['land'] ?></span></p>
        <p><strong>Zeitraum:&nbsp;</strong><span><?php echo $result['from'] ?> bis <?php echo $result['to'] ?></span></p>
        <?php foreach ($orders as $countryName => $ordersByCountry): ?>
            <hr style="border-style: double;"/>
            <p><strong><?php echo $countryName ?></strong></p>
            <?php foreach ($ordersByCountry['orders'] as $month => $ordersByMonth): ?>
                <?php if (count($ordersByCountry['orders']) > 1): ?>
                <hr style="border-style: dashed;" />
                <p><strong>Orders (<?php echo $month ?>)</strong></p>
                <?php endif; ?>
                <table width="100%" border="0" style="display:block;overflow-x: scroll;">
                    <thead style="font-weight: bold;">
                    <tr>
                        <td width="100" style="font-weight: bold;">Firma</td>
                        <td width="80" style="font-weight: bold;">Abteilung</td>
                        <td width="300" style="font-weight: bold;">Anrede</td>
                        <td width="100" style="font-weight: bold;">Name Id</td>
                        <td width="100" style="font-weight: bold;">Vorname</td>
                        <td width="100" style="font-weight: bold;">Strasse+Nr</td>
                        <td width="100" style="font-weight: bold;">Postfach</td>
                        <td width="35" style="font-weight: bold;">Land</td>
                        <td width="100" style="font-weight: bold;">PLZ</td>
                        <td width="100" style="font-weight: bold;">Ort</td>
                        <td width="100" style="font-weight: bold;">Telefonnummer</td>
                        <td width="100" style="font-weight: bold;">E-Mail</td>
                        <td width="100" style="font-weight: bold;">Gesamtpreis</td>
                        <td width="100" style="font-weight: bold;">Datum+Zeit</td>
                        <td width="100" style="font-weight: bold;">IP+Porto[+"*"+]4</td>
                        <td width="100" style="font-weight: bold;">Artikelnummer&Anzahl&Preis</td>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($ordersByMonth['orders'] as $order): ?>
                        <tr>
                            <td width="100" style="font-weight: bold;"><?php echo $order['company'] ?></td>
                            <td width="80" style="font-weight: bold;"><?php echo $order['department'];// skip ?></td>
                            <td width="300" style="font-weight: bold;"><?php echo $order['prefix'];// skip Herr/Frau ?></td>
                            <td width="100" style="font-weight: bold;"><?php echo $order['firstname']; ?></td>
                            <td width="100" style="font-weight: bold;"><?php echo $order['lastname']; ?></td>
                            <td width="100" style="font-weight: bold;"><?php echo $order['street']; ?></td>
                            <td width="100" style="font-weight: bold;"><?php echo $order['postnumber']; ?></td>
                            <td width="35" style="font-weight: bold;"><?php echo $this->getCountry($order['country_id']); ?></td>
                            <td width="100" style="font-weight: bold;"><?php echo $order['postcode']; ?></td>
                            <td width="100" style="font-weight: bold;"><?php echo $order['city']; ?></td>
                            <td width="100" style="font-weight: bold;"><?php echo $order['telephone'] ?></td>
                            <td width="100" style="font-weight: bold;"><?php echo $order['email'] ?></td>
                            <td width="100" style="font-weight: bold;"><?php echo number_format($_coreHelper->currency($order['grand_total'] - $order['tax_amount'], false, false), 2, ',', '.'); ?> EUR</td>
                            <td width="100" style="font-weight: bold;">
                                <?php
                                echo Mage::app()->getLocale()->storeDate(
                                    Mage::app()->getStore()->getId(),
                                    Varien_Date::toTimestamp($order['created_at']),
                                    true
                                )->toString("dd.MM.YYYY");
                                ?>
                            </td>
                            <td width="100" style="font-weight: bold;"><?php echo $order['remote_ip'] ?>[+"*"+]4</td>
                            <td width="100" style="font-weight: bold;"><?php echo $this->getOrderSkus($order['entity_id']) ;?></td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
                <p style="clear:both;height:20px;margin:0"></p>
                <?php if (count($ordersByCountry['orders']) > 1): ?>
                <p style="clear:both;height:0;margin:0"></p>
                <table border="0" width="100%">
                    <tr>
                        <td width="840" style="text-align:right;font-weight:bold;">Gesamt (<?php echo $month ?>)</td>
                        <td width="175" style="text-align:left">
                            <table width="100%" border="0">
                                <tr>
                                    <td width="100"><?php echo number_format($_coreHelper->currency($ordersByMonth['total'], false, false), 2, ',', '.'); ?> EUR</td>
                                    <td>&nbsp;</td>
                                    <td width="100"><?php echo number_format($_coreHelper->currency($ordersByMonth['total_tax'], false, false), 2, ',', '.'); ?> EUR</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <?php endif; ?>
                <?php if(count($ordersByMonth['order_type']) > 0):?>
                    <?php foreach($ordersByMonth['order_type'] as $key => $paymentType):?>
                        <p style="clear:both;height:0;margin:0"></p>
                        <table border="0" width="100%">
                            <tr>
                                <td width="840" style="text-align:right;font-weight:bold;"><?php echo strtoupper($key) ?>:</td>
                                <td width="175" style="text-align:left">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td width="100"><?php echo number_format($_coreHelper->currency($paymentType['total'], false, false), 2, ',', '.'); ?> EUR</td>
                                            <td>&nbsp;</td>
                                            <td width="100"><?php echo number_format($_coreHelper->currency($paymentType['total_tax'], false, false), 2, ',', '.'); ?> EUR</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    <?php endforeach;?>
                <?php endif; ?>
            <?php endforeach; ?>
            <p style="clear:both;height:30px"></p>
            <table border="0" width="100%">
                <tr>
                    <td width="840" style="text-align:right;font-weight:bold;">Gesamt (<?php echo $countryName ?>)</td>
                    <td width="175" style="text-align:left">
                        <table width="100%" border="0">
                            <tr>
                                <td width="100"><?php echo number_format($_coreHelper->currency($ordersByCountry['total'], false, false), 2, ',', '.'); ?> EUR</td>
                                <td>&nbsp;</td>
                                <td width="100"><?php echo number_format($_coreHelper->currency($ordersByCountry['total_tax'], false, false), 2, ',', '.'); ?> EUR</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <?php if(count($ordersByCountry['order_type']) > 0):?>
                <?php foreach($ordersByCountry['order_type'] as $key => $paymentType):?>
                    <p style="clear:both;height:0;margin:0"></p>
                    <table border="0" width="100%">
                        <tr>
                            <td width="840" style="text-align:right;font-weight:bold;"><?php echo strtoupper($key) ?>:</td>
                            <td width="175" style="text-align:left">
                                <table width="100%" border="0">
                                    <tr>
                                        <td width="100"><?php echo number_format($_coreHelper->currency($paymentType['total'], false, false), 2, ',', '.'); ?> EUR</td>
                                        <td>&nbsp;</td>
                                        <td width="100"><?php echo number_format($_coreHelper->currency($paymentType['total_tax'], false, false), 2, ',', '.'); ?> EUR</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                <?php endforeach;?>
            <?php endif; ?>
        <?php endforeach; ?>
        <hr style="border-style: double;"/>
        <p style="clear:both;height:0;margin:0"></p>
        <table border="0" width="100%">
            <tr>
                <td width="840" style="text-align:right;font-weight:bold;">Gesamt</td>
                <td width="175" style="text-align:left">
                    <table width="100%" border="0">
                        <tr>
                            <td width="100"><?php echo number_format($_coreHelper->currency($result['total'], false, false), 2, ',', '.'); ?> EUR</td>
                            <td>&nbsp;</td>
                            <td width="100"><?php echo number_format($_coreHelper->currency($result['total_tax'], false, false), 2, ',', '.'); ?> EUR</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <?php if(count($result['order_type']) > 0):?>
            <?php foreach($result['order_type'] as $key => $paymentType):?>
                <p style="clear:both;height:0;margin:0;"></p>
                <table border="0" width="100%">
                    <tr>
                        <td width="840" style="text-align:right;font-weight:bold;"><?php echo strtoupper($key) ?>:</td>
                        <td width="175" style="text-align:left">
                            <table width="100%" border="0">
                                <tr>
                                    <td width="100"><?php echo number_format($_coreHelper->currency($paymentType['total'], false, false), 2, ',', '.'); ?> EUR</td>
                                    <td>&nbsp;</td>
                                    <td width="100"><?php echo number_format($_coreHelper->currency($paymentType['total_tax'], false, false), 2, ',', '.'); ?> EUR</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            <?php endforeach;?>
        <?php endif; ?>
    </div>
<?php endif; ?>