<!--@subject List autocodes of {{var product_name}}@-->
<!--
*
* @category
* @package
* @author
* @copyright
* @license
*
* vars	{{product_name}}
*		{{list_autocodes}}
*		{{customer_name}}
-->
<html>
<head>
<style type="text/css">
	body,td {color:#000000;font:12px Arial;}
</style>
</head>
<body>
<div style="width:660px">
    {{template config_path="design/email/header"}}

    <p><strong><em>List autocodes of {{var product_name}}:</em></strong></p>
    <table cellspacing="0" cellpadding="0" border="0" width="650px">
        <thead>
            <tr>
                <th align="left" width="500" bgcolor="#EAEAEA" style="padding:10px">Autocodes</th>
                <th align="left" width="150" bgcolor="#EAEAEA" style="padding:10px">Order</th>
            </tr>
        </thead>
        <tbody>
            {{var list_autocodes}}
        </tbody>
    </table>
</div>
</body>
</html>
