<?php if ($myproducts = $this->getMyProducts()): ?>
    <?php if (isset($myproducts['items'])): ?>
        <?php $items = $myproducts['items']; ?>
        <?php $listPaidItems = array(); ?>
        <?php if (isset($myproducts['list_paid_items'])) $listPaidItems = $myproducts['list_paid_items']; ?>
        <?php if (count($items) > 0):  ?>
            <h2><?php echo $this->__('My Products')?></h2>
            <script>
                function notAllowDownload() {
                    alert('<?php echo $this->__('Ihre Zahlung ist noch nicht eingegagen/verarbeitet. Aus diesem Grunde ist der Download noch nicht freigegeben. Bitte versuchen Sie es in ein paar Minuten nochmals.'); ?>');
                }
            </script>
            <table class="data-table" id="myproducts">
                <thead>
                <tr>
                    <th><?php echo $this->__('Article')?></th>
                    <th><?php echo $this->__('Date')?></th>
                    <th><?php echo $this->__('Auto Code')?></th>
                    <th><?php echo $this->__('Related Download')?></th>
                    <th><?php echo $this->__('Download')?></th>
                </tr>
                </thead>
                <tbody>
                <?php
                $listItems = array();
                ?>
                <?php foreach ($items as $item): ?>
                    <?php
                    if ($item->isDeleted() && $item->getParentItemId()) continue; //skip unavailable items
                    //show a product one time
                    if (in_array($item->getProductId(), $listItems)) continue;
                    $listItems[] = $item->getProductId();

                    //check item is paid or not
                    $paid = in_array($item->getProductId(), $listPaidItems);
                    $product = Mage::getModel('catalog/product')->load($item->getProductId());

                    $moreUrl = $product->getProductUrl();
                    if ($item->getProductType() == "simple" || $item->getProductType() == "downloadable"){
                        $parentIds = Mage::getModel('catalog/product_type_grouped')->getParentIdsByChild($item->getProductId()); // check for grouped product

                        if (!empty($parentIds)) {
                            foreach ($parentIds as $parentId) {
                                $parentProduct = Mage::getModel('catalog/product')->load($parentId);
                                $moreUrl = $parentProduct->getProductUrl();
                                break;
                            }
                        }
                    }
                    ?>
                    <tr class="myproducts-item">
                        <td class="article">
                            <a href="<?php echo $product->getProductUrl(); ?>">
                                <img src="<?php echo $product->getThumbnailUrl()?>" alt="<?php echo $item->getName();?>" /></a>
                            <h4><?php echo $item->getName();?></h4>
                            <a href="<?php echo $moreUrl; ?>"><?php echo $this->__('More') ?>...</a>
                        </td>
                        <td class="date">
                            <?php echo Mage::helper('core')->formatDate($item->getCreatedAt(), 'short', false);?>
                            <span><?php  echo $paid ? $this->__('Close') : $this->__('Open'); ?></span>
                        </td>
                        <td class="autocode">
                            <?php if ($item->getProductType() == 'downloadable' && $product->getAutocodeEnabled()): ?>
                                <a href="<?php echo $this->getRequestSendAutocodeLink($item->getProductId()) ?>"><?php echo $this->__('Request') ?></a>
                            <?php else: ?>
                                <a href="#" onclick="return false;" class="disabled"><?php echo $this->__('Request') ?></a>
                            <?php endif; ?>
                        </td>
                        <td class="related-products">
                            <?php
                            $collectionFile = Mage::getModel('files/files')->getFileCollection($item->getProductId());
                            if (count($collectionFile) > 0):
                                ?>
                                <a href="<?php echo $product->getProductUrl() . '?tab=related-downloads'; ?>" target="_blank">
                                    <img src="<?php echo $this->getSkinUrl('images/box-ic.png');?>" alt="<?php echo $this->__('Related Products') ?>"/>
                                    <?php echo $this->__('Available'); ?>
                                </a>
                            <?php else: ?>
                                <a href="#" onclick="return false;" class="disabled">
                                    <img class="disabled" src="<?php echo $this->getSkinUrl('images/box-ic.png');?>" alt="<?php echo $this->__('Related Products') ?>"/>
                                    <?php echo $this->__('Unavailable'); ?>
                                </a>
                            <?php endif; ?>
                        </td>
                        <td class="download">
                            <?php if ($item->getProductType() == 'downloadable' && $paid): ?>
                                <?php $links = Mage::getModel('downloadable/link')->getCollection()
                                    ->addProductToFilter($item->getProductId()); ?>
                                <?php if (count($links) == 1): ?>
                                    <?php foreach ($links as $link): ?>
                                        <?php
                                        $linkpath = Mage::getUrl('downloadable/download/link/', array('id' => $item->getLinkHash(), '_secure' => true));
                                        ?>
                                        <a href="<?php echo $linkpath;?>" title="<?php echo $this->__('Download') ?>" target="_blank"><img src="<?php echo $this->getSkinUrl('images/download-ic.png');?>" alt="<?php echo $this->__('Download') ?>"/></a>
                                    <?php endforeach; ?>
                                <?php elseif (count($links) > 0): ?>
                                    <?php foreach ($links as $link): ?>
                                        <?php
                                        $mediaUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);
                                        $linkpath = $mediaUrl."downloadable/files/links".$link->getLinkFile();
                                        ?>
                                        <a href="<?php echo $linkpath;?>" title="<?php echo $this->__('Download') ?>" target="_blank"><img src="<?php echo $this->getSkinUrl('images/download-ic.png');?>" alt="<?php echo $this->__('Download') ?>"/></a>
                                    <?php endforeach; ?>
                                <?php else: ?>
                                    <a href="#" onclick="notAllowDownload(); return false;" class="disabled"><img src="<?php echo $this->getSkinUrl('images/download-ic.png');?>" alt="<?php echo $this->__('Download') ?>"/></a>
                                <?php endif; ?>
                            <?php else: ?>
                                <a href="#" onclick="notAllowDownload(); return false;" class="disabled"><img src="<?php echo $this->getSkinUrl('images/download-ic.png');?>" alt="<?php echo $this->__('Download') ?>"/></a>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>

            </table>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>