<?php
$_billing = Mage::getSingleton('checkout/session')->getQuote()->getBillingAddress();
$_shipping = Mage::getSingleton('checkout/session')->getQuote()->getShippingAddress();
$paymentMethod = '';
if(Mage::getSingleton('checkout/session')->getQuote()->getPayment()->getMethod()){
    $paymentMethod = Mage::getSingleton('checkout/session')->getQuote()->getPayment()
        ->getMethodInstance()
        ->getTitle();
}

?>
<table class="customer-info">
    <tr>
        <td><?php echo $this->__('Invoice address');?></td>
        <td>
            <span><?php echo $_billing->getData('prefix').' '.$_billing->getData('firstname').' '.$_billing->getData('lastname'); ?></span>
            <span><?php echo $_billing->getData('company'); ?></span>
            <span><?php echo $_billing->getData('street'); ?></span>
            <?php
                $nameCountry = Mage::getModel('directory/country')->load($_billing->getData('country_id'))->getName();
                if($_billing->getData('country_id') == 'US' || $_billing->getData('country_id') == 'GB'):
            ?>
            <span><?php echo $_billing->getData('city') . ', ' .$_billing->getData('postcode'); ?></span>
            <?php else: ?>
            <span><?php echo $_billing->getData('postcode') . ' ' .$_billing->getData('city'); ?></span>
            <?php endif; ?>
            <span><?php echo $nameCountry; ?></span>
            <span><?php echo $_billing->getData('email'); ?></span>
        </td>
        <td><span class="button" onclick="changeCustomerInfo(1210)"><?php echo $this->__('Changing');?></span></td>
    </tr>
    <tr>
        <td><?php echo $this->__('Delivery address');?></td>
        <td>
            <?php if(!Mage::getSingleton('checkout/session')->getQuote()->isVirtual()):?>
            <span><?php echo $_shipping->getData('company'); ?></span>
            <?php if($_shipping->getData('is_packstation')!=null && $_shipping->getData('is_packstation')!=0): ?>
                <span><?php echo $_shipping->getData('postnumber').'&nbsp;'.$_shipping->getData('packstation'); ?></span>
            <?php else: ?>
                <span><?php echo $_shipping->getData('street'); ?></span>
            <?php endif; ?>
            <?php
            $nameCountry = Mage::getModel('directory/country')->load($_billing->getData('country_id'))->getName();
            if ($_billing->getData('country_id') == 'US' || $_billing->getData('country_id') == 'GB'):
                ?>
                <span><?php echo $_billing->getData('city') . ', ' .$_billing->getData('postcode'); ?></span>
            <?php else: ?>
                <span><?php echo $_billing->getData('postcode') . ' ' .$_billing->getData('city'); ?></span>
            <?php endif; ?>
            <span><?php echo Mage::getModel('directory/country')->load($_shipping->getData('country_id'))->getName(); ?></span>
            <?php endif;?>
        </td>
        <td><span class="button" onclick="changeCustomerInfo(2010)"><?php echo $this->__('Changing');?></span></td>
    </tr>
    <tr>
        <td><?php echo $this->__('Payment');?></td>
        <td>
            <span class="payment-info"><?php echo $paymentMethod; ?></span>
        </td>
        <td><span class="button" onclick="changeCustomerInfo(2710)"><?php echo $this->__('Changing');?></span></td>
    </tr>
</table>