<?php $newsData = $this->getNewsData(); ?>
<div class="content">
    <table class="pressContentTable" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <?php foreach ($newsData as $news):?>
            <tr>
                <td>
                    <div class="pressImageTD">
                        <a href="<?php echo $news->getLink() ?>" target="_blank">
                            <?php if ($news->getImage()): ?>
                                <img src="<?php echo Mage::helper('congts_productpress')->getNewsImage($news->getImage()) ?>" width="111" height="auto" alt="<?php echo $news->getTitle() ?>">
                            <?php else: ?>
                                <strong><?php echo $news->getTitle() ?></strong>
                            <?php endif; ?>

                        </a>
                    </div>
                </td>
                <td>
                    <div class="pressDescriptionTD">
                        <h4><?php echo $news->getTitle() ?></h4>
                        <p><?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($news->getDescription()) ?></p>
                    </div>
                    <?php if ($news->getLink()): ?>
                        <a href="<?php echo $news->getLink() ?>" target="_blank">...<?php echo $this->__('More') ?></a>
                    <?php endif; ?>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>