<tr style="display:none">
    <td colspan="<?php echo $this->getColspan(); ?>" style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right save-amount-total">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
            <?php echo $this->escapeHtml($this->getTotal()->getTitle()); ?>
            <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
    <td style="<?php echo $this->getTotal()->getStyle() ?>" class="a-right save-amount-total">
        <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?><strong><?php endif; ?>
            <?php echo $this->helper('checkout')->formatPrice($this->getTotal()->getValue()) ?>
            <?php if ($this->getRenderingArea() == $this->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
</tr>

<?php
$cart = Mage::getModel('checkout/cart')->getQuote();
$regularTotal = 0;
foreach ($cart->getAllItems() as $item) {
    $regularTotal += $item->getProduct()->getPrice() * $item->getQty();
}
$regularTotal = Mage::helper('core')->currency($regularTotal, true);
?>

<tr style="display: none;">
    <td colspan="1" class="a-right sales-original-price">
        <strong><?php echo $this->__('gegenüber dem regulären Verkaufspreis von') ?></strong>
    </td>
    <td class="a-right sales-original-price">
        <span class="price"><?php echo $regularTotal ?></span>
    </td>
</tr>

<script type="text/javascript">
    jQuery(function(){
        if(jQuery('.checkout-review .save-amount-total .price').length > 0){
            var priceHtml = jQuery('.checkout-review .save-amount-total .price').html();
            var price = priceHtml.match(/[\d\,]+/);
            jQuery('.you-have-saved span').html(price);
            jQuery('.you-have-saved').show();

            var ogPriceHtml = jQuery('.checkout-review .sales-original-price .price').html();
            var ogPrice = ogPriceHtml.match(/[\d\,]+/);
            jQuery('.price-original span').html(ogPrice);
            jQuery('.price-original').show();
        }
        jQuery('.step-1 .save-amount-total').parent().appendTo(".step-1 .totals table tfoot");
        jQuery('.step-1 .save-amount-total').parent().show();
        jQuery('.step-1 .sales-original-price').parent().appendTo(".step-1 .totals table tfoot");
        jQuery('.step-1 .sales-original-price').parent().show();
    })
</script>