<?php
/**
 * @see Mage_Checkout_Block_Agreements
 */
?>
<?php if (!$this->getAgreements()) return; ?>
<form action="<?php echo $this->getUrl('checkout/onepage/saveOrder', array('form_key' => Mage::getSingleton('core/session')->getFormKey())); ?>" id="checkout-agreements" onsubmit="return false;">
<ol class="checkout-agreements">
<?php foreach ($this->getAgreements() as $_a): ?>
    <li>
        <div id="agreement-block-<?php echo $_a->getId();?>" class="agreement-content <?php if (Mage::helper('opc')->getTermsType()):?>hidden<?php endif?>"<?php echo ($_a->getContentHeight() ? ' style="height:' . $_a->getContentHeight() . '"' : '')?>>
            <?php if ($_a->getIsHtml()):?>
                <?php echo $_a->getContent() ?>
            <?php else:?>
                <?php echo nl2br($this->htmlEscape($_a->getContent())) ?>
            <?php endif; ?>
        </div>
        <p class="agree">
            <input type="checkbox" id="agreement-<?php echo $_a->getId()?>" name="agreement[<?php echo $_a->getId()?>]" value="1" class="checkbox required-entry" />
            <label for="agreement-<?php echo $_a->getId()?>" data-id="<?php echo $_a->getId();?>"><?php echo $_a->getIsHtml() ? $_a->getCheckboxText() : $this->htmlEscape($_a->getCheckboxText()) ?></label>
        </p>
    </li>
<?php endforeach ?>
</ol>
<div style="display:none" id="message-select-agreements"><?php echo $this->__('Sie müssen die AGB akzeptieren und Widerrufsbelehrung zur Kenntnis nehmen'); ?></div>
<div class="comment-block">
    <h3><?php echo $this->__('Comments on your order (max 500 characters)')?></h3>
    <div class="discount">
        <div class="discount-form">
            <div class="input-box">
                <textarea class="input-text" id="customer_comment" name="customer_comment"></textarea>
            </div>
        </div>
    </div>
</div>
</form>
<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('.agree input').click(function(){
        if(jQuery('#agreement-1').is(':checked')==false){
            jQuery('#message-select-agreements').html('<?php echo $this->__('Bitte akzeptieren Sie unser AGB.'); ?>')
        }
        if(jQuery('#agreement-2').is(':checked')==false){
            jQuery('#message-select-agreements').html('<?php echo $this->__('Bitte nehmen Sie die Widerrufsbelehrung zur Kenntnis.'); ?>')
        }
        if(jQuery('#agreement-1').is(':checked')==false && jQuery('#agreement-2').is(':checked')==false){
            jQuery('#message-select-agreements').html('<?php echo $this->__('Sie müssen die AGB akzeptieren und Widerrufsbelehrung zur Kenntnis nehmen'); ?>')
        }
    });
  jQuery('#subscribe').on('click', function(){
    if(jQuery('#subscribe').is(':checked')){
      jQuery('#overlay-popup').show();
      jQuery('#login-popup-container').show();
    };
  });

  jQuery('.subscribe').on('click', function(){
    if(jQuery('#subscribe').is(':checked')){
      jQuery('#subscribe').attr('checked',false);
      jQuery('#overlay-popup').hide();
      jQuery('#login-popup-container').hide();
    }else{
      jQuery('#subscribe').attr('checked','checked');
      jQuery('#overlay-popup').show();
      jQuery('#login-popup-container').show();
    };
  });
});
</script>