<?php
$address = Mage::getSingleton("checkout/session")->getQuote()->getBillingAddress();
?>
<div id="co-billing-form">
    <h3><?php echo $this->__('Your Address')?></h3>
    <span class="text"><?php echo $this->__('Fields marked with (*) must be filled in before we can process your order');?></span>
    <ul class="form-list">
    <?php if ($this->customerHasAddresses()): ?>
        <li class="wide">
            <label for="billing-address-select" class="notice"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
            <div class="input-box">
                <?php echo $this->getAddressesHtmlSelect('billing') ?>
            </div>
            <input type="hidden" id="customer_country_value" value="<?php echo $address->getCountryId() ?>" />
        </li>
    <?php endif; ?>
    <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
        <fieldset>
            <input type="hidden" name="billing[address_id]" value="<?php echo $address->getId() ?>" id="billing:address_id" />
            <ul>
                <?php if(!$this->isCustomerLoggedIn()): ?>
                    <li class="fields">
                        <?php $passedEmail = Mage::getSingleton('checkout/session')->getUserEmail(); ?>
                        <div class="field">
                            <label for="billing:email" class="required"><?php echo $this->__('Email Address') ?><em>*</em></label>
                            <div class="input-box">
                                <input type="text" name="billing[email]" id="billing:email" value="<?php echo $passedEmail ? : $this->escapeHtml($address->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text required-entry validate-email" />
                            </div>
                        </div>
                    </li>
                <?php endif; ?>
                <li class="control">
                    <input type="checkbox" id="company_checkbox" class="checkbox" onchange="toggleCompany(this.checked)" />
                    <label for="company_checkbox" style="width: 100%;"><?php echo $this->__('Ja, ich möchte als Firma bestellen') ?></label>
                </li>
                <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($address->getFirstname() ? $address : $this->getQuote()->getCustomer())->setForceUseCustomerRequiredAttributes(!$this->isCustomerLoggedIn())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></li>

                <li class="fields company-vat" style="display:none;">
                    <div class="field">
                        <label for="billing:company" class="required"><?php echo $this->__('Company') ?><em>*</em></label>
                        <div class="input-box">
                            <input type="text" id="billing:company" name="billing[company]" value="<?php echo $this->escapeHtml($address->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text required-entry" />
                        </div>
                    </div>
                </li>
        <?php $_streetValidationClass = $this->helper('opc')->getAttributeValidationClass('street'); ?>
                <li class="wide">
                    <label for="billing:street1" class="required"><?php echo $this->__('Address') ?><em>*</em></label>
                    <div class="input-box">
                        <input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->escapeHtml($address->getStreet(1)) ?>" class="input-text validate-pixx-street <?php echo $_streetValidationClass ?>" />
                    </div>
                    <br/>
                </li>
        <?php /*$_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
        <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                <li class="wide">
                    <div class="input-box">
                        <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="billing[street][]" id="billing:street<?php echo $_i ?>" value="<?php echo $this->escapeHtml($address->getStreet($_i)) ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                    </div>
                </li>
        <?php endfor; */?>
                <li class="fields">
                    <div class="field" id="first_area">
                        <label for="billing:city" class="required"><?php echo $this->__('City') ?><em>*</em></label>
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php echo $this->escapeHtml($address->getCity()) ?>" class="input-text <?php echo $this->helper('opc')->getAttributeValidationClass('city') ?>" id="billing:city" />
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="billing:region_id" class="required"><?php echo $this->__('State/Province') ?><em>*</em></label>
                        <div class="input-box">
                            <select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                            </select>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('billing:region_id').setAttribute('defaultValue',  "<?php echo $address->getRegionId() ?>");
                                //]]>
                            </script>
                            <input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->escapeHtml($address->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text <?php echo $this->helper('opc')->getAttributeValidationClass('region') ?>" style="display:none;" />
                        </div>
                    </div>
                    <div class="field" id="second_area">
                        <label for="billing:postcode" class="required"><?php echo $this->__('Zip/Postal Code') ?><em>*</em></label>
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->escapeHtml($address->getPostcode()) ?>" class="input-text validate-zip-international <?php echo $this->helper('opc')->getAttributeValidationClass('postcode') ?>" />
                        </div>
                    </div>
                </li>

                <li class="fields">
                    <div class="field">
                        <label for="billing:country_id" class="required"><?php echo $this->__('Country') ?><em>*</em></label>
                        <div class="input-box">
                            <?php echo $this->getCountryHtmlSelect('billing') ?>
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="billing:telephone"><?php echo $this->__('Telephone') ?></label>
                        <div class="input-box">
                            <input type="text" name="billing[telephone]" value="<?php echo $this->escapeHtml($address->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text validate-length maximum-length-15" autocomplete="off" id="billing:telephone" />
                        </div>
                    </div>
                </li>
                <li class="fields company-vat" style="display:none;">
                    <div class="field opc_vatid">
                        <label for="billing:vat_id"><?php echo $this->__('VAT Number') ?></label>
                        <div class="input-box">
                            <input type="text" id="billing:vat_id" name="billing[vat_id]" value="<?php echo $this->escapeHtml($address->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" class="input-text validate-vat-number <?php echo $this->helper('opc')->getAttributeValidationClass('vat_id') ?>" onblur="Validation.validate(this)" onchange="Validation.validate(this)" />
                        </div>
                    </div>
                </li>
                <?php if(!$this->isCustomerLoggedIn()): ?>

                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                        <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>
                            <li class="fields">
                            <?php if ($_dob->isEnabled()): ?>
                                <div class="field">
                                    <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($_gender->isEnabled()): ?>
                                <div class="field">
                                    <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                </div>
                            <?php endif ?>
                            </li>
                        <?php endif ?>

                    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                    <?php if ($_taxvat->isEnabled()): ?>
                            <li>
                                <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                            </li>
                    <?php endif ?>
                <?php endif; ?>
                <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                    <li class="control">
                        <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);"<?php if ($address->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="billing:save_in_address_book" style="width: 100%"><?php echo $this->__('Save in address book') ?></label>
                    </li>
                <?php else:?>
                    <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                <?php endif; ?>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
            </ul>
        </fieldset>
    </li>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('checkout.onepage.billing.extra')?>

    <?php if(!$this->isCustomerLoggedIn()): ?>

        <?php
        $guest_allowed = $this->getQuote()->isAllowedGuestCheckout();
        if($guest_allowed): ?>
            <li class="control">
                <input type="checkbox" name="billing[create_account]" id="billing:create_account" value="1" title="<?php echo  $this->__('Create an account for later use') ?>"  class="checkbox" /><label style="width:auto;" for="billing:create_account"><?php echo  $this->__('Create an account for later use') ?></label>
            </li>
        <?php else:?>
            <input type="hidden" name="billing[create_account]" id="billing:create_account" value="1" />
        <?php endif;?>

        <li class="fields" <?php if($guest_allowed):?>style="display:none;"<?php endif;?> id="register-customer-password">
            <?php $password = Mage::helper('core')->getRandomString(6); //generate random password ?>
            <input type="hidden" name="billing[customer_password]" title="<?php echo $this->__('Password') ?>" id="billing:customer_password" class="input-text validate-password required-entry" autocomplete="off" value="<?php echo $password ?>"/>
            <input type="hidden" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text validate-cpassword required-entry" autocomplete="off" value="<?php echo $password ?>"/>
            <!--<div class="field">
                <input style="display:none" type="password" name="fakepasswordremembered"/>
                <label for="billing:customer_password" class="required"><?php /*echo $this->__('Password') */?><em>*</em></label>
                <div class="input-box">
                    <input type="password" name="billing[customer_password]" title="<?php /*echo $this->__('Password') */?>" id="billing:customer_password" class="input-text validate-password required-entry" autocomplete="off" value=""/>
                </div>
            </div>
            <div class="field">
                <label for="billing:confirm_password" class="required"><?php /*echo $this->__('Confirm Password') */?><em>*</em></label>
                <div class="input-box">
                    <input type="password" name="billing[confirm_password]" title="<?php /*echo $this->__('Confirm Password') */?>" id="billing:confirm_password" class="input-text validate-cpassword required-entry" autocomplete="off" value=""/>
                </div>
            </div>-->
        </li>
        <div class="clear"></div>

    <?php endif;?>

    <?php echo $this->getChildHtml('opc.newsletters') ?>

    <?php if ($this->canShip()): ?>
        <li class="control hidden">
            <input type="checkbox" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1" checked="checked" title="<?php echo  $this->__('Ship to this address') ?>" class="checkbox use_for_shipping" />
        </li>
    <?php endif; ?>
    </ul>
    <?php if (!$this->canShip()): ?>
        <input type="hidden" name="billing[use_for_shipping]" value="1" checked="checked" />
    <?php endif; ?>

</div>
<?php if ($this->canShip()): ?>
<div class="delivery-options-wrap">
    <h3><?php echo $this->__('Ihre Lieferadresse');?></h3>
    <div class="delivery-options">
        <div class="delivery-control">
            <input id="billing:difference_shipping_address" type="checkbox" name="billing[difference_shipping_address]"  class="difference_shipping_address checkbox" value="1" title="<?php echo  $this->__('Ship to this address') ?>" />
            <label for="billing:difference_shipping_address"><?php echo $this->__('Lieferung an eine abweichende Adresse') ?></label>
        </div>
        <div class="delivery-control">
            <input type="checkbox" name="billing[packing_station]" id="billing:packing_station" value="1" class="checkbox packstation_shipping_address" />
            <label for="billing:packing_station"><?php echo $this->__('Lieferung an eine Packstation') ?></label>
        </div>
    </div>
</div>
<?php endif; ?>
<script type="text/javascript">
    //<![CDATA[
    var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');
    jQuery('.difference_shipping_address').change(function(){
        if(jQuery(this).is(':checked')){
            $j('input[name="billing[use_for_shipping]"]').prop('checked', false).trigger('change');
        }else{
            $j('input[name="billing[use_for_shipping]"]').prop('checked', true).trigger('change');
        }
    });
    //]]>
</script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js') . 'jsvatx/jsvatx.min.js' ?>"></script>
<script type="text/javascript">
    //<![CDATA[
    Validation.add('validate-vat-number', '<?php echo $this->__("Geben Sie bitte eine gültige Ust-ID ein.") ?>', function(v) {
        if (v.trim() == "") return true;
        return checkVATNumber(v);
    });
    Validation.add('validate-pixx-street', '<?php echo $this->__("Please use only letters (a-z or A-Z) or numbers (0-9) or spaces and # only in this field.") ?>', function(v) {
        return Validation.get('IsEmpty').test(v) || /^[A-zÀ-ÿ0-9\s\.\-,;#]+$/.test(v)
    });
    jQuery(function() {
        swapCityWithPostcode();
        jQuery('#billing\\:country_id').change(function() {
            swapCityWithPostcode();
        });
        if (jQuery('#billing\\:company').val() != "") {
            toggleCompany(true);
        }
    });

    function swapCityWithPostcode() {
        var cityHtml = jQuery('#billing\\:city').closest('.field').html();
        var cityValue = jQuery('#billing\\:city').val();
        var postcodeHtml = jQuery('#billing\\:postcode').closest('.field').html();
        var postValue = jQuery('#billing\\:postcode').val();
        if (jQuery('#billing\\:country_id').val() != 'US' && jQuery('#billing\\:country_id').val() != 'GB') {
            jQuery("#first_area").html(postcodeHtml);
            jQuery("#second_area").html(cityHtml);
            jQuery('#billing\\:city').val(cityValue);
            jQuery('#billing\\:postcode').val(postValue);
        } else {
            jQuery("#first_area").html(cityHtml);
            jQuery("#second_area").html(postcodeHtml);
        }
    }

    function toggleCompany(status) {
        jQuery('#company_checkbox').prop('checked', status);
        if (status) {
            jQuery('.company-vat').show();
        } else {
            jQuery('.company-vat').hide();
            jQuery('.company-vat').find("input").val("");
        }
    }
    //]]>
</script>
