<div class="comment-block">
<h3><?php echo $this->__('Comments on your order (max 500 characters)')?></h3>
	<form autocomplete="off">
	    <div class="discount">
	        <div class="discount-form">            
	            <div class="input-box">	                
	                <textarea class="input-text" id="customer_comment" name="customer_comment"></textarea>
	            </div>	            
	        </div>
	    </div>
	</form>
</div>