<td>
    <div id="opc-discount-coupon-form" action="<?php echo $this->getUrl('checkout/cart/couponPost') ?>">
        <div class="discount">
            <div class="discount-form">
                <label for="coupon_code"><?php echo $this->__('Please enter here certificate, if available') ?></label>  
                <div class="input-box">
                    <input class="input-text" id="coupon_code" type="text" name="coupon_code" value="<?php echo $this->htmlEscape($this->getCouponCode()) ?>" autocomplete="off"/>
                    <span class="coupon-note"><?php echo $this->__('enter coupon code');?></span>
                </div>
                <div class="buttons-set">
                    <button type="button" title="<?php echo $this->__('Apply') ?>" class="button apply-coupon"  value="<?php echo $this->__('Apply') ?>"><span><span><?php echo $this->__('Apply') ?></span></span></button>
                    <?php if(strlen($this->getCouponCode())): ?>
                        &nbsp; <button type="button" title="<?php echo $this->__('Cancel') ?>" class="button remove-coupon right"  value="<?php echo $this->__('Cancel') ?>"><span><span><?php echo $this->__('Cancel') ?></span></span></button>
                    <?php endif;?>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        var discountForm = new VarienForm('discount-coupon-form');
        discountForm.submit = function (isRemove) {
            if (isRemove) {
                $('coupon_code').removeClassName('required-entry');
                $('remove-coupone').value = "1";
            } else {
                $('coupon_code').addClassName('required-entry');
                $('remove-coupone').value = "0";
            }
            return VarienForm.prototype.submit.bind(discountForm)();
        }
        //]]>
    </script>
</td>
<?php
$quote = Mage::getSingleton('checkout/cart')->getQuote();
$totals =  $quote->getTotals();
?>
<td>
<div id="discount-amount">
<?php if(isset($totals["discount"])): ?>
<span class="price"><?php echo Mage::helper('core')->formatPrice($totals["discount"]->getValue(), true); ?></span>
<?php endif; ?>
</div>
</td>
