<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php
$_helper = $this->helper('catalog/output');
$_coreHelper = $this->helper('core');
$_product = $this->getProduct();
// if($_product->getAttributeText('hidden_offer') == 'Yes')
//   exit;
$theme = $this->helper('ultimo');

//CSS classes based on product type
$productTypeId = $_product->getTypeId();
$productTypeClasses = '';
if ($productTypeId === 'grouped') {
    $productTypeClasses .= ' is-type-grouped';
}
//$allowProductType = $_product->getAttributeText('product_types');
$allowProductType='';
//echo "<pre>"; print_r($allowProductTypes); echo is_array($allowProductTypes); echo "</pre>";
if(is_array($allowProductTypes)) { $allowProductTypes=$allowProductType; } else {$allowProductTypes[] = $allowProductType;}
if(is_array($allowProductTypes[0])) {
    $allowProductTypesNew = $allowProductTypes[0];
    $allowProductTypes = array();
    $allowProductTypes = $allowProductTypesNew;
}
//Width (in grid units) of product page sections
$imgColUnits					= $theme->getCfg('product_page/image_column');
$primaryColUnits				= $theme->getCfg('product_page/primary_column');
$secondaryColUnits				= $theme->getCfg('product_page/secondary_column');
$container2ColUnits				= $imgColUnits + $primaryColUnits;
$collatPrimaryColUnits			= $imgColUnits + $primaryColUnits;
$collatSecondaryColUnits		= $secondaryColUnits;

//If no secondary column
if (empty($secondaryColUnits))
{
    $primaryColUnits			+= 12 - ($imgColUnits + $primaryColUnits);
    $container2ColUnits			= $imgColUnits + $primaryColUnits;
    $collatPrimaryColUnits		= 9;
    $collatSecondaryColUnits	= 3;
}

//If no related products, stretch collateral primary column
if (!isset($section['related']))
{
    $container2ColUnits			= 12;
    $collatPrimaryColUnits		= 12;
    $collatSecondaryColUnits	= 0;
}
elseif (!isset($p['secondaryCol']))
{
    $container2ColUnits 		= 12;
}

//Grid classes
$imgColGridClass				= 'grid12-' . $imgColUnits;
$primaryColGridClass			= 'grid12-' . $primaryColUnits;
$secondaryColGridClass			= 'grid12-' . $secondaryColUnits;
$container2ColGridClass			= 'grid12-' . $container2ColUnits;
$collatPrimaryColGridClass		= 'grid12-' . $collatPrimaryColUnits;
$collatSecondaryColGridClass	= 'grid12-' . $collatSecondaryColUnits;
if (empty($secondaryColUnits))
{
    $secondaryColGridClass	= '';
}
?>
<?php
/**
 * Custom
 */
/******************************************************************************/

$buttonTitle = $this->__('Add to cart');
$addToCartClass = 'hardcover';

$product = Mage::getModel('catalog/product')->load($_product->getId());
if($product->getTypeId() == 'downloadable'){
    $addToCartClass = 'ebook';
    //$buttonTitle = $this->__('Download');
}
/******************************************************************************/
$attribute = Mage::getModel('catalog/resource_eav_attribute')
    ->loadByCode(Mage_Catalog_Model_Product::ENTITY, 'available_from_date');
$available_from_date_label = $attribute->getFrontendLabel();
$available_from_date = $_helper->productAttribute($_product, $_product->getAvailableFromDate(), 'available_from_date');
if(strtotime($available_from_date) <= strtotime(date('Y/m/d'))){
    $available_from_date = 'sofort lieferbar';
}else{
    $available_from_date = 'lieferbar ab '.date('d.m.Y',strtotime($available_from_date));
}
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div class="hidden-form" style="display: none;">
    <form action="<?php echo Mage::getUrl('download/index/download') ?>" id="download-temporary-form">
        <input type="hidden" name="product" id="temporary-product" />
        <input type="hidden" name="current_url" value="<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>" id="current_url" />
    </form>
</div>
<script type="text/javascript">
    var downloadTemplate = '<div class="popup-download">' +
        '<h2><?php echo $this->__('Und so funktioniert unser Download-Bereich:'); ?></h2>' +
        '<div class="list-download">' +
        '<div class="sub-download-box">' +
        '<div class="icon-download free-download-icon"><?php echo $this->__('Free') ?></div>' +
        '<p><?php echo $this->__('Freer Download ohne Einschränkungen'); ?></p>' +
        '</div>' +
        '<div class="sub-download-box">' +
        '<div class="icon-download login-download-icon"><?php echo $this->__('Login') ?></div>' +
        '<p><?php echo $this->__('Download nur für registrierte Kunden'); ?></p>' +
        '<p class="download-link"><a href="<?php echo Mage::getUrl("download/index/login"); ?>?product=product_download"><?php echo $this->__('Jetzt einloggen'); ?></a></p>' +
        '</div>' +
        '<div class="sub-download-box">' +
        '<div class="icon-download vip-download-icon"><?php echo $this->__('Vip') ?></div>' +
        '<p><?php echo $this->__('Download exklusiv für Premium-Nutzer'); ?></p>' +
        '<p class="download-link"><a href="<?php echo Mage::getUrl("download/index/login"); ?>?product=product_download"><?php echo $this->__('VIP werden'); ?></a></p>' +
        '</div>' +
        '<div class="sub-download-box download-by-code">' +
        '<div class="icon-download code-download-icon"><?php echo $this->__('CODE') ?></div>' +
        '<p><?php echo $this->__('Download nach Eingabe des korrekten Codes'); ?></p>' +
        '<p class="download-link"><a href="<?php echo Mage::getUrl("was-sind-codes"); ?>"><?php echo $this->__('Was sind Codes?'); ?></a></p>' +
        '</div>' +
        '<div class="form-code-download" style="display:none">' +
        '<form id="validate-form-download-product_download" action="<?php echo Mage::getUrl('download/index/code') ?>?product=product_download" method="post" >' +
        '<input type="text" maxlength="128" class="input-text required-entry" value=""  id="download-code-product_download" name="download-code" autocomplete="off" />' +
        '<input type="hidden" name="current_url" value="<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>" />' +
        '<input type="hidden" name="product" value="product_download" />' +
        '<div class="actions"><button class="button" title="<?php echo $this->__('Download'); ?>" type="submit"><span><span><?php echo $this->__('Download'); ?></span></span></button></div>' +
        '</form>' +
        '</div>'
    '</div>' +
    '</div>';
    function replaceAll(find, replace, str)
    {
        while( str.indexOf(find) > -1)
        {
            str = str.replace(find, replace);
        }
        return str;
    }
    function downloadPopup(productId){
        jQuery.fancybox({
            'content' : replaceAll('product_download', productId, downloadTemplate),
            afterShow: function(){
                var downloadFormValidate = new VarienForm('validate-form-download-'+productId);
                jQuery('.download-by-code').on('click', function(){
                    jQuery('.form-code-download').show();
                });
            }
        });
    }
    function downloadProduct(productId){
        jQuery("#temporary-product").val(productId);
        jQuery("#download-temporary-form").submit();
    }
    function checkIsbn(productId){
        urlDownload    =   '<?php echo $this->getUrl('onepage/index/download'); ?>';
        isbn =  jQuery('#product-isbn-'+ productId).val();
        setLocation(urlDownload+'?isbn='+isbn+'&product='+productId);
    }
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
        <div class="no-display">
            <?php echo $this->getBlockHtml('formkey'); ?>
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>
        <div class="product-name">
            <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            <h3><?php echo $_helper->productAttribute($_product, $_product->getSubtitle(), 'subtitle') ?></h3>
        </div>

        <div class="product-img-column grid12-8">

            <?php echo $this->getChildHtml('media') ?>
            <?php //Product labels
            echo $this->helper('ultimo/labels')->getLabels($_product);
            ?>
        </div>


        <div class="product-shop grid12-4 <?php if(!$_product->isGrouped()):?> product-shop-ngrouped<?php endif; ?>">
            <div class="clear"></div>

            <div class="product-name quickview">
                <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                <h3><?php echo $_helper->productAttribute($_product, $_product->getSubtitle(), 'subtitle') ?></h3>
            </div>

            <?php echo $this->getReviewsSummaryHtml($_product, false, true); //reviews ?>
            <?php if ($_product->getShortDescription()): ?>
                <div class="short-description">
                    <strong><?php echo $this->__('Highlight');?></strong>
                    <div class="std"><?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                    </div>
                </div>
            <?php endif;?>

            <div class="green">
                <?php echo $available_from_date; ?>
            </div>
            <div class="clear"></div>
            <?php $productTypeOptionId = $_helper->productAttribute($_product, $_product->getProductTypes(), 'product_types');?>



            <?php if ($theme->getCfg('product_page/sku')): ?>
                <div class="sku"><span><?php echo $this->__('SKU'); ?>: </span><?php echo $_product->getSku(); ?></div>
            <?php endif; ?>
            <?php echo $this->getChildHtml('alert_urls'); //alerts ?>
            <?php if ($extrahint_html = $this->getChildHtml('extrahint')): //qty increments ?>
                <div class="extrahint-wrapper"><?php echo $extrahint_html; ?></div>
            <?php endif; ?>
            <?php echo $this->getTierPriceHtml(); //tier prices ?>


            <?php echo $this->getChildHtml('other'); ?>
            <?php if ($tmpHtml = $this->getChildHtml('product_primary_bottom_placeholder')): //Placeholder for extensions ?>
                <div class="feature-wrapper top-border"><?php echo $tmpHtml; ?></div>
            <?php endif; ?>

            <?php if($_product->getData('manufacturer')): ?>
                <div class="manufacture-box">
                    <p><?php echo $this->__('Hersteller'); ?></p>
                    <p class="manufacture-info">
                        <?php echo $_product->getAttributeText('manufacturer'); ?>
                    </p>
                </div>
            <?php endif; ?>
            <div class="filesize-box">
                <p><?php echo $this->__('Dateigröße'); ?></p>
                <p class="filesize-info">
                    <?php echo $_product->getData('filesize'); ?>
                </p>
            </div>
            <div class="betriebssystem-box">
                <p><?php echo $this->__('Betriebssystem'); ?></p>
                <p class="betriebssystem-info">
                    <?php echo $_product->getAttributeText('system_requirement'); ?>
                </p>
            </div>
            <div class="total-downloaded">
                <p><?php echo $this->__('Downloads verfügbar'); ?></p>
                <p class="total-download-info">
                    <?php
                    $totaldownLoad = (int)$_product->getData('total_download');
                    $total = str_split((string)$totaldownLoad);
                    if (count($total)<4) {
                        for ($i=4; $i>count($total); $i--){
                            echo '<span>0</span>';
                        }
                    }
                    foreach($total as $number):
                    ?>
                        <span><?php echo $number; ?></span>
                    <?php endforeach; ?>
                </p>
            </div>

            <?php
            $allowDownload = $_product->getData('allow_download_type');
            $groupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
            $groupCode  = Mage::getModel('customer/group')->load($groupId)->getCustomerGroupCode();
            $displayLink = false;
            if ($allowDownload == 'free') {
                $displayLink = true;
            }
            if($allowDownload == 'login') {
                if (Mage::getSingleton('customer/session')->isLoggedIn()){
                    $displayLink = true;
                }
            }
            if($allowDownload == 'vip') {
                if (Mage::getSingleton('customer/session')->isLoggedIn() && strtolower($groupCode)=='vip'){
                    $displayLink = true;
                }
            }
            ?>
            <?php if ($displayLink == true): ?>
                <button onclick="downloadProduct('<?php echo $_product->getId(); ?>')" class="button btn-cart" title="Download" type="button"><span><span><?php echo $this->__('Download'); ?></span></span></button>
            <?php else: ?>
                <button onclick="downloadPopup(<?php echo $_product->getId(); ?>);" class="button btn-cart" title="Download" type="button"><span><span><?php echo $this->__('Download'); ?></span></span></button>
            <?php endif; ?>
        </div>
        <!-- end: product-shop -->

        <?php if ($secondaryColUnits): //(!empty($secondaryColUnits)): ?>
        <div class="product-secondary-column <?php echo $secondaryColGridClass; ?> custom-sidebar-right">
            <div class="inner">
                <?php
                foreach ($_product->getOptions() as $option) {
                    $option_id = $option->getData('option_id');
                    foreach($option->getValues() as $value){
                        if($value->getData('title') == 'test'){
                            $option_type_id_box = $value->getData('option_type_id');
                            $option_title_box = $value->getData('title');
                        }
                        if($value->getData('title') == 'Download'){
                            $option_type_id_downlaod = $value->getData('option_type_id');
                            $option_title_downlaod = $value->getData('title');
                        }
                    }
                }
                ?>
                <?php if(!$_product->isGrouped()):?>
                    <?php $currency_symbol = Mage::app()->getLocale()->currency( $currency_code )->getSymbol(); ?>
                    <div class="community-photo">
                        <div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getData('community_photo')), 'community_photo') ?></div>
                    </div>
                    <!-- <div class="stock-availibilty">
                                        <?php
                    if($_product->isSaleable()):
                        ?>
                                            <span><?php echo $this->__("deliverable"); ?></span>
                                        <?php
                    else:
                        ?>
                                            <span><?php echo $this->__("non deliverable"); ?></span>
                                        <?php
                    endif;
                    ?>
                                    </div> -->
                <?php endif; ?>
            </div>
        </div>
        <?php endif; ?>
    <div class="clear"></div>
    <?php echo $this->getLayout()->createBlock('catalog/product_list_topdownload')->setData('breakpoints', '[0, 1], [320, 1], [480, 2], [768, 3], [960, 4], [1280, 4]')->setTemplate('eb/download/product/download.phtml')->toHtml(); ?>
    <div class="clear"></div>

    <!-- Sharethis Button BEGIN -->
    <!-- <div class="share_toolbox addthis_default_style ">
        <span class='st_facebook_large' <?php /* displayText='Facebook' */ ?> ></span>
        <span class='st_twitter_large' <?php /* displayText='Tweet' */ ?> ></span>
        <span class='st_pinterest_large' <?php /* displayText='Pinterest' */ ?> ></span>
        <span class='st_email_large' <?php /* displayText='Email' */ ?> ></span>
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "3515c752-8cb1-43f1-9c34-18ca7b3eb1ee", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    </div> -->
    <!-- Sharethis Button END -->
    <div class="box-additional box-tabs grid12-12">
        <?php
        $_tabs = $this->getChild('info_tabs')->setData('author_ids',$_product->getAuthor());
        ?>
        <?php $info_tabs_html = trim($_tabs->toHtml());
        if ($info_tabs_html) echo $info_tabs_html; ?>
        <?php //Open the "Reviews" tab, when "X Review(s)" or "Be the first to review this product" links are clicked ?>
        <script type="text/javascript">
            //<![CDATA[
            jQuery(function($){$("#goto-reviews, #goto-reviews-form").click(function(){if($("#product-tabs").hasClass("accor")){$("#product-tabs .tabs-panels").data("tabs").click($(".tabs-panels .acctab").index($("#acctab-tabreviews")))}else{$("#product-tabs .tabs").data("tabs").click($("#tab-tabreviews").index())}})});
            //]]>
        </script>
        <?php echo $this->getChildHtml('product_additional_data') ?>
    </div>
    <!-- end: box-tabs -->

</div>
<?php
if(Mage::getSingleton('customer/session')->getProduct()!='' && Mage::getSingleton('customer/session')->isLoggedIn()):
    $productDownload = Mage::getSingleton('customer/session')->getProduct();
    $product = Mage::getModel('catalog/product')->load($productDownload);
    if($product->getId()):
        $allowDownload = $product->getData('allow_download_type');
        $groupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
        $groupCode  = Mage::getModel('customer/group')->load($groupId)->getCustomerGroupCode();
        $displayLink = false;
        if ($allowDownload == 'free') {
            $displayLink = true;
        }
        if($allowDownload == 'login') {
            if (Mage::getSingleton('customer/session')->isLoggedIn()){
                $displayLink = true;
            }
        }
        if($allowDownload == 'vip') {
            if (Mage::getSingleton('customer/session')->isLoggedIn() && strtolower($groupCode)=='vip'){
                $displayLink = true;
            }
        }
        if($allowDownload == true):
            ?>
            <script type="text/javascript">
                window.onload = function(){
                    downloadProduct(<?php echo $product->getId(); ?>);
                }
            </script>
            <?php Mage::getSingleton('customer/session')->setProduct(''); ?>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
<!-- end: product-view -->