@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);
.left{float:left !important;}
.right{float:left !important;}	
.clear{clear:both !important;}
.hidden{display:none}
.move-columns{margin-bottom:15px;}

#floatingCirclesG{position:relative;width:64px;height:64px;-moz-transform:scale(0.6);-webkit-transform:scale(0.6);-ms-transform:scale(0.6);-o-transform:scale(0.6);transform:scale(0.6);margin: 0 auto;top: 50%;}
.f_circleG{position:absolute;background-color:#FFFFFF;height:12px;width:12px;-moz-border-radius:6px;-moz-animation-name:f_fadeG;-moz-animation-duration:0.72s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-webkit-border-radius:6px;-webkit-animation-name:f_fadeG;-webkit-animation-duration:0.72s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-ms-border-radius:6px;-ms-animation-name:f_fadeG;-ms-animation-duration:0.72s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-o-border-radius:6px;-o-animation-name:f_fadeG;-o-animation-duration:0.72s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;border-radius:6px;animation-name:f_fadeG;animation-duration:0.72s;animation-iteration-count:infinite;animation-direction:linear;}
#frotateG_01{left:0;top:26px;-moz-animation-delay:0.27s;-webkit-animation-delay:0.27s;-ms-animation-delay:0.27s;-o-animation-delay:0.27s;animation-delay:0.27s;}
#frotateG_02{left:8px;top:8px;-moz-animation-delay:0.36s;-webkit-animation-delay:0.36s;-ms-animation-delay:0.36s;-o-animation-delay:0.36s;animation-delay:0.36s;}
#frotateG_03{left:26px;top:0;-moz-animation-delay:0.45s;-webkit-animation-delay:0.45s;-ms-animation-delay:0.45s;-o-animation-delay:0.45s;animation-delay:0.45s;}
#frotateG_04{right:8px;top:8px;-moz-animation-delay:0.54s;-webkit-animation-delay:0.54s;-ms-animation-delay:0.54s;-o-animation-delay:0.54s;animation-delay:0.54s;}
#frotateG_05{right:0;top:26px;-moz-animation-delay:0.63s;-webkit-animation-delay:0.63s;-ms-animation-delay:0.63s;-o-animation-delay:0.63s;animation-delay:0.63s;}
#frotateG_06{right:8px;bottom:8px;-moz-animation-delay:0.72s;-webkit-animation-delay:0.72s;-ms-animation-delay:0.72s;-o-animation-delay:0.72s;animation-delay:0.72s;}
#frotateG_07{left:26px;bottom:0;-moz-animation-delay:0.81s;-webkit-animation-delay:0.81s;-ms-animation-delay:0.81s;-o-animation-delay:0.81s;animation-delay:0.81s;}
#frotateG_08{left:8px;bottom:8px;-moz-animation-delay:0.9s;-webkit-animation-delay:0.9s;-ms-animation-delay:0.9s;-o-animation-delay:0.9s;animation-delay:0.9s;}

@-moz-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-webkit-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-ms-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-o-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}

.opc-ajax-loader{background-color: rgba(0, 0, 0, 0.6);height: 100%;left: 0;position: fixed;top: 0;width: 100%;display:none;z-index: 10000 !important;}
.opc-checkout-cart{}

/** BASE OPC ELEMENTS **/
.opc-wrapper-opc{overflow: hidden;margin: 0 auto;}
.opc-wrapper-opc *{font-family: 'Open Sans', Arial, Helvetica;color:#393939;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.opc-wrapper-opc label{color:#393939;font-weight:normal;font-size:14px;line-height: 1.25em;margin-bottom:2px;text-align: left;}
.opc-wrapper-opc h3{font-weight:600;color:#404040; font-size:16px;text-align:left;border-bottom:1px solid #b6b6b6;padding-bottom:8px;line-height: 1;margin-bottom: 20px}
/*.opc-wrapper-opc .validation-advice{font-weight:normal;text-align: left;position: absolute;width: 8px;height: 8px;font-size: 0;text-indent: -999em;top: 50%;right: -10px;margin: 0;}
.opc-wrapper-opc .validation-advice:before{content: "*";font-size: 12px;text-indent: 0;}*/
.opc-wrapper-opc h2{color:#4a4a4a; font-size:30px; font-weight:600;text-align:left}
.opc-wrapper-opc p{font-size:16px; color:#393939;text-align:left;margin: 0 0 10px;}
.opc-wrapper-opc input{box-shadow:none;background: none}
.opc-wrapper-opc input:focus{box-shadow:none;}
.opc-wrapper-opc .opc-col-left{width:30%;float: left;margin-right:20px;}
.opc-wrapper-opc .opc-col-center{float: left;width:30%;margin-right:20px;margin-left:20px;}
.opc-wrapper-opc .opc-col-right{float: left;width: 30%;margin-left:20px;}
.opc-wrapper-opc a:hover{color:#00909e;}
.opc-wrapper-opc input.input-text:focus, .opc-wrapper-opc select:focus, .opc-wrapper-opc  textarea:focus {background-color: #fff;}
.opc-wrapper-opc span.validation-passed, .opc-wrapper-opc div.validation-passed{background-image:none}

.star-required{display: inline-block;color: red;}

/*FIX FOR INFORTIS THEMES*/
#root-wrapper .in-col1 .opc-wrapper-opc input{height:36px }

/** LOGIN FORM **/
.opc-wrapper-opc .text-login{color:#6b6b6b; font-size:14px; font-weight:400;}
.opc-wrapper-opc .text-login a{color:#00909e;text-transform:uppercase;font-weight:600;text-decoration: none;cursor:pointer;}
.opc-wrapper-opc .form-list .input-box{width:100%}
.opc-wrapper-opc .form-list .input-box input[type="text"],
.opc-wrapper-opc .form-list .input-box input[type="password"]{}

/** FORGOT PASSWORD FORM **/
.opc-wrapper-opc #form-validate-email p{font-size:14px;}
.opc-wrapper-opc  .back-link{float: left;}


/** BILLING AND SHIPPING FORM **/
.opc-wrapper-opc .opc-col-left li{}
.opc-wrapper-opc .opc-col-left .input-box {width:280px;padding:0}
.opc-wrapper-opc .opc-col-left input[type="text"],
.opc-wrapper-opc .opc-col-left input[type="password"]{border:1px solid #d8d8d8; height:22px;padding:0;padding-left:5px;}
.opc-wrapper-opc .opc-col-left .wide select{border:1px solid #d8d8d8; height:24px;padding:0;width:100%;padding-left:5px;}
.opc-wrapper-opc .opc-col-left .customer-name .field{width:132px;}
.opc-wrapper-opc .opc-col-left .customer-name .field:first-child{margin-right:14px;}
.opc-wrapper-opc .opc-col-left .customer-name .input-box{width:132px;}
.opc-wrapper-opc .opc-col-left .customer-name input[type="text"]{width:130px;}
.opc-wrapper-opc .opc-col-left .wide{width:100%}
.opc-wrapper-opc .opc-col-left .wide .input-box {width:100%;padding:0}
.opc-wrapper-opc .opc-col-left .wide input[type="text"]{border:1px solid #d8d8d8; height:22px;padding:0;width:100%;padding-left:5px;}
.opc-wrapper-opc .opc-col-left .fields .field{ clear: none;float: left;width: 46%;}
.opc-wrapper-opc .opc-col-left .fields .field:first-child{margin-right:21px;}
.opc-wrapper-opc .opc-col-left .fields .input-box{width:100%;}
.opc-wrapper-opc .opc-col-left .fields input[type="text"],
.opc-wrapper-opc .opc-col-left .fields input[type="password"]{width:100%;}
.opc-wrapper-opc .opc-col-left .fields select{width:100%}
.opc-wrapper-opc .opc-col-left .control{text-align: left;}
.opc-wrapper-opc .opc-col-left .control label{font-size: 13px}
.opc-wrapper-opc .opc-col-left .notice{font-size:13px; color:#6e6e6e; font-style: italic;margin-bottom:5px}


.opc-wrapper-opc .opc-data-table{width:100%;}
.opc-wrapper-opc .opc-data-table thead th{color:#1c1c1c; font-size:15px;padding:0 10px 7px;border-bottom:1px solid #eaeaea}
.opc-wrapper-opc .opc-data-table thead tr th:first-child{padding-left:0}
.opc-wrapper-opc .opc-data-table thead tr th:last-child{padding-right:0}
.opc-wrapper-opc .opc-data-table tbody td{padding:10px;border-bottom:1px solid #eaeaea;color:#676767; font-size:14px;font-weight:400}
.opc-wrapper-opc .opc-data-table tbody tr td:first-child{padding-left:0}
.opc-wrapper-opc .opc-data-table td.last{padding-right:0}
.opc-wrapper-opc .opc-data-table tbody td .price{color:#676767; font-size:14px;font-weight:400}
.opc-wrapper-opc .opc-data-table tbody td h3{color:#676767; font-size:14px;font-weight:400;border:none;margin:0;padding:0}
.opc-wrapper-opc .opc-data-table tfoot td{padding:10px 0;border-bottom:1px solid #eaeaea;color:#676767; font-size:14px;font-weight:normal;vertical-align: middle;}
.opc-wrapper-opc .opc-data-table tfoot td strong .price{color:#3f3f3f;font-size:14px;}
.opc-wrapper-opc .opc-data-table tfoot th{padding:10px 0;border-bottom:1px solid #eaeaea;color:#676767; font-size:14px;font-weight:normal;vertical-align: middle;}
.opc-wrapper-opc .opc-data-table tfoot th strong .price{color:#3f3f3f;font-size:14px;}
.opc-wrapper-opc .opc-data-table tfoot tr:last-child td{border-bottom:none}


/** GIFT PAYMENTS METHODS BLOCK */*
.opc-wrapper-opc .payment-block{margin-top:40px; position: relative;}
.opc-wrapper-opc .payment-block.clear-margin{margin-top:0}
.opc-wrapper-opc .payment-block .tool-tip{top:0 !important}
.opc-wrapper-opc .payment-block dl,
.opc-wrapper-opc .payment-block dt{text-align:left;font-size:14px;color:#000000;}
.opc-wrapper-opc .payment-block dt{margin: 0px 0 13px;}
.opc-wrapper-opc .payment-block dt label{text-align:left;font-size:14px;color:#000000}
.opc-wrapper-opc .payment-block h3{}
.opc-wrapper-opc .payment-block li{margin-bottom:12px;}
.opc-wrapper-opc .payment-block .form-list{padding-left:0}
.opc-wrapper-opc .payment-block .form-alt{color: #6E6E6E;font-size: 13px;font-style: italic;margin-bottom: 5px;}
.opc-wrapper-opc .payment-block .sp-methods .form-list{padding:0}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward,
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward dt{margin-top:0}
.opc-wrapper-opc .payment-block #customerbalance_placer{margin-bottom:13px}
.opc-wrapper-opc .payment-block #reward_placer{margin-bottom:13px}

/** GIFT SHIPPING METHODS BLOCK */*
.opc-wrapper-opc .shipping-block{/*display:none;*/}
.opc-wrapper-opc .shipping-block dl,
.opc-wrapper-opc .shipping-block dt{text-align:left;font-size:14px;color:#000000}
.opc-wrapper-opc .shipping-block dt{margin: 13px 0 5px;}
.opc-wrapper-opc .shipping-block dt label{text-align:left;font-size:14px;color:#000000}
.opc-wrapper-opc .shipping-block p{font-size:13px; color:#6e6e6e; font-style: italic;margin-top:20px}
.opc-wrapper-opc .shipping-block h3{margin-bottom:0}
.opc-wrapper-opc .validation-advice{background:none;padding-left:0}


/** GIFT DISCOUNT BLOCK */*
.opc-wrapper-opc #checkout-review-submit .agree{padding-left:0;padding-bottom:0}
.opc-wrapper-opc #checkout-review-submit .agree label{color:#676767; font-size:14px;font-weight:normal;}
.opc-wrapper-opc #checkout-review-submit li{margin-bottom:0;margin-top: 0;}
.opc-wrapper-opc #checkout-review-submit .checkout-agreements{padding:0}
.opc-wrapper-opc #checkout-review-submit .view-agreement{text-decoration:none;color:#676767; font-size:14px;cursor:pointer;font-weight: normal;}
.opc-wrapper-opc #checkout-review-submit .view-agreement:hover{color:#00909e;}
.opc-wrapper-opc #checkout-review-submit .agreement-content{margin-top:20px;margin-bottom:0}


/** GIFT DISCOUNT BLOCK */*
.opc-wrapper-opc .discount-block{margin-top: 40px;}
.opc-wrapper-opc .discount-block .input-box {width:100%;padding:0}
.opc-wrapper-opc .discount-block input[type="text"]{border:1px solid #d8d8d8; height:22px;padding:0;width:100%;}
.opc-wrapper-opc .discount-block .button{display:block;height:44px;border:none;margin: 0 auto;float:left;}
.opc-wrapper-opc .discount-block .button span{background:#00909e;border:none;height:40px;line-height:40px;-webkit-border-radius: 3px;border-radius: 3px;padding: 0;}
.opc-wrapper-opc .discount-block .button span span{background:#00909e;color:#ffffff;font-size:16px;font-weight:bold;text-transform:uppercase;text-shadow:0 1px 1px #02484f;padding:0 20px}
.opc-wrapper-opc .discount-block .buttons-set{margin-top:20px;overflow:hidden;}
.opc-wrapper-opc .discount-block .appl-ycoupon{float:left}
.opc-wrapper-opc .discount-block .remove-coupon{float: right !important;}


/** GIFT MESSAGES BLOCK */*
.opc-wrapper-opc .gift-messages{margin-top:40px}
.opc-wrapper-opc .gift-messages-form .item .details .form-list .field{/*width:170px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list .input-box {/*width:170px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list li.wide .input-box {/*width:168px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list textarea{border:1px solid #d8d8d8; height:80px;padding:0;/*width:163px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .details .form-list li.wide  textarea{border:1px solid #d8d8d8; height:80px;padding:0;/*width:167px;*/ width:100%} 
.opc-wrapper-opc .gift-messages-form .item .details .form-list .input-box{/*width:170px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .details .form-list input[type="text"]{/*width:163px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .number{font-weight:normal}
.opc-wrapper-opc .gift-messages-form li.wide .input-box{width:100%}
.opc-wrapper-opc .gift-messages-form li.wide textarea{width:100%}

.opc-wrapper-opc .gift-messages-form li .field{width:100%}
.opc-wrapper-opc .gift-messages-form li .input-box{width:100%}
.opc-wrapper-opc .gift-messages-form li input{width:100%}
.opc-wrapper-opc .gift-messages-form li textarea{width:100%}

/** CUSTOMER OPC MESSAGE BLOCK **/
.opc-message-wrapper{background-color: rgba(0, 0, 0, 0.6);display: none;height: 100%;left: 0;position: fixed;top: 0;width: 100%;z-index: 10001;}
.opc-messages{	-moz-box-sizing: border-box;	-webkit-box-sizing: border-box;	box-sizing: border-box;	padding:30px;	position:absolute;	display:none;	-webkit-border-radius: 10px;	border-radius: 10px;    color:#404040;    display: block;    font-size: 16px;    left: 50%;    margin-left: -205px;    margin-top: -20px;    position: absolute;    text-align: left;    top: 30%;    width: 410px;	-webkit-box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	background-color: #fefefe ;	font-weight:normal;z-index: 1;}
.opc-message-container{text-align: center;}
.opc-messages-action{text-align:center;margin-top:20px}
.opc-messages-action .button{display:block;height:44px;border:none;margin: 0 auto;}
.opc-messages-action .button span{background:#00909e;border:none;height:40px;line-height:40px;-webkit-border-radius: 3px;border-radius: 3px;}
.opc-messages-action .button span span{background:#00909e;color:#ffffff;font-size:16px;font-weight:bold;text-transform:uppercase;text-shadow:0 1px 1px #02484f;padding:0 20px}
.close-message-wrapper {background: url("images/close.png") no-repeat scroll 0 0 transparent;display: block;height: 8px;position: absolute;width: 8px;z-index: 1005;right: 18px;top: 15px;cursor:pointer}

/** BUTTONS */
.opc-wrapper-opc .btn{height:35px;border:none;margin: 0 auto;background:none !important;cursor:pointer}
.opc-wrapper-opc .btn span{background:#00909e;border:none;height:35px;line-height:35px;-webkit-border-radius: 3px;border-radius: 3px;display:block;padding: 0;}
.opc-wrapper-opc .btn span span{background:#00909e;color:#ffffff;font-size:12px;font-weight:bold;text-transform:uppercase;text-shadow:0 1px 1px #02484f;padding:0 10px}

.opc-wrapper-opc .btn-checkout{display:block;width:100%;height:45px;}
.opc-wrapper-opc .btn-checkout span{background:#00909e;-webkit-border-radius: 3px;border-radius: 3px;width:100%;line-height: 46px;padding: 0 !important;height: 45px;padding: 0;}
.opc-wrapper-opc .btn-checkout span span{background:#00909e;color:#ffffff;font-size:18px;font-weight:bold;text-transform:uppercase;text-shadow:0 1px 1px #02484f}
.opc-wrapper-opc .buttons-set{border:none;margin-top:10px}

.opc-wrapper-opc .opc-newsletter{margin-top:10px;}
.opc-wrapper-opc .opc-newsletter li{margin-bottom:0}
.opc-wrapper-opc .opc-newsletter li label{color:#676767; font-size:14px;font-weight:normal;}


/** COMMENT BLOCK **/
.opc-wrapper-opc .comment-block{margin-top:40px;}
.opc-wrapper-opc .comment-block textarea{width:100%;height: 110px;resize: none;
    -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
    -moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
    box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
}


/*-- CUSTOM --*/

.data-steps,
.address-data{margin-top: 40px;}
.data-steps .page-title{margin: 0;}
.data-steps .page-title h1,
.address-data #co-billing-form h3,
.delivery-options-wrap h3{font: 600 30px 'open sans';line-height: 36px;color: #4c4c4c;margin: 0;min-height: 0;}
span.main-amount-text{font: 700 20px 'open sans';color: #4c4c4c;display: block;text-align: right;line-height: 20px;}
span.more-info{font: 100 14px 'open sans';color: #4c4c4c;text-align: right;display: block;}
.main-layout .data-table tr.even{background: none;}
.main-layout .cart-table-wrapper{margin: 20px 0 0;}
.main-layout .cart tr th,
.main-layout .cart tr td{padding: 10px;border-bottom: 1px solid #cdcdcd;box-sizing: content-box;}
.main-layout .cart tr th{padding-top: 0;border: 1px solid #fff;border-bottom: 1px solid #cdcdcd;font: 700 20px 'open sans';color: #4c4c4c;line-height: 20px;vertical-align: top;}
.main-layout .cart tr th:last-child{padding-right: 10px;}
.main-layout .cart tr td{border-right: none;}
.main-layout .cart .cart-table tr td.last{border-right: 1px solid #cdcdcd;text-align: right;width: 10%;padding-right: 10px;vertical-align: middle;}
.main-layout .cart tr td:first-child{border-left: 1px solid #cdcdcd;padding-left: 40px;}
.main-layout .cart tr td.col-total{vertical-align: top;}
.main-layout .cart .item-image{display: inline-block;width: 90px;vertical-align: middle;}
.main-layout .cart .item-name{display: inline-block;vertical-align: middle;}
.main-layout .cart td:first-child,
.main-layout .cart .item-name .text-name{font: 600 20px 'open sans';color: #4c4c4c;}
.main-layout .cart td span.text{font-weight: 100;font-size: 12px;color: #4c4c4c;}
.main-layout .cart .price{font: 600 20px 'open sans';color: #4c4c4c;}
.main-layout .cart .discount-form label,
.main-layout .cart tr.last td h2{width: 465px;font-size: 20px;font-weight: 600;color: #4c4c4c;margin: 0;}
.main-layout .cart .discount-form label,
.main-layout .cart .discount-form .input-box{display: inline-block;vertical-align: middle;}
.main-layout .cart .discount-form{text-align: left;}
.main-layout .cart .discount-form .input-box .validation-advice{font-size: 12px;font-weight: normal;color: red;}
.main-layout .cart .discount-form .input-text{width: 250px;height: 35px;}
.main-layout .cart .discount-form .coupon-note{display: block;text-align: center;font-weight: 100;font-size: 14px;text-decoration: underline;color: #4c4c4c;margin-top: 2px;}
.main-layout .cart #discount-amount .price{color: #c5191a;}
.main-layout .cart tbody tr.last td .text{font-weight: 100;font-size: 16px;color: #4c4c4c;width: 510px;display: inline-block;}
.main-layout .cart tr.last td select{width: 250px;}
.main-layout .cart tfoot td{border: none!important;text-align: left;}
.main-layout .cart .btn-remove{display: none;}
.main-layout .cart .btn-update{display: block;margin: 0 auto;vertical-align: middle;float: none;font: 300 14px 'open sans';color: #4c4c4c;text-decoration: underline;background: none;text-indent: 0;width: auto;height: auto;cursor: pointer;}
#billing-new-address-form + li.control{display: none;}

.opc-wrapper-opc .cart-collaterals{margin-top: 0;}
.opc-wrapper-opc .cart .totals{background: none;}
.opc-wrapper-opc .cart .totals-inner{padding: 0 10px 0 0;background: none;}
.opc-wrapper-opc .cart .totals-inner td,
.opc-wrapper-opc .cart .totals-inner td:first-child{border: none;}
.opc-wrapper-opc .cart .totals td{vertical-align: bottom;padding: 5px 0 0 40px;font-size: 16px;font-weight: 100;color: #4c4c4c;}
.opc-wrapper-opc .cart .totals td .price{font-weight: 100;color: #4c4c4c;font-size: 16px;}
.opc-wrapper-opc .cart .totals tfoot td strong{color: #4c4c4c;}
.opc-wrapper-opc .cart .totals tfoot td .price{color: #4c4c4c;font-weight: 700;}
.opc-wrapper-opc .cart-table .buttons-set{margin: 0;display: inline-block;vertical-align: top;float: right;}

.opc-wrapper-opc .form-list li{margin-bottom: 0;}
.opc-wrapper-opc .form-list li.wide,
.opc-wrapper-opc .form-list .field{margin-bottom: 10px;}

.addition-checkout-buttons{display: inline-block;width: 100%;margin: 20px 0 0;padding: 0 20px;}
.addition-checkout-buttons .paypal-or{display: inline-block;vertical-align: middle;padding: 0 0 0 50px;margin: 10px 0 0;}
.addition-checkout-buttons > *{padding: 0 20px;display: inline-block;vertical-align: middle;}
.addition-checkout-buttons .text{width: 290px;font: 300 16px 'open sans';color: #4c4c4c;line-height: 22px;}
.addition-checkout-buttons .text span + span{font-weight: 600;}
/*.addition-checkout-buttons .goto-step2{text-align: center;background: #053e73;color: #fff;font: 600 14px 'open sans';float: right;padding: 5px 30px;cursor: pointer;}*/

.address-data #co-billing-form h3{border: none;}
.address-data #co-billing-form .text{display: block;text-align: right;font: 100 12px 'open sans';color: #4c4c4c;}
.address-data .form-list{display: inline-block;width: 100%;margin: 8px 0 0;box-sizing: border-box;-webkit-box-sizing: border-box;padding: 25px 40px;border: 1px solid #cdcdcd;}
.address-data .form-list .field{float: none;width: 100%;}
.address-data .form-list label{display: inline-block;width: 170px;vertical-align: top;float: none;font: 600 20px 'open sans';color: #4c4c4c;}
.address-data .form-list label.required em{position: static;float: none;}
.address-data .form-list label.subscribed{width: 54%;/* margin-left: 25px;*/}
.address-data .form-list .input-box{float: none;display: inline-block;width: auto;}
.address-data .form-list .input-box + .input-box{margin-top: 3px;}
.address-data .form-list .wide + .wide > .input-box{margin-left: 173px;}
.address-data .form-list input[type=text],
.address-data .form-list select{box-sizing: border-box;height: 30px!important;border: 1px solid #cdcdcd;padding: 0 10px;width: 550px;}
/*.address-data .form-list select{width: 250px;}*/
.address-data .form-list .customer-name input[type=text]{width: 450px;}
.address-data .form-list .customer-name .field:first-child input[type=text]{width: 150px;}
.address-data .form-list input.validate-zip-international{width: 150px;}
.address-data .form-list label[for="billing-address-select"] {display: block; width: 100%; margin-bottom: 10px;}

.shipment-payment .shipping-block h3,
.shipment-payment .payment-block h3{font-weight: 600;font-size: 36px;color: #4c4c4c;margin: 30px 0;padding: 0;border: none;}
.shipment-payment #checkout-shipping-method-load p{padding: 25px 40px;border: 1px solid #cdcdcd;font-weight: 600;font-size: 20px;color: #4c4c4c;margin: 0;font-style: normal;line-height: 22px;}
.shipment-payment #checkout-shipping-method-load .sp-methods dt{display: none;}
.shipment-payment #checkout-shipping-method-load .sp-methods dd{padding: 19px 40px;border: 1px solid #cdcdcd;margin: 0;border-bottom: none;}
.shipment-payment #checkout-shipping-method-load .sp-methods dd:last-child{border-bottom: 1px solid #cdcdcd;}
.shipment-payment #co-payment-form fieldset{display: inline-block;width: 100%;background: #f2f2f2;}
.shipment-payment #co-payment-form dt{margin: 0;padding: 22px 40px;border: 1px solid #cdcdcd;border-top: none;position: relative;min-height: 80px;}
.shipment-payment #co-payment-form dt:first-child{border-top: 1px solid #cdcdcd;}
.shipment-payment #co-payment-form dt label,
.shipment-payment a.view-agreement{font-weight: 600;font-size: 20px;color: #4c4c4c;line-height: 29px;}
.opc-wrapper-opc input[type=radio],
.opc-wrapper-opc input[type=checkbox]{visibility: hidden;position: absolute;opacity: 0;}
.opc-wrapper-opc input[type=radio] + label,
.opc-wrapper-opc input[type=checkbox] + label,
.opc-wrapper-opc input[type=checkbox] + a.view-agreement{position: relative;padding-left: 31px;display: inline-block;font: 600 20px 'open sans';color: #4c4c4c;line-height: 29px;}
.opc-wrapper-opc input[type=radio] + label:before,
.opc-wrapper-opc input[type=checkbox] + label:before,
.opc-wrapper-opc input[type=checkbox] + a.view-agreement:before{width: 16px;height: 16px;width: 16px;position: absolute;top: 7px;left: 0;content: "";cursor: pointer;
    background-color: #efefef;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
    -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
}
.opc-wrapper-opc input[type=radio]:checked + label:after,
.opc-wrapper-opc input[type=checkbox]:checked + label:after,
.opc-wrapper-opc input[type=checkbox]:checked + a.view-agreement:after{width: 10px;height: 10px;position: absolute;top: 10px;left: 3px;content: "";background: #009a3c;}
/*.opc-wrapper-opc input[type=checkbox]:checked{visibility: visible;opacity: 1;}*/
.shipment-payment .checkout-agreements{padding: 30px 40px 15px;}
.shipment-payment #co-payment-form dd ul{padding: 10px 40px 10px 60px;border: 1px solid #cdcdcd;border-top: none;}
.opc-wrapper-opc .btn-checkout{float: right;clear: both;width: 378px;height: 40px;background: #009a3c!important;}
.opc-wrapper-opc .btn-checkout span,
.opc-wrapper-opc .btn-checkout span span{background: none!important;display: inline;font-weight: 600;font-size: 18px;text-shadow: none;background: none;height: auto;line-height: 40px;}
.opc-wrapper-opc .discount-block .buttons-set{text-align: right;width: 764px;}
.opc-wrapper-opc .discount-block .button{display: inline-block;background: none;}

.v-fix + .v-fix{margin-left: 15px;}

.addition-checkout-buttons .goto-step2,
span.goto-step3{clear: both;float: right;width: 200px;height: 40px;font: 600 18px 'open sans';color: #fff;background: #009a3c;line-height: 20px;text-align: center;padding: 10px 0;margin: 20px 0 0;cursor: pointer;}
.addition-checkout-buttons .goto-step2{margin-top: 0;}
span.goto-step3{width: 400px;}

.checkout-agreements{padding: 30px 40px 0;}
.checkout-agreements .agree input[type=checkbox] + label,.checkout-agreements .agree .checkout-term{font-weight: 100;}
.opc-wrapper-opc input[type=checkbox] + a.view-agreement{font-weight: 100;}
.customer-info{width: 100%;margin-bottom: 40px;}
.customer-info tr{border: 1px solid #cdcdcd;}
.customer-info td{padding: 10px 10px 20px;font: normal 14px 'open sans';color: #4c4c4c;}
.customer-info td:first-child{text-transform: uppercase;color: #4c4c4c;}
.customer-info td span{display: block;}
.customer-info td span.button{cursor: pointer;text-decoration: underline;}

.review-info{padding: 0 30px;}
.review-info .customer-info tr{border: none;}
.review-info .customer-info td{padding: 10px;font: 300 18px 'open sans';text-transform: none;}
.review-info .customer-info td span{color: #4c4c4c;}
.review-info .customer-info td span.button{font-weight: 600;text-decoration: none;line-height: 20px;width: 250px;display: block;background-color: #f2f2f2;height: 40px;text-align: center;padding: 10px 0;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.25);
    box-shadow: 1px 1px 2px rgba(0,0,0,.25);
}
.review-info .customer-info td span.button:hover{background: #eee;}
.review-info .customer-info td:first-child{color: #4c4c4c;font-size: 20px;font-weight: 600;width: 10%;}
.review-info .customer-info td:last-child{width: 10%;}

.review-info .cart-table td:last-child{text-align: right;padding-right: 40px;}

.checkout-contact-info,
.checkout-signin{float: left;width: 50%;box-sizing: border-box;-webkit-box-sizing: border-box;padding: 0;margin-top: -40px;}
.checkout-contact-info{padding-left: 40px;}
.checkout-contact-info .mobile,
.checkout-contact-info .chat{padding: 20px 0 20px 78px;font-weight: 600;font-size: 18px;line-height: 24px;background: url("images/phone-ic.png") no-repeat left center;}
.checkout-contact-info .chat{background-image: url("images/cmt-ic.png");}
.checkout-contact-info .text{color: #4c4c4c;display: block;}
.checkout-contact-info .mobile-number{color: #4c4c4c;display: block;}
.checkout-signin{padding: 0;margin-right: 40px;text-align: left;font-size: 18px;font-weight: 100;line-height: 20px;margin-top: 25px;float: none;clear: both;width: 100%;}
.checkout-signin .input-box{display: inline-block;vertical-align: top;margin: 50px 0 30px 30px;}
.checkout-signin .input-box label{color: #4c4c4c;font-size: 30px!important;}
.checkout-signin .input-box label a:hover{color: #4c4c4c;}
.checkout-signin span{display: block;padding: 10px 0;color: #fff;}
.checkout-signin span.is-ready-customer-login{font-weight: 600;background: #053e73;}

.thankyou-steps .checkout-agreements li{margin-bottom: 10px;}
.thankyou-steps .checkout-agreements .agree,
.thankyou-steps .checkout-agreements .agree a{font-weight: 100;color: #4c4c4c;font-size: 20px;line-height: 29px;}
.thankyou-steps .checkout-agreements .agree .checkout-term,
.thankyou-steps .checkout-agreements .agree .conditions{text-decoration: underline;margin-left: 5px;color: #064b8b;}

.opc-wrapper-opc .comment-block{margin: 30px 0 40px;padding: 0 40px;}
.opc-wrapper-opc .comment-block h3{font-weight: 100;font-size: 20px;line-height: 29px;border: none;padding: 0;margin-bottom: 10px;}

.delivery-options-wrap h3{border: none;margin: 0;padding: 40px 0 30px;}
.delivery-options-wrap .delivery-options{background: #f2f2f2;}
.delivery-options-wrap .delivery-control{padding: 22px 40px;border: 1px solid #cdcdcd;}
.delivery-options-wrap .delivery-control + .delivery-control{border-top: none;}
.cart .cart-right-column{width: 60%;}
.opc-wrapper-opc .cart .totals td.save-amount-total,
.opc-wrapper-opc .cart .totals td.save-amount-total .price,
.opc-wrapper-opc .cart .you-have-saved,
.opc-wrapper-opc .cart .you-have-saved span {color: #5cb85c;font-weight: 600;}
.opc-wrapper-opc .cart .you-have-saved,
.opc-wrapper-opc .cart .price-original {clear: right; float: right; font-size: 16px; line-height: 30px;}
.opc-wrapper-opc .cart .totals td.sales-original-price strong,
.opc-wrapper-opc .cart .totals td.sales-original-price span,
.opc-wrapper-opc .cart .price-original,
.opc-wrapper-opc .cart .price-original span {color: #808080}
.opc-wrapper-opc .cart .price-original {font-weight: bold;}
#opc-address-form-shipping h3{
    border: none;
    color: #4c4c4c;
    font: 600 36px/36px "open sans";
    margin-top: 30px;
}

#co-payment-form label[for=p_method_paypal_express] > img{display: none;}
/*#co-payment-form label[for=p_method_paypal_express] .payment-logo{display: inline-block;vertical-align: top;}*/
#co-payment-form label[for=p_method_saferpaycw_creditcard] .payment-logo, #co-payment-form label[for=p_method_paypal_express] .payment-logo, #co-payment-form label[for=p_method_paymentnetwork_pnsofortueberweisung] .payment-logo{display: inline-block;margin-left: 20px;vertical-align: top;}
#co-payment-form .payment-active{background: #fff;}
#co-payment-form .safe-pay-method .safe-pay-info{margin: 22px 0 0;}
#co-payment-form .safe-pay-method .safe-pay-info .safe-methhod{display: inline-block;vertical-align: top;margin-right: 30px;}
#co-payment-form .safe-pay-method .safe-pay-info .safe-methhod .safe-method-log{display: inline-block;vertical-align: top;}

.opc-wrapper-opc .customer-name-prefix .name-prefix select{width: 150px;text-align: center;}
.opc-wrapper-opc #co-billing-form .form-list li.control{padding-left: 173px;position: relative;}
.opc-wrapper-opc #co-billing-form .form-list li.control label{font-weight: normal;color: #4c4c4c;font-size: 16px;}
.opc-wrapper-opc .cart-price {
    float: right;
    text-align: right;
}
.opc-wrapper-opc .cart-price > span {display: block}
.opc-wrapper-opc .cart-price .original-price span {font-size: 14px; text-decoration: line-through; color: #808080 !important; vertical-align:top;}
.opc-wrapper-opc .form-list li.control input.radio, .form-list li.control input.checkbox {
    /*bottom: -13px;*/
    /*margin-right: 6px;*/
    /*opacity: 1;*/
    /*visibility: visible;*/
}
@media (max-width: 1250px) {
	.opc-wrapper-opc .opc-col-left .fields .field:first-child {
    	margin-right: 20px;
	}
}

@media (max-width: 1180px) {
	.opc-wrapper-opc .opc-col-left .fields .field:first-child {
    	margin-right: 15px;
	}
}

@media (max-width: 980px) {
	.opc-wrapper-opc .opc-col-left{width:100%;float:none;margin-bottom:30px;margin-left:0}
	.opc-wrapper-opc .opc-col-center{width:100%;float:none;margin-bottom:30px;margin-left:0}
	.opc-wrapper-opc .opc-col-right{width:100%;float:none;margin-bottom:30px;margin-left:0}

	.opc-wrapper-opc .opc-col-left .fields .field{float:right;}
	.opc-wrapper-opc .opc-col-left .fields .field:first-child{float:left;}
	.opc-wrapper-opc .opc-data-table{width:100%;}

    .checkout-steps li{width: 230px;}
    .main-layout .cart .discount-form label, .main-layout .cart .discount-form .input-box{margin-top: 25px;}
    .opc-wrapper-opc .discount-form .buttons-set{margin-left: 0;text-align: left;}
    .opc-wrapper-opc .discount-form .buttons-set button.button{float: none;}
    .checkout-contact-info{padding-left: 0;width: 45%;}
    .checkout-signin{margin-right: 0;width: 55%;max-width: 378px;}
    .address-data .form-list input[type="text"], .address-data .form-list select{width: 440px;}

    .main-layout .cart tr th{font-size: 16px;}
    .cart .cart-right-column{width: 70%;}
    .checkout-contact-info, .checkout-signin{margin-top: 0;}
}


@media (min-width: 768px) {
	.modal-dialog {width: 305px;    margin: 30px auto;  }
	#agreement-dialog .modal-dialog{width:600px}
	.modal-content {-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);  }
	.modal-sm {   width: 300px;}
}

/*---- CUSTOM RESPONSIVE
---------------------------------------------------------*/
@media screen and (min-width: 767px) and (max-width: 959px){
    .checkout-steps li{width: 227px;}
}
@media screen and (max-width: 767px) {
    .checkout-steps li{width: 31%;margin: 0 0 10px;margin-left: 3px;line-height: 1.7;}
    .checkout-steps li.step-3{padding-top: 29px;}
    .main-layout .cart tr th, .main-layout .cart tr td{padding: 10px 0;box-sizing: border-box;-webkit-box-sizing: border-box;}
    .main-layout .cart tr td:first-child{padding-left: 0;}
    .opc-messages{	-moz-box-sizing: border-box;	-webkit-box-sizing: border-box;	box-sizing: border-box;	padding:30px;	position:absolute;	display:none;	-webkit-border-radius: 10px;	border-radius: 10px;    color:#404040;    display: block;    font-size: 16px;    left: 0;    margin-left: 0px;    margin-top: -20px;    position: absolute;    text-align: left;    top: 30%;    width: 410px;	-webkit-box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	background-color: #fefefe ;	font-weight:normal;z-index: 1;}
    .opc-wrapper-opc *{white-space: normal!important;}
    .opc-messages{width:90%;left: 5%;}
    fieldset{display: table-cell;min-width: 0;max-width: 100%;}
    .main-layout .cart .cart-table tr td.last{width: 100%;}
    .main-layout .cart .discount-form label,
    .main-layout .cart tr.last td h2,
    .main-layout .cart tbody tr.last td .text{width: 100%;}
    .main-layout .cart tbody tr.last td .text{margin-bottom: 10px;}
    .cart-table .product-image{width: auto;}
    .cart-table tfoot tr.first td{text-align: left!important;}
    .main-layout .cart .cart-table tr td.last{padding-right: 0;text-align: left;}
    .checkout-contact-info{width: 100%;margin-top: 0;}
    .address-data .form-list{padding: 20px 10px;}
    .address-data .form-list label{display: block;width: auto;}
    .address-data .form-list input[type=radio] + label,
    .address-data .form-list input[type=checkbox] + label{display: inline-block;}
    .address-data .form-list input[type="text"],
    .address-data .form-list select,
    .address-data .form-list .input-box{width: 100%;}
    .checkout-agreements{padding: 20px 0;}
    .opc-wrapper-opc .comment-block,
    .review-info{padding: 0;}
    .customer-info td,
    .customer-info th{display: block;}
    .review-info .customer-info td:last-child{width: 100%;}
    .opc-wrapper-opc .btn-checkout{width: 100%;}
    .review-info .cart-table td:last-child{padding-right: 0;}
    .main-layout .cart .btn-update{display: inline-block;}
    #shopping-cart-table tbody td.last{text-align: right!important;}
    .opc-wrapper-opc .cart-table .buttons-set{float: none;text-align: right;width: 100%;}
    .opc-wrapper-opc .discount-form .buttons-set button.button{margin: 5px 0 0;}
    .main-layout .cart .discount-form label,
    .main-layout .cart .discount-form .input-box,
    .main-layout .cart .discount-form .input-text{width: 100%;}
    .address-data .form-list label{font-size: 18px;}
    span.goto-step3{width: 100%;}
    .opc-wrapper-opc #co-billing-form .form-list li.control{padding-left: 0;}
    .main-layout .cart tr.last td select{width: 100%;}
    .checkout-signin{width: 100%;max-width: none;}
    .checkout-signin .input-box{margin: 20px 0 10px 10px;}
    .delivery-options-wrap .delivery-control,
    .shipment-payment #checkout-shipping-method-load p,
    .shipment-payment #co-payment-form dt{padding: 22px 20px;}
    .shipment-payment #co-payment-form fieldset{display: table-cell;}
    #co-payment-form label[for="p_method_saferpaycw_creditcard"] .payment-logo{display: block;margin-left: 0;}
}
.payment-tooltip {
    font-size: 13px !important;
}
.payment-tooltip a {
    text-decoration: underline;
}
.payment-tooltip a:hover {
    text-decoration: none;
}

@media screen and (max-width: 479px) {
    .opc-messages{width: 90%;left: 5%}
    .shipment-payment #co-payment-form dt img{max-width: 128px;height: auto;
    }
    .opc-index-index .main-layout .cart tbody tr.last td .text {
    font-weight: inherit;
    font-size: 16px;
    color: #4c4c4c;
    width: 100%;
    display: inline-block;
}
}
.opc-index-index .main-layout .cart .price {
    color: #4c4c4c;
}
.opc-index-index .main-layout .cart td span.text {
    font-weight: inherit;
    font-size: 12px;
    color: #4c4c4c;
}
.opc-index-index .main-layout .cart .btn-update{
	font-weight: inherit;
	color: #4c4c4c;
}
.opc-index-index .main-layout .cart tbody tr.last td .text {
    font-weight: inherit;
    font-size: 16px;
    color: #4c4c4c;
}
.opc-index-index .col-unit-price {clear: both;}
.opc-index-index .opc-wrapper-opc .cart .totals td {
    font-weight: inherit;
    color: #4c4c4c;
}
.opc-index-index .opc-wrapper-opc .cart .totals td .price {
    font-weight: inherit;
     color: #4c4c4c;
    
}
.opc-index-index #shopping-cart-table tbody td {
    vertical-align: top;
    font: 600 20px 'open sans';
    color: #4c4c4c;
}
.opc-index-index span.more-info {
    font: 400 14px 'open sans';
    color: #4c4c4c;
    
}
.opc-index-index .opc-wrapper-opc #co-billing-form .form-list li.control label {
    font-weight: normal;
    color: #4c4c4c;
    
}