<?php

$obj = $this->getLayout()->createBlock('customtabs/awards');
$product = Mage::registry('current_product');

// print_r($obj->getAwards($product->getId()));
?>
<?php if(count($obj->getAwards($product->getId()))>0): ?>
<div>
	<a class="prev1" href="#"> << </a>	        
	<div class="anyClass1">
	    <ul>
	    <?php
	    foreach ($obj->getAwards($product->getId()) as $key => $image):
	    ?>
	        <li><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)."media/award". $image['image_path']; ?>" width="100" height="100" ></li>
	    <?php 
	    endforeach;
	    ?>
	    </ul>
	</div>
	<a class="next1" href="#"> >> </a>
</div>
<?php endif; ?>

<script type="text/javascript">
<?php if(count($obj->getAwards($product->getId()))>0): ?>
	jQuery(function() {
	    jQuery(".anyClass1").jCarouselLite({
	        btnNext: ".next1",
	        btnPrev: ".prev1",
	        visible: 4
	    });
	});
<?php endif; ?>
</script>