<?php echo Mage::registry('current_product')->getId(); ?>

<div class="main">

	<div class="main-row">

		<div class="left">
			<div class="left-image">
				<img src="#">
			</div>
		</div>
		
		<div class="right">
			<div class="right-upper">
				<div class="site-name"></div><div class="time"></div><div class="title"></div>
			</div>

			<div class="media-content">
				<p class="description">
					<span class="type"><strong>Type:</strong></span>
					Description Details
				</p>
			</div>
		</div>

	</div>


</div>