<?php
/**
 * Related products slider (thumbnails)
 */
?>
<?php if($_collectionSize = $this->getItems()->getSize()): ?>
    <?php
    $_productCollection = $this->getItems();
        $_helper = $this->helper('catalog/output');
        $theme = $this->helper('ultimo');
        $helpLabels = $this->helper('ultimo/labels');
        $helpTemplate = $this->helper('ultimo/template');
        $helpImg = $this->helper('infortis/image');
        $sliderClasses = '';
        $gridClasses = '';

        $sliderId = "itemslider-featured-{$this->getFrontendHash()}";

        //Slider parameters
        //--------------------------------------------------------------

        //Responsive mode on/off
        $isResponsive = true;

        //Number of items in a row displayed if responsive mode is off
        $showItems = 4;

        //Image width
        $imgWidth = 175;

        //Image height
        $imgHeight = 246;

        //Slider classes
        //--------------------------------------------------------------
        $sliderClasses .= ' itemslider-responsive';

        if ($_collectionSize == 1)
        {
            $sliderClasses .= ' single-item';
        }

        //Product grid classes
        //--------------------------------------------------------------
        //Size of grid elements
        if ($showItems >= 8)
        {
            $gridClasses = ' size-xs';
        }
        elseif ($showItems >= 6)
        {
            $gridClasses = ' size-s';
        }


        //Align elements to the center
        $gridClasses .= ' equal-height';
        ?>

        <div class="itemslider-wrapper slider-arrows1 slider-arrows1-pos-top-right slider-pagination1">
            <h2><?php echo $this->__('Kunden kauften auch') ?></h2>
            <div id="<?php echo $sliderId; ?>" class="itemslider<?php if($sliderClasses) echo $sliderClasses; ?> products-grid<?php if($gridClasses) echo $gridClasses; ?>">
                <?php foreach ($_productCollection as $_product): ?>
                    <div class="item">

                        <div class="product-image-wrapper" style="max-width:<?php echo $imgWidth; ?>px;">

                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true); ?>" class="product-image">

                                <?php /*if ($lazy): ?>
                                    <img class="lazyOwl" data-src="<?php echo $helpImg->getImg($_product, $imgWidth, $imgHeight, 'small_image'); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true); ?>" />
                                <?php else: */?>
                                    <img width="<?php echo $imgWidth; ?>" height="<?php echo $imgHeight; ?>" src="<?php echo $helpImg->getImg($_product, $imgWidth, $imgHeight, 'small_image'); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true); ?>" />
                                <?php //endif; ?>

                                <?php if ($theme->getCfg('category/alt_image')): ?>
                                    <?php echo $theme->getAltImgHtml($_product, $imgWidth, $imgHeight); ?>
                                <?php endif; ?>

                                <?php echo $helpLabels->getLabels($_product); //Product labels ?>
                            </a>

                        </div> <!-- end: product-image-wrapper -->

                        <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                        <?php if($_product->getRatingSummary()): ?>
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php endif; ?>
                        <?php echo $this->getPriceHtml($_product, true) ?>
                        <?php 
                        if($_product->getTypeId()=='grouped'):
                        $_coreHelper = $this->helper('core');
                         ?>
                                <?php  $price = $this->getMinimalPrice($_product); ?>
                                <div class="price-box">
                                        <span class="price price-label"><?php echo $this->__('ab') ?></span>
                                        <span class="price" id="product-price-<?php echo $_product->getId(); ?><?php echo $this->getIdSuffix() ?>">
                                            <?php echo $_coreHelper->formatPrice($price, false) ?>
                                        </span>
                                </div>
                                
                        <?php endif; ?>
                    </div>
                <?php endforeach; ?>
            </div> <!-- end: itemslider -->
        </div> <!-- end: itemslider-wrapper -->
        <script type="text/javascript">
            //<![CDATA[
            jQuery(function($) {

                var owl = $('#<?php echo $sliderId; ?>');
                owl.owlCarousel({
                    lazyLoad: true,
                    responsive: { 0:{items:1 }, 320:{items: 1}, 480:{items: 2}, 768:{items: 3}, 960:{items: 4}, 1280:{items: 4} },
                    responsiveRefreshRate: 50,
                    slideSpeed: 200,
                    autoplaySpeed: 500,
                    autoplay: true,
                    autoplayHoverPause: true,
                    loop: true,
                    dots: true,
                    nav: true
                }); //end: owl

            });
            //]]>
        </script>
<?php endif; ?>